#page {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#page {	
	-webkit-overflow-scrolling: touch;
}

/* Menu Button */
.menu-button {
	position: absolute;
	top: 0px;
	right: 0;
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	border: 1px solid #eee;
	display: inline-block;
	z-index: 10;
}

.menu-button .fa {
	font-size: 17px;
	color: #111;
	line-height: 40px;
}

/* Close Button */
.close-button {
	width: 25px; height: 25px;
	position: absolute;
	top: 14px;
	right: 25px;
	border: medium none;
	background: transparent;
	font-size: 0px;
}

.close-button::before,
.close-button::after {
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 75%;
	left: 49%;
	position: absolute;
	top: 3px;
	width: 2px;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
#off-canvas-title {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	height: 50px;
	line-height: 50px;
	padding: 0 25px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
	width: 100%;
}

#off-canvas-menu {
	float: none;
	display: block;
	padding-top: 50px;
}

#off-canvas-menu ul.nav > li {
	position: relative;
	border-bottom: 1px solid #f5f5f5;
	display: block;
	float: none;
	margin: 0;
        background: #fff;
}

#off-canvas-menu ul.nav > li > a {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-radius: 0;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	padding: 10px 0 9px;
	text-transform: uppercase;
}
#off-canvas-menu ul.nav > li > a > em {
	color: #111;
	float: right;
	font-size: 16px;
	height: 23px;
	line-height: 22px;
	position: relative;
	text-align: center;
	top: 2px;
	width: 23px;
}
#off-canvas-menu .nav-stacked {
	padding-top:10px;
}
#off-canvas-menu li.open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	padding: 0 10px 20px;
}

#off-canvas-menu ul.nav li ul a {
	font-size: 14px;
	text-transform: none;
	padding: 5px 10px;
	line-height: 25px;
	font-weight:300;
}

#off-canvas-menu .mod-content {
	display: none;
}

/* Shown menu */

.menu-wrap {
	position: fixed;
	z-index: 9999;
	width: 0;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	top: 0;
	bottom: 0;
	right: 0;
	overflow-y:scroll;
	padding: 0 25px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	right: -320px;
	transition: right 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s;
	/* -webkit-transition: width 150ms ease-out 50ms;
	-moz-transition: width 150ms ease-out 50ms;
	-ms-transition: width 150ms ease-out 50ms;
    -o-transition: width 150ms ease-out 50ms;
    transition: width 150ms ease-out 50ms; */
}

.show-menu .menu-wrap {
	width: 300px;
	opacity: 1;
	visibility: visible;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	right: 0;
	transition: right 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s;
}
