/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/
.owl-slider .item {
	position:relative;
}

.owl-theme .owl-controls {
	margin-top: 10px;
	text-align: center;
}

.owl-slider-outer.slider-listing .owl-controls {
	left:5px;
	bottom:5%;
	top:auto;
	padding-bottom:0;
}
.owl-theme .owl-controls .owl-nav {
	text-align: center;
}
/* Styling Next and Prev buttons */
.owl-theme .owl-controls .owl-nav div {
	display:inline-block;
	zoom:1;
	width: 9px;
	*display:inline
}
.owl-slider-outer .owl-slider-next:hover, .owl-slider-outer .owl-slider-prev:hover, .owl-theme .owl-controls .owl-nav div:hover {	
}
.owl-theme .owl-controls .owl-nav div.disabled {	
	cursor:default;	
}
.owl-theme .owl-controls .owl-nav div.owl-prev,
.owl-theme .owl-controls .owl-nav div.owl-next {
	display: inline-block;
	position: absolute;
	text-align: center;
	top:0;
	height:50px;
	width: 50px;
	font-size:0;
	line-height:50px;
	border:1px solid #ebebeb;
	border-top: none;
	border-bottom: none;
}
.owl-theme .owl-controls .owl-nav div.owl-prev {
	right: 50px;
	border-right: none;
}
.owl-theme .owl-controls .owl-nav div.owl-next {	
	right: 0;
}
.owl-theme .owl-controls .owl-nav div.owl-prev:before, .owl-theme .owl-controls .owl-nav div.owl-next:before {
	font-family: "FontAweSome";
	font-size:12px;
	position: relative;
}
.owl-theme .owl-controls .owl-nav div.owl-prev:before {
	content:"\f053";
	left:-2px;
}
.owl-theme .owl-controls .owl-nav div.owl-next:before {
	content:"\f054";
	right: -2px;
}
.owl-dot > span {
    background: none;
    border:2px solid #b7b7b7;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}
.owl-dots {
    text-align: center;   
    margin-top: 30px; 
}
.owl-dots .owl-dot {
    display: inline-block;
    margin: 0 5px;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-nav div:hover {
	filter:Alpha(Opacity=100);
	opacity:1;
	text-decoration:none
}
/* Styling Pagination*/
.owl-theme .owl-controls{
	margin-bottom:0;
	margin-top:0;
}
.owl-theme .owl-controls .owl-page {
	display:inline-block;
	zoom:1;
*display:inline
}
.owl-theme .owl-controls .owl-page span {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ddd;
    display: block;
    height: 7px;
    margin: 2.5px;
    width: 30px;
	border-radius: 0;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	filter:Alpha(Opacity=100);
	background: #000 none repeat scroll 0 0;
    border-color: #000;
    opacity: 1;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
	height:auto;
	width:auto;
	color:#FFF;
	padding:2px 10px;
	font-size:0.92em;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px
}
/* preloading images */
.owl-item.loading {
	min-height:150px;
	background:url(../images/AjaxLoader.gif) no-repeat center center
}
/* unique Next and Prev buttons */
.owl-theme.product-widgets .owl-controls {
	position:absolute;
	margin:0;
	padding:0 5px 0 0;
	right:0;
	top:0;
	background:#fff
}
