/* Block JmsPopup */

.jms-popup {
    background: #fff;
    padding: 20px 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    margin-left: -395px;
    margin-top: -311.5px;
    border-radius: 0px;
    color: rgba(17, 17, 17, 0.75);
    line-height: 30px;
    max-width: 100%;
    text-align: left;
}
.jms-popup-overlay > .jms-popup > h2 {
    font-weight: bold;
    margin:0 0 10px 0;
    text-align: left;
    text-transform: uppercase;
    font-size: 24px;
	padding:0;
	font-weight:900;
	color:#00bdfb;
	letter-spacing:0.05em;
}
.jms-popup-overlay > .jms-popup {
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 350px);
    top: calc(50% - 255px);
    border-radius:10px
}
.jms-popup-overlay > .jms-popup img {
    width: auto;
    max-width: 100%;
}
.jms-popup-overlay .popup-close {
    color: rgba(17, 17, 17, 0.6);
	cursor: pointer;
	display: block;
	font-size: 0px;
	font-weight: 400;
	position: absolute;
	right: 10px;
	top: 0;
}
.jms-popup-overlay .popup-close:before {
    content:"\f057";
    font-family:"FontAwesome";
    color:#8f8f8f;
    font-size:20px;
}
.jms-popup-overlay {
    display: block;
    background: rgba(17, 17, 17, 0.7);
    height: 100%;
    left: 0;
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99998;
}
.dontshow {
    display: inline-block;
    padding-left: 0;
    margin-top:40px;
    color:#7f7f7f;
}
.dontshow input,
.dontshow > div {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    padding-top: 8px;
}
.dontshow label {
    display: inline-block;
    color:#7f7f7f;
	font-size:13px;
    line-height: 30px;
}