.socialsharing_product .social-sharing {
	display: block;
	font-size: 12px;
	font-weight: 300;
	height: 26px;
	margin-right: 10px;
	border:none;
	background:none;
	text-transform:uppercase;
	font-size:16px;
	color:rgba(17,17,17,0.75);
}
.socialsharing_product .social-sharing:last-child {
	margin-right:0;
}
/*# sourceMappingURL=socialsharing.css.map */
