  .categories_block_left ul {
    margin-bottom: 0; }
  .categories_block_left li {
    position: relative; }
    .categories_block_left .block_content>ul>li>a {
      display: block;
      text-transform:none;
      padding: 5px 0;
      border-bottom: 1px dotted #e3e3e3;
  }
  .child-list {
    padding:5px 0;
  }
  .categories_block_left .child-list li span.grower {
    top: 4px;
  }
 .categories_block_left ul li a {
    font-size: 14px;
 }
.categories_block_left li span.grower {
  display: block;
  position: absolute;
  right: 0;
  top: 8px;
  cursor: pointer; 
  font-size: 14px;
  line-height:10px;
  width: 16px;
  height: 16px;
  text-align:center;
  border:1px solid #e1e1e1;
  border-radius: 2px;
}

.categories_block_left li span.grower.OPEN:before,
.categories_block_left li span.grower.CLOSE:before {
  content: '+';
  display: inline-block;
  color: #111;
}
.categories_block_left li span.grower.CLOSE:before {
  position: relative;
  left: 1px;
}
.categories_block_left li span.grower.OPEN:before {
  content: ""; 
  width:7px;
  height:1px;
  background:#111;
  position:absolute;
  top: calc(50% - 0.5px);
  right: calc(50% - 3.5px);
}
.categories_block_left li li li a {
  margin-left: 30px; 
}
.categories_block_left .title_block {
  position: relative;
  margin-bottom:15px;
}
.categories_block_left .title_block:after {
  content:"";
  width: 38.5%;
  height:1px;
  position:absolute;
  top: 49%;
  right: 0;
  display: none; /* ocultar barra roja */
}
.categories_block_left .title_block h3{ 
  font-weight:600;
  font-size:16px;
  text-transform:uppercase;
  padding-bottom: 16px;
  color: #232530;
  border-bottom: 5px solid #e40e1c;
}

