/* Active Color */
.header-bottom {
  background: #29bbd4; }

.section-large-banner .flex-box .banner-text button i {
  background: #29bbd4; }

.header-center .right .contact-box .info span.phone {
  color: #29bbd4; }

/* ------ */

/*# sourceMappingURL=color3-home5.css.map */
