/* Active Color */
.header-bottom {
  background: #f34444; }

.section-large-banner .flex-box .banner-text button i {
  background: #f34444; }

.header-center .right .contact-box .info span.phone {
  color: #f34444; }

/* ------ */

/*# sourceMappingURL=color2-home5.css.map */
