/* Active Color */
.header-bottom {
  background: #0099cc; }

.section-large-banner .flex-box .banner-text button i {
  background: #0099cc; }

.header-center .right .contact-box .info span.phone {
  color: #0099cc; }

/* ------ */

/*# sourceMappingURL=color1-home5.css.map */
