/* Color Active*/
.owl-theme .owl-controls .owl-nav div.owl-prev, .owl-theme .owl-controls .owl-nav div.owl-next {
  color: #ff7e00; }

.btn, .btn-default {
  background: #ff7e00; }

.languages-info .dropdown-menu li a:hover {
  background: none;
  color: #ff7e00; }

.languages-info .dropdown-menu li.selected {
  color: #ff7e00; }

.languages-info li.selected a {
  color: #ff7e00; }

.currency-info li.selected a {
  color: #ff7e00; }

.currency-info li a:hover {
  color: #ff7e00; }

.btn-hover:hover {
  background: #ff7e00 !important;
  color: #fff !important; }

a:hover, a:focus {
  color: #ff7e00; }

.checkout-info .cart-button > a {
  background: #ff7e00;
  color: #fff; }

.cart-wrap .description .price-quantity {
  color: #ff7e00; }

.jms-megamenu .mega-nav li.group > a:hover, .jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a:hover,
.jms-vermegamenu .nav > .menu-custom .mega-nav li > a:hover {
  color: #ff7e00 !important; }

.jms-megamenu .open > .dropdown-menu:after {
  background: #ff7e00; }

.fs-pager-wrapper .active,
.fs-custom-pager-wrapper .active {
  background: #ff7e00; }

.section-product-slider .addon-box .addon-title .view-all-btn a:hover {
  color: #ff7e00; }

.copyright a, .copyright span {
  color: #ff7e00; }

#categories_block_left .block_content > ul > li > a:hover {
  color: #ff7e00; }

#categories_block_left .title_block h3::before {
  background: #ff7e00; }

.ui-slider-horizontal .ui-slider-handle {
  background: #ff7e00 !important; }

#layered_block_left .layered_price .layered_filter_ul span {
  color: #ff7e00;
  font-weight: 600; }

.filters-panel .view-mode > a.active, .filters-panel .view-mode > a:hover {
  color: #fff;
  background: #ff7e00;
  border: 1px solid #ff7e00; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background: #ff7e00;
  color: #fff;
  border: 1px solid #ff7e00; }

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background: #ff7e00;
  color: #fff;
  border: 1px solid #ff7e00; }

.categories_block_left .title_block:after, #layered_block_left .layered_subtitle:after {
  background: #ff7e00; }

#categories_block_left li a:hover {
  color: #ff7e00; }

#layered_block_left .layered_filter_ul li a:hover, #layered_block_left .layered_filter_ul li label:hover span {
  color: #ff7e00; }

.our_price_display .price {
  color: #ff7e00; }

.section-about .feature-content a.read-more {
  border: 1px solid #ff7e00; }

.group-buttons #add_to_cart {
  background: #ff7e00; }

.quantity-box .product-btn#add_to_cart {
  background: #ff7e00; }

#more_info_block .nav-tabs > li.active > a {
  background: #ff7e00;
  color: #fff; }

.jms-megamenu .mega-nav li > a:hover, .jms-megamenu .mega-nav li.open > a {
  color: #ff7e00 !important; }

#off-canvas-title {
  background: #ff7e00; }

#off-canvas-menu ul.nav > li > a:hover {
  color: #ff7e00; }

.btn-transparent:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-mega:hover,
.btn-mega:focus,
.btn-mega:active {
  background-color: #ff7e00;
  border-color: #ff7e00; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.inputbox:hover,
select:active,
textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.inputbox:active {
  box-shadow: none;
  border-color: #ff7e00; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
.form-control:focus {
  border-color: #ff7e00; }

.widget-categories li a:hover {
  color: #ff7e00; }

#product_list.products-list-in-row .product-box .product-info .cart-button:hover {
  background: #ff7e00; }

#best-sellers_block_right .title_block a:before {
  background: #ff7e00; }

#attributes .attribute_list #color_to_pick_list li.selected a {
  border: 2px solid #ff7e00; }

.section-slider .btn-shop-now {
  background: #ff7e00; }

.product-box .preview .label.label-sale {
  background: #ff7e00; }

.product-box .product-info .content_price .price.new {
  color: #ff7e00; }

.owl-dot.active span {
  background: #ff7e00;
  border: 2px solid #ff7e00; }

.jms-search #searchbox {
  border: 1px solid #ff7e00; }

.input-group-search button {
  background: #ff7e00; }

#cart_block .ajax_cart_quantity {
  background: #ff7e00; }

.jms-vermegamenu .nav > li > a > i, #mobile-vermegamenu .nav > li > a > i {
  color: #ff7e00; }

.product-box .product-info .cart-button {
  background: #ff7e00; }

.product-box .preview .action-btn a:hover {
  border: 1px solid #ff7e00; }

.section-blog1 .blog-item .post-info .post-readmore {
  color: #ff7e00; }

.footer-newsletters {
  background: #ff7e00; }

.newsletter_block_left button {
  color: #ff7e00 !important; }

.footer-navbar .first ul.find-us li a:hover {
  background: #ff7e00;
  color: #fff; }

.copy-right a, .copy-right span {
  color: #ff7e00; }

.footer-list ul li a:hover {
  color: #ff7e00; }

.recomended-products .product-box:hover {
  border: 1px solid #ff7e00; }

.feature-box .feature-icon {
  color: #ff7e00; }

.section-large-banner .flex-box .banner-text .large-text {
  color: #ff7e00; }

.section-large-banner .flex-box .banner-text button {
  background: #ff7e00; }

.section-two-banners .flex-box .banner-text .large-text {
  color: #ff7e00; }

.section-two-banners .flex-box .banner-text button {
  background: #ff7e00; }

.section-hotdeals .owl-theme .owl-controls .owl-nav div.owl-prev:hover,
.section-hotdeals .owl-theme .owl-controls .owl-nav div.owl-next:hover {
  background: #ff7e00;
  color: #fff; }

.footer-navbar .contact-info .contact-box ul li i {
  color: #ff7e00; }

.footer-navbar .addon-title {
  color: #ff7e00; }

.section-products .jms-tab1 .nav-tabs > li.active a {
  color: #ff7e00; }

.fraction-slider .prev:hover, .fraction-slider .next:hover {
  color: #ff7e00; }

#product_list.products-list-in-row .product-box .list-info .cart-button {
  background: #ff7e00; }

#attributes .attribute_list.product-options ul li.option_checked > span {
  background: #ff7e00;
  color: #fff; }

#attributes .attribute_list #color_to_pick_list li.selected a.color_pick {
  border: 1px solid #ff7e00; }

.feature-list li i {
  color: #ff7e00; }

#view_scroll_right, #view_scroll_left {
  background: #ff7e00; }

#thumbs_list li a.shown {
  border: 1px solid #ff7e00; }

.section-slider .button2 {
  background: #ff7e00; }

.breadcrumb-box .breadcrumb-inner .left {
  color: #ff7e00; }

.section-blog2 .blog-item .post-info .post-readmore {
  color: #ff7e00; }

.section-hotdeals .container {
  border: 2px solid #ff7e00; }

.section-hotdeals .hotdeal-box .preview .small-images li.active:before {
  border: 1px solid #ff7e00; }

.section-hotdeals .hotdeal-box .product-info .content_price .price.new {
  color: #ff7e00; }

.section-hotdeals .hotdeal-box .product-info .product-features li i {
  color: #ff7e00; }

.section-products .left .addon-box:first-child .addon-title {
  background: #ff7e00; }

.section-products .left .cat-box .view-all-btn {
  color: #ff7e00; }

.section-categorytab .jms-tab1 .nav-tabs > li.active a,
.section-categorytab .jms-tab1 .nav-tabs > li a:hover {
  background: #ff7e00; }

.section-banners .left .banner-text .small-text {
  color: #ff7e00; }

.section-banners .right .banner-text button {
  color: #ff7e00; }

.addon-title.fix-title h3 {
  background: #ff7e00; }

.html_left .top .large-text {
  color: #ff7e00; }
.html_left .bottom button {
  background: #ff7e00; }

.checkout-info .label {
  color: #ff7e00; }

.checkout-info .pull-right {
  color: #ff7e00; }

#best-sellers_block_right .product-box .bestseller-info .content_price {
  color: #ff7e00; }

#product_list.products-list-in-row .product-box .list-info .content_price .price.new {
  color: #ff7e00; }

#product_list.products-list-in-row .product-box .list-info .product-features li i {
  color: #ff7e00; }

.other-info li .label-success {
  color: #ff7e00; }

.faq-box .panel-default > .panel-heading a:before {
  background: #ff7e00; }

.pagenotfound-box h4 span {
  color: #ff7e00; }

.owl-theme .owl-controls div.owl-next:hover, .owl-theme .owl-controls div.owl-prev:hover {
  background: #ff7e00;
  color: #fff;
  border: 1px solid #ff7e00; }

.blog-widget .widget-title:after {
  background: #ff7e00; }

.products_block .title_block::after {
  background: #ff7e00; }

.dropdown-menu > li > a:hover {
  color: #ff7e00; }

/* ------ */

/*# sourceMappingURL=color4.css.map */
