/* Active Color */
.header-bottom {
  background: #ff7e00; }

.section-large-banner .flex-box .banner-text button i {
  background: #ff7e00; }

.header-center .right .contact-box .info span.phone {
  color: #ff7e00; }

/* ------ */

/*# sourceMappingURL=color4-home5.css.map */
