#mobile-vermegamenu .nav > li {
	float:left;
	width:100%;
	margin-top:0;
}
#mobile-vermegamenu .jms-vermegamenu {
	box-shadow: none;
	text-align: left;
}
#mobile-vermegamenu .open > .dropdown-menu {
	position:static;
	box-shadow:none;
	border:0px;
	width:100%;
}
#mobile-vermegamenu .dropdown-menu >  li > a {
	line-height:35px;
	padding:3px 30px;
	border-bottom:none;
}
#mobile-vermegamenu .dropdown-menu >  li > a:after {
	content:none;
}
#mobile-vermegamenu .dropdown-menu >  li:last-child > a {
	border-bottom:1px solid #e0e0e0;
}
#mobile-vermegamenu .nav [class^="icon-"], #mobile-vermegamenu .nav [class*=" icon-"], #mobile-vermegamenu .nav .fa {
  margin-right: 10px;
  color: #000;
}
#mobile-vermegamenu .dropdown-menu li a{
	padding:0 25px;
}
#mobile-vermegamenu li a {
    display: block;
	border-radius:0px;
	border-bottom:1px solid #f1f1f1;
	color:#111;
	font-size:13px;
	line-height:39px;
	font-weight:400;
	padding:0;
}
#mobile-vermegamenu .nav > li > a > i {
  font-size: 14px;
  min-width: 20px;
}

#mobile-vermegamenu li:last-child a {
	border-bottom:none;
}
#mobile-vermegamenu .nav > li > a {
	text-transform:uppercase;	
	padding: 0 14px;
}
#mobile-vermegamenu img{
	max-width:100%;
	margin-bottom:10px;
}
#mobile-vermegamenu li > a em {
	float: right;
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 10px;
	text-align: center;
	top: calc(50% - 10px);
	width: 20px;
}
#mobile-vermegamenu li > a em.fa-plus {
	float: right;
	font-size: 10px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 20px;
	color:#8c8c8c;
	position:relative;
	top:2px;
}