/*===================================
=            Price slide            =
===================================*/
.ui-slider-horizontal {
  height: 2px !important;
  background: #ebebeb; }
.ui-slider-horizontal .ui-slider-handle {
  height: 14px;
  width: 14px;
	border-radius:50%;
	display:inline-block;
	top:-9px;
  position:relative;
  z-index: 2;
  border:none;
}
.ui-slider-horizontal .ui-slider-handle:hover:before {
  content:"";
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  position: absolute;
  left: -5px;
  top:-5px;
  background:rgba(103,168,15,0.5);
  box-shadow: 50%;
  border-radius: 50%;
  z-index: 1;
}
.ui-widget-content {
  border-radius: 0px;
  border: none; }
#layered_block_left .layered_price { 
  background:#ffffff;
  margin-bottom:30px;
}
#layered_block_left .layered_filter {
  margin-bottom:33px;
}
#layered_block_left .layered_filter:last-child {
	border-bottom:none;
  padding-bottom:0;
}
#layered_block_left .layered_subtitle h3{
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 0 25px 0 0;
  display: inline-block;
  background: #fff;
  color: #232530;
  z-index: 2;
  position:relative;
}
#layered_block_left #enabled_filters .layered_subtitle {
  position: relative;
  margin-bottom: 20px;
}
#layered_block_left .layered_subtitle {
  position:relative;
  margin-bottom:20px;
}
#layered_block_left .layered_subtitle:after{
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0;
  top: 48%; 
  z-index: 1;
}
#layered_block_left li.nomargin  label {
  margin-bottom: 0;
  width: calc(100% - 14px);
  padding-left: 8px;
}
#layered_form div.checker {
  display: flex;
  width: 14px;
  margin:0;
  cursor: pointer;
}
#layered_block_left li.nomargin {
  display: flex;
  align-items: center;
}
#layered_block_left li .checker span {
  height: 12px;
  width: 14px;
  background-image: url("../../../img/icon/checkbox.png");
  background-position: 0 0;
}
#layered_block_left li .checker span.checked {
  background-position: 0 -15px;
}
#layered_block_left li .checker span input {
  height: 15px;
  width: 15px;
  top: -6px;
}
#layered_block_left .layered_price .layered_filter_ul label, #layered_block_left .layered_price .layered_filter_ul span {
  border: none;
  padding: 0;
  text-transform:capitalize;
}
#layered_block_left .layered_price .layered_filter_ul label {
  color:#232530;
}
div.checker span {
	top:2px;
}
div.checker span.checked {
	background-position: -15px -257px;
}
#layered_block_left .layered_slider_container {
  margin-bottom: 20px;
  margin-top: 15px;
}
#layered_block_left .block-price {
    margin-top: 20px;
  }
#layered_block_left .layered_filter_ul li {
  position: relative; 
  padding: 8.5px 35px 8.5px 0;
}
#layered_block_left .layered_filter_ul li a {
	color:#232530;
	display: inline;
  text-transform: capitalize;
  width: calc(100% - 14px);
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}
#layered_block_left .layered_filter_ul li a:hover {
  padding-left:10px;
  transition:padding 0.5s;
  -moz-transition:padding 0.5s;
  -webkit-transition:padding 0.5s;
  -o-transition:padding 0.5s;
}
.layered_filter ul li label span {
  position: absolute;
  right: 0;
  top: calc(50% - 12px);
  font-size: 14px;
  color:#232530;
}
#enabled_filters {
  margin-bottom: 30px; }
#enabled_filters ul li {
  line-height: 30px;
}
    #enabled_filters ul li a {
      line-height: 30px;
      float: right; }
/* color */
#layered_block_left .color-group .color-option {
  display:none;
}