.fraction-slider{
	position:relative;
	width:100%; height:100%;
	overflow:visible;
}

.fraction-slider .slide{
	display:none; width:100%; height:100%;
	position:absolute;
	z-index:500;
}

.fraction-slider .active-slide {
	z-index:999;
}

.fraction-slider .fs_obj{
	display:block; display:none;
	position:absolute;
	top:0px; left:100%;
	z-index:700;
}

.fraction-slider .fs_fixed_obj{
	z-index:600;
	left:0;
}

.fraction-slider .fs_obj *{
	display:inline-block;
	position:relative;
	top:0px; left:0px;
}

.fs_loader{
	width:100%; height:400px;
	box-shadow: 0 1px 1px #b5b5b5;
	background:url('../img/fraction/fs.spinner.gif') center center no-repeat transparent;
}

/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next{
	/* display: none; */
	position: absolute;
	top: calc(50% - 22.5px);
	z-index: 999;
	text-align: center;
	display: none;
	color:#7f7f7f;
}
.fraction-slider .prev:before, .fraction-slider .next:before{
	font-family:"FontAwesome";
	font-size:48px;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
}
.fraction-slider .prev:before {
	content:"\f104";
}
.fraction-slider .next:before {
	content:"\f105";
}
.fraction-slider .prev{
	left: 60px; 
}

.fraction-slider .next {
	right: 60px;
}
.fraction-slider:hover .prev,
.fraction-slider:hover .next{
	display:block;
}


/** PAGER **/

.fs-pager-wrapper{
	position: absolute;
	left: 10px;
	bottom: 23px;
	z-index: 999;
	right: 10px;
	text-align: center;
}

.fs-pager-wrapper a,
.fs-custom-pager-wrapper a{
	display: inline-block;
	width: 10px;
	height:10px;
	border-radius: 50%;
	margin:0 20px 0 0;
	background: none;
	border:2px solid #fff;
}
.fs-pager-wrapper a.active,
.fs-custom-pager-wrapper a.active {
	border:none;
}