        <p class="payment_module">
			<a href="{$link->getModuleLink('webpay', 'payment')|escape:'html'}"
				style="background: url(../../../../../img/logo-webpay.png) no-repeat scroll 15px 8px;
                                       background-size: 90px; padding: 10px 0px 70px 155px;"
                                
				title="{Context::getContext()->cookie->WEBPAY_BUTTON_TITLE}" class="webpay">				
            	{$title}
            </a>
        </p>
        
      



