/**
* 2007-2015 PrestaShop
*
* Jms Blog
*
*  @author    Joommasters <joommasters@gmail.com>
*  @copyright 2007-2015 Joommasters
*  @license   license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
*  @Website: http://www.joommasters.com
*/
.blog-widget .widget-title {
  	font-size: 16px;
  	text-transform: capitalize;
  	font-weight: 600;
  	color: #232530;
  	border-bottom: none;
  	position: relative;
}
.blog-widget .widget-title span{
	padding-right: 25px;
	background: #fff;
}
.blog-widget .widget-title:after {
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  top: 29%;
  width: 100%;
  z-index: -1;
}
.blog-widget .comment-item {
	margin-bottom:15px;
}
.blog-widget .comment-item .comment-info {
	float:left;
	width:calc(100% - 80px);
	padding-left:10px;
}
.blog-widget .comment-item .comment-info h6{
	color: #111;
	font-weight: 400;
	padding: 0;
	margin-bottom:5px;
}
.blog-widget .comment-item .comment-info p {
	font-weight:300;
	font-size: 11px;
}
.blog-widget .comment-item img{
	width:80px;
	float:left;
}
.blog-widget {
	margin-bottom:50px;
}
.blog-widget .post-list .entry-thumb{
	margin-bottom:10px;
}
.blog-widget .entry-title {
	color: #111;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-transform: capitalize;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.blog-widget .date {
	color:rgba(17,17,17,0.5);
	font-size:12px;
}
.blog-widget .date .label {
	font-weight:500;
	color:rgba(17,17,17,0.6);
	font-size:12px;
	padding:0;
}
.blog-widget .date .label.view {
	margin-left:10px;
}
.blog-widget .post-list li {
	margin-bottom:25px;
}
.blog-widget .date li{
	margin-bottom:0;
}
.blog-widget .date ul{
	display:flex;
}
.widget-categories li a {
	display: block;
	line-height: 30px;
	position: relative;
	color:#232530;
}
.blog-widget .post-list li:last-child {
	margin-bottom:0;
}
.page-heading {
	border:none;
	font-size:30px;
	color:#111;
}
.post-img img {
	width:100%;
}
/* Single Categoy Page */
.cat-post-list .item {
	margin-bottom:80px;
}
.cat-post-list .item:last-child {
	margin-bottom:0;
}
.cat-post-list .item .post-title {
	padding:0;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
	white-space: nowrap;
	width:100%;
	display:block;
	margin-top:20px;
	font-size:18px;
	font-weight:500;
}
.cat-post-list .item .post-meta {
	display:flex;
	margin:0;
}
.cat-post-list .item .post-meta li {
	margin-right:15px;
	font-size:13px;
	color:rgba(17,17,17,0.5);
}
.cat-post-list .item .post-meta li span {
	color:rgba(17,17,17,0.6);
	font-size:14px;
}
.cat-post-list .item .post-meta li:last-child {
	margin-right:0;
}
.blog-readmore {
	margin-top:20px;
	overflow: hidden;
}
.post-intro {
	font-size:13px;
	color:rgba(17,17,17,0.75);
	margin:10px 0;
}
/* Single Post Page */
.single-blog .title{
	color: #111;
	font-size: 25px;
	font-weight: 500;
	padding: 0;
	text-transform: uppercase;
}
.single-blog .post-meta{
	display:flex;
	margin:10px 0;
	margin-bottom: 30px;
	font-weight:300;
}
.single-blog .post-fulltext {
	color:rgba(17,17,17,0.85);
	font-weight:300;	
}
.single-blog .post-fulltext h1, .single-blog .post-fulltext h2, .single-blog .post-fulltext h3 {
	color:#111;
}
.single-blog .post-meta li {
	margin-right:15px;
}
.single-blog .post-meta li:last-child {
	margin-right:0;
}
.single-blog .post-thumb{
	background-position: 50% 50%;
	background-size: cover;
	display: block;
	width: 100%;
	margin-bottom:30px;
}
.single-blog .social-sharing {
	margin-top:30px;
	margin-bottom:20px;
}
/* Categories Page */
.categories-list .blog-category {
	float:left;
	width:50%;
	padding:0 15px;
	margin-bottom:50px;
}
.post-thumb img{
	width:100%;
}
.cat-post-list .post-thumb a {
	background-position: 50% 50%;
	background-size: cover;
	display: block;
	width: 100%;
}
.categories-list .category-info .post-title{
	padding:0;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
	width:100%;
	display:block;
	margin-top:20px;
	font-size:20px;
	font-weight:500;
}
.categories-list .category-info .blog-intro {
	margin-top:20px;
}
.categories-list .category-info .blog-intro p {
	margin-bottom:0;
	color:rgba(17,17,17,0.75);
	font-size:14px;
	line-height:1.5;
}
/* Coment */
#comments {
	padding-top: 20px;
}
.comment-list .user-image {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}
.comment-list .user-image img {
	width: 100%;
}
.comment-list li {
	margin-bottom: 20px;
}
.comment-list li:last-child {
	margin-bottom:0px;
}
.comment-list li article {
	display: flex;
}
.comment-list .left-content {
	padding-right: 30px;
}
.comment-list li article .comment-info .comment-date {
	color: #67bc0f;
}
.comment-list li article .comment-info .customer-name{
	font-weight:500;
	font-size: 16px;
}
.comment-list li article .comment-info .comement-text {
	font-weight: 300;
	margin-top: 10px;
}
.comment-list li article .comment-info {
	padding-left: 30px;
	position: relative;
}
.comment-list li article .comment-info:before {
	content:"";
	background: #ebebeb;
	position: absolute;
	left: 0;
	width: 1px;
	height: 75%;
}
.commentForm .page-heading, .comment-list .page-heading {
	text-transform: capitalize;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 0;
	margin-bottom: 15px;
}
.commentForm {
	margin-top: 35px;
}
.commentForm #new_comment_form_footer {
	margin-top: 30px;
}
.commentForm input, .commentForm textarea {
	border:none;
	border-bottom: 1px solid #ebebeb;
}
.commentForm input[type="text"]:focus,  
.commentForm input[type="email"]:focus, 
.commentForm textarea:focus, 
.commentForm .inputbox:focus, 
.commentForm .form-control:focus,
.commentForm input[type="text"]:hover,  
.commentForm input[type="email"]:hover, 
.commentForm textarea:hover, 
.commentForm .inputbox:hover, 
.commentForm .form-control:hover {
	border-bottom: 1px solid #232530;
}