@import '../varians';
/* Active Color */
.header-bottom {
	background:$active-color1;
}
.section-large-banner .flex-box .banner-text button i {
	background: $active-color1;
}
.header-center .right .contact-box .info span.phone {
	color:$active-color1;
}
/* ------ */