@import '../varians';
/* Color Active*/
  .owl-theme .owl-controls .owl-nav div.owl-prev, .owl-theme .owl-controls .owl-nav div.owl-next {
     color: $active-color4; 
  }
  .btn, .btn-default{
    background: $active-color4;
  }
  .languages-info .dropdown-menu li a:hover {
    background: none;
    color: $active-color4; 
  }
  .languages-info .dropdown-menu li.selected {
   color: $active-color4; 
  }
  .languages-info li.selected a{
   color: $active-color4; 
  }
  .currency-info li.selected a {
   color: $active-color4; 
  }
  .currency-info li a:hover {
    color: $active-color4; 
  }
  .btn-hover:hover {
    background:$active-color4 !important;
    color:#fff !important;
  }
  a:hover, a:focus {
    color: $active-color4;
  }
  .checkout-info .cart-button > a {
    background: $active-color4;
    color:#fff;
  }
  .cart-wrap .description .price-quantity {
    color: $active-color4;
  }
  .jms-megamenu .mega-nav li.group > a:hover, .jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a:hover,
  .jms-vermegamenu .nav > .menu-custom .mega-nav li > a:hover {
    color: $active-color4 !important;
  } 
  .jms-megamenu .open > .dropdown-menu:after {
    background:$active-color4;
  }
  .fs-pager-wrapper .active,
  .fs-custom-pager-wrapper .active{
      background:$active-color4;
  }
  .section-product-slider .addon-box .addon-title .view-all-btn a:hover {
    color:$active-color4;
  }
  .copyright a, .copyright span {
    color:$active-color4;
  }
#categories_block_left .block_content > ul > li > a:hover {
  color:$active-color4;
}
#categories_block_left .title_block h3::before {
  background: $active-color4;
}
.ui-slider-horizontal .ui-slider-handle {
  background:$active-color4 !important;
}
#layered_block_left .layered_price .layered_filter_ul span {
  color:$active-color4;
  font-weight:600;
}
.filters-panel .view-mode > a.active, .filters-panel .view-mode > a:hover {
    color:#fff; 
    background:$active-color4;
    border:1px solid $active-color4;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background: $active-color4;
	color:#fff;
  border:1px solid $active-color4;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  background: $active-color4;
  color:#fff;
  border:1px solid $active-color4;
}
.categories_block_left .title_block:after, #layered_block_left .layered_subtitle:after {
  background:$active-color4;
}
#categories_block_left li a:hover {
    color: $active-color4; 
}
#layered_block_left .layered_filter_ul li a:hover, #layered_block_left .layered_filter_ul li label:hover span {
  color: $active-color4;
}
.our_price_display .price {
	color: $active-color4; 
}
.section-about .feature-content a.read-more {
  border:1px solid $active-color4;
}
.group-buttons #add_to_cart {
	background: $active-color4;
}
.quantity-box .product-btn#add_to_cart {
	background: $active-color4;
}
#more_info_block .nav-tabs > li.active > a { 
	background: $active-color4;	
  color:#fff;
}
.jms-megamenu .mega-nav li > a:hover, .jms-megamenu .mega-nav li.open > a {
	color: $active-color4 !important;	
}
#off-canvas-title {
	background: $active-color4;
}
#off-canvas-menu ul.nav > li > a:hover {
	color: $active-color4;
}
.btn-transparent:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-mega:hover,
.btn-mega:focus,
.btn-mega:active {
	background-color: $active-color4;
	border-color: $active-color4;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.inputbox:hover,
select:active,
textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.inputbox:active {
  box-shadow: none;
  border-color: $active-color4; }
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
.form-control:focus {
  border-color: $active-color4;
}

.widget-categories li a:hover{
	color: $active-color4;
}
#product_list.products-list-in-row .product-box .product-info .cart-button:hover {
  background:$active-color4;
}
#best-sellers_block_right  .title_block a:before {
  background:$active-color4;
}
#attributes .attribute_list #color_to_pick_list li.selected a {
        border:2px solid $active-color4;
}
.section-slider .btn-shop-now {
  background:$active-color4;
}
.product-box .preview .label.label-sale {
  background:$active-color4;
}
.product-box .product-info .content_price .price.new {
  color: $active-color4;
}
.owl-dot.active span {
    background: $active-color4;
    border:2px solid $active-color4;
}
.jms-search #searchbox {
  border:1px solid $active-color4;
}
.input-group-search button {
  background:$active-color4;
}
#cart_block .ajax_cart_quantity {
  background: $active-color4;
}
.jms-vermegamenu .nav > li > a > i, #mobile-vermegamenu .nav > li > a > i {
  color: $active-color4;
}
.product-box .product-info .cart-button {
  background: $active-color4;
}
.product-box .preview .action-btn a:hover {
  border:1px solid $active-color4;
}
.section-blog1 .blog-item .post-info .post-readmore {
  color:$active-color4;
}
.footer-newsletters {
  background:$active-color4;
}
.newsletter_block_left button {
  color:$active-color4 !important;
}
.footer-navbar .first ul.find-us li a:hover {
  background:$active-color4;
  color:#fff;
}
.copy-right {
  a, span {
    color:$active-color4;
  }
}
.footer-list ul li a:hover {
  color:$active-color4;
}
.recomended-products .product-box:hover {
  border:1px solid $active-color4;
}
.feature-box .feature-icon {
  color:$active-color4;
}
.section-large-banner .flex-box .banner-text .large-text {
  color:$active-color4;
}
.section-large-banner .flex-box .banner-text button {
  background:$active-color4;
}
.section-two-banners .flex-box .banner-text .large-text {
  color:$active-color4;
}
.section-two-banners .flex-box .banner-text button {
  background:$active-color4;
}
.section-hotdeals .owl-theme .owl-controls .owl-nav div.owl-prev:hover, 
.section-hotdeals .owl-theme .owl-controls .owl-nav div.owl-next:hover {
  background:$active-color4;
  color:#fff;
}
.footer-navbar .contact-info .contact-box ul li i {
  color:$active-color4;
}
.footer-navbar .addon-title {
  color:$active-color4;
}
.section-products .jms-tab1 .nav-tabs > li.active a {
  color:$active-color4;
}
.fraction-slider .prev:hover, .fraction-slider .next:hover {
  color:$active-color4;
}
#product_list.products-list-in-row .product-box .list-info .cart-button {
  background:$active-color4;
}
#attributes .attribute_list.product-options ul li.option_checked > span{
  background:$active-color4;
  color:#fff;
}
#attributes .attribute_list #color_to_pick_list li.selected a.color_pick {
    border:1px solid $active-color4;
}
.feature-list li i {
  color:$active-color4;
}
#view_scroll_right, #view_scroll_left {
  background:$active-color4;
}
#thumbs_list li a.shown {
  border:1px solid $active-color4;
}
.section-slider .button2 {
  background:$active-color4;
}
.breadcrumb-box .breadcrumb-inner .left {
  color:$active-color4;
}
.section-blog2 .blog-item .post-info .post-readmore {
  color:$active-color4;
}
.section-hotdeals .container {
  border:2px solid $active-color4;
}
.section-hotdeals .hotdeal-box .preview .small-images li.active:before {
  border:1px solid $active-color4;
}
.section-hotdeals .hotdeal-box .product-info .content_price .price.new {
  color:$active-color4;
}
.section-hotdeals .hotdeal-box .product-info .product-features li i{
  color:$active-color4;
}
.section-products .left .addon-box:first-child .addon-title {
  background:$active-color4;
}
.section-products .left .cat-box .view-all-btn {
  color:$active-color4;
}
.section-categorytab .jms-tab1 .nav-tabs > li.active a, 
.section-categorytab .jms-tab1 .nav-tabs > li a:hover {
  background:$active-color4;
}
.section-banners .left .banner-text .small-text {
  color:$active-color4;
}
.section-banners .right .banner-text button {
  color:$active-color4;
}
.addon-title.fix-title h3 {
  background:$active-color4;
}
.html_left {
  .top {
    .large-text {
      color:$active-color4;
    }
  }
  .bottom {
    button {
      background:$active-color4;
    }
  }
}
.checkout-info .label {
  color: $active-color4;
}
.checkout-info .pull-right {
  color: $active-color4;
}
#best-sellers_block_right .product-box .bestseller-info .content_price {
  color:$active-color4;
}
#product_list.products-list-in-row .product-box .list-info .content_price .price.new {
  color: $active-color4;
}
#product_list.products-list-in-row .product-box .list-info .product-features li i {
  color: $active-color4;
}
.other-info li .label-success {
  color: $active-color4;
}
.faq-box .panel-default > .panel-heading a:before {
  background:$active-color4;
}
.pagenotfound-box h4 span {
  color: $active-color4;
}
.owl-theme .owl-controls  div.owl-next:hover, .owl-theme .owl-controls  div.owl-prev:hover {
  background:$active-color4;
  color:#fff;
  border:1px solid $active-color4;
}
.blog-widget .widget-title:after {
  background:$active-color4;
}
.products_block .title_block::after {
  background:$active-color4;
}
.dropdown-menu > li > a:hover {
  color:$active-color4;
}
/* ------ */