#product_comments_block_extra {
  border-top: 1px solid #eee;
  font-size: 0.92em;
  font-weight: bold;
  line-height: 18px;
  padding: 10px 0 0; }

#product_comments_block_extra a {
  background: #fff url("img/bg_li.png") no-repeat scroll 1px 45%;
  padding-left: 10px;
  text-decoration: none; }

#product_comments_block_extra a:hover {
  text-decoration: underline; }

#product_comments_block_extra .comments_note {
  margin-bottom: 5px; }

#product_comments_block_extra .comments_note span, #product_comments_block_extra .star_content {
  float: left; }
.comment_details {
	clear:both;
	display:block;
}
.star {
		display: inline-block;
		font-size: 0;
	}
.comment_author_infos .auth-name{
	font-size:16px;
	font-weight:500;
	color:#111;
	margin-right:40px;
}
#product_comments_block_extra .star_content {
  margin-top: 2px; }

#criterions_list div.star {
  cursor: pointer;
  margin: 0;
  display: inline-block; }

#criterions_list div a {
  display: block;
  line-height: 12px;
  text-indent: -9999px; }

.criterions_list .comments_advices {
  clear: both; }

#fancybox-wrap {
  width: 585px; }

#fancybox-content {
  border-width: 0;
  width: 585px; }

#new_comment_form {
  text-align: left; }

#new_comment_form h3.title {
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
  padding: 15px; }
#new_comment_form ::-webkit-input-placeholder {
  color: #ccc; }
#new_comment_form :-moz-placeholder {
  /* Firefox 18- */
  color: #ccc; }
#new_comment_form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc; }
#new_comment_form :-ms-input-placeholder {
  color: #ccc; }

textarea#content {
  padding: 10px;
  box-shadow: none; }
  textarea#content:focus {
    box-shadow: none; }

#new_comment_form ul.grade_content {
  list-style-type: none; }

#new_comment_form .grade_content li {
  width: 50%; }

#new_comment_form .grade_content {
  margin: 0 0 20px; }

#new_comment_form .grade_content span, #new_comment_form .grade_content span {
  display: inline-block;
  font-weight: bold;
  padding: 0 10px;
  width: 150px; }

#new_comment_form .grade_content .cancel {
  margin-right: 5px; }

.new_comment_form_content {
  background: #f8f8f8 none repeat scroll 0 0;
  padding: 15px; }

.new_comment_form_content .intro_form {
  font-size: 0.92em;
  font-weight: bold;
  padding-bottom: 10px; }

#new_comment_form label {
  font-size: 13px;
  display: block;
  margin: 15px 0 5px; }

#new_comment_form .submit {
  font-size: 1em;
  margin-top: 20px;
  padding: 0;
  text-align: right; }

#new_comment_form #criterions_list {
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  padding-bottom: 15px; }

#new_comment_form #criterions_list li {
  margin-bottom: 10px; }

#new_comment_form #criterions_list label {
  display: inline;
  float: left;
  margin: 0; }

#new_comment_form #criterions_list .star_content {
  float: right;
  margin-right: 0; }

#new_comment_form #new_comment_form_footer {
  font-size: 0.92em;
  margin-top: 20px; }

#product_comments_block_tab {
  margin: 0 0 20px; }

#product_comments_block_tab div.comment div.comment_author span {
  font-weight: 400; }

#product_comments_block_tab div.comment div.comment_author span,
#product_comments_block_tab div.comment .star_content {
  float: left; }

#product_comments_block_tab .comment-list {
	float: left;
	margin-bottom: -10px;
	width: 100%;
	padding:15px 0;
}
#product_comments_block_tab .comment-list .customer_comment {
	float: left;
	width: 100%;
}
#product_comments_block_tab div.comment .star_content {
  margin: 0 0 0 5px; }
  #product_comments_block_tab div.comment .star_content .star {
    display: inline-block; }
#product_comments_block_tab div.comment .star:after {
  color: #ddd;
  font-size: 12px; }
#product_comments_block_tab div.comment .star_on:after {
  color: #f3a500; }

#product_comments_block_tab .comment_author_infos {
  clear: both; }

#product_comments_block_tab .comment_author_infos em {
  color: #92A5A6;
  font-size: 12px;
  font-style: normal; }

#product_comments_block_tab div.comment_details .title_block, #product_comments_block_tab div.comment_details h4 {
  padding-bottom: 10px; }

#product_comments_block_tab div.comment_details p span{
	font-size:15px; 
	font-weight:400;
	color:#111;
  }
#product_comments_block_tab div.comment_details{
	
	float:left;
	width:100%;
}
#product_comments_block_tab div.comment_details p {
	font-weight:300;
	line-height:15px;
}
#product_comments_block_tab div.comment_details ul {
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  font-style: italic;
  font-size: 13px;
  color: #999; }

#product_comments_block_tab div.comment_details li {
  font-size: 0.92em; }

#product_comments_block_tab a {
  border: 0 none;
  color: #000;
  margin-left: 0;
  padding-left: 0;
  text-decoration: none; }
#product_comments_block_tab button.usefulness_btn {
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin: 0 0 0 5px;
  padding: 0 10px;
  height: 25px;
  line-height: 26px;
  font-size: 12px; }

#product_comments_block_tab button.usefulness_btn:hover {
  background-position: left -50px; }

#product_comments_block_tab button.usefulness_btn:active {
  background-position: left -100px; }

#product_comments_block_tab span.report_btn {
  cursor: pointer; }

#product_comments_block_tab span.report_btn:hover {
  text-decoration: underline; }

.fl {
  float: left; }

.fr {
  float: right; }
#new_comment_tab_btn i {
  border-left: 1px solid #020202;
  height: 12px;
  margin-right: 20px;
  padding-left: 10px; }

#product_comments_block_tab #new_comment_tab_btn i {
  border-left: 0 none;
  padding-left: 0; }

sup {
  color: red;
  font-size: 13px !important;
  top: 0; }

/*# sourceMappingURL=productcomments.css.map */