.tags_block .block_content {
	overflow: hidden; 
}
.tags_block .block_content a {
    color: #707070;
    font-weight: :400;
    font-size:12px;
    position:relative;
    line-height:28px;
}
.tags_block .block_content a:after {
    content:"/";
    margin:0 2px;
    font-size:12px;
}
.tags_block .block_content a:last-child:after {
    content: none;
}
.tags_block .block_content a:hover:after {
    color:#707070;
}
/*# sourceMappingURL=blocktags.css.map */
