/**
 * Calculate shipping costs in real time through the webservice of Chilexpress
 *
 *  @author    Rolige <www.rolige.com>
 *  @copyright 2011-2018 Rolige - All Rights Reserved
 *  @license   Proprietary and confidential
 */

#module_logo {
	margin-right: 10px; }

div#wrong_city {
	margin: 7px 0 0 0; }

div.CHILEXPRESS_SET_VALUE_WIDTH,
div.CHILEXPRESS_SET_VALUE_HEIGHT,
div.CHILEXPRESS_SET_VALUE_DEPTH,
div.CHILEXPRESS_SET_VALUE_WEIGHT,
div.CHILEXPRESS_IMPACT_PRICE_AMOUNT {
	display: none; }
