#cart_block .nb-comments {
	display:none;
}
#cart_block .hook-reviews {
	margin-top:-3px;
}
#cart_block .shoppingcart-box {
	background: #fff none repeat scroll 0 0;
	border-radius: 0;
	box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.2);
	display: block;
	left: auto;
	margin: 0;
	max-height: 604px;
	width: 330px;
	opacity: 0;
	overflow-y: auto;
	padding: 30px 0 20px;
	right: 0;
	transition: all 400ms ease 0s;
	visibility: hidden;
}
#cart_block.open .shoppingcart-box {
  visibility: visible;
  opacity: 1; 
 }
 #cart_block .dropdown-toggle .cart_block_total {
	font-size: 16px;
	font-weight:400;
	position: relative;
	top: -4px;
}
#cart_block a.cart-icon:hover .cart_block_total, #cart_block a.cart-icon:focus .cart_block_total{
	color: #111;
}
#cart_block a.cart-icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #fff;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	position: relative;
}
#cart_block a.cart-icon img{
	filter:brightness(0) invert(1);
}
#cart_block .ajax_cart_quantity {
	color: #fff;
	border-radius: 50%;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	height: 20px;
	line-height: 20px;
	padding-left: 1px;
	position: absolute;
	left: calc(50% - 9px);
	text-align: center;
	top: -14px;
	width: 20px;
}
.ajax_block_cart_total {
	margin-left: 10px;
	color: #232530;
	font-weight: 500;
}
#cart_block .ajax_cart_no_product {
	display: inline-block;
	padding: 0 25px 25px;
	width: 100%;
	text-align: center; 
}
#cart_block .icon-basket {
	font-size: 30px;
	position: relative;
	top: 2px;
}
.cart_block_list {
	margin-bottom: 0;
	padding: 0 30px;
}
.cart_block_list li {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px; 
    border-bottom: 1px solid #ebebeb;
}
.cart_block_list li:last-child {
	margin-bottom: 0;
}
.cart_block_list li .remove_link{
	top:2px;
	color: #12131b;
}
.cart-wrap {
	display:flex;
	position:relative;
}
.cart-wrap .preview-image {
	width: 80px;
}
.checkout-info {
  padding: 16px 30px 0;
}
.cart-wrap .preview-image img {
    width: 100%;
}
.cart-wrap .description {
	padding-bottom: 14px;
	padding-left: 15px;
	position: relative;
	width: calc(100% - 80px);
}
 .cart-wrap .description > a {
    color: #12131b;
	display:block;
	font-size: 14px;
	position: relative;
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	line-height: 1.2;
	margin-bottom: 12px;
	padding-right: 20px;
}
  .cart-wrap .quantity-formated {
    bottom: 34px;
	font-size: 14px;
	right: 0;
	position: absolute;
	line-height:1;
}
 .cart-wrap .description .price-quantity {
    font-weight: 700;
    font-size: 14px;
}
.cart-wrap .remove_link {
	bottom: 0;
	position: absolute;
	right: 0; 
	line-height:1;
}
 .cart-wrap .remove_link .fa {
    line-height: 1 !important;
    font-size: 14px !important; 
}

.checkout-info .label {
	font-size: 14px;	
	padding: 0; 
	font-weight: 500;
	text-transform: uppercase;
}

.checkout-info .pull-right {
  	font-size: 18px;
	font-weight: 500;
}
.checkout-info .shipping {
  margin-bottom: 3px; }
.checkout-info .cart-button {
  margin-top: 15px; }
  .checkout-info .cart-button > a {
		border-radius: 25px;
		font-size: 12px;
		font-weight: 700;
		height: 40px;
		line-height: 40px;
		text-transform: uppercase;
		display: block;
		text-align: center;
	}
/*# sourceMappingURL=blockcart.css.map */
