/*==================================================
=            Bestseller Hook LeftColumn            =
==================================================*/
.products_block {
  margin-top: 45px;
}
.products_block .title_block {
  position: relative;
  margin-bottom: 20px;
}
.products_block .title_block:after{
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0;
  top: 48%; 
  z-index: 1;
}
.products_block .title_block a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 25px 0 0;
  display: inline-block;
  background: #fff;
  color: #232530;
  z-index: 2;
  position:relative;
}
  #best-sellers_block_right .product-box {
    border: none; 
	 margin-bottom:20px;
    display: flex;
    align-items: center;
}
#best-sellers_block_right .product-box:last-child {
  margin-bottom: 0;
}
#best-sellers_block_right .product-box .preview {
  width: 70px;
  border:1px solid #ebebeb;
  overflow: hidden;
}
      #best-sellers_block_right .product-box .preview:after {
        content: none; }
      #best-sellers_block_right .product-box .preview img {
        transition: all 400ms ease-in-out 0ms;
        -ms-transition: all 400ms ease-in-out 0ms;
        -o-transition: all 400ms ease-in-out 0ms;
        -moz-transition: all 400ms ease-in-out 0ms;
        -webkit-transition: all 400ms ease-in-out 0ms; }
    #best-sellers_block_right .product-box:hover .preview img {
      transform: scale(1.03);
      -o-transform: scale(1.03);
      -ms-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -webkit-transform: scale(1.03); }
    #best-sellers_block_right .product-box .bestseller-info {
      width: calc(100% - 70px);
      margin-top: 0;
      padding: 0 0 0 20px; 
	     background:none;
	  }
    #best-sellers_block_right .product-box .bestseller-info .product-name {
      line-height: 1.2;
      display: block;
      color: #232530;
    }
    #best-sellers_block_right .product-box .bestseller-info .content_price {
      font-weight: 600;
      font-size: 16px;
      margin-top: 5px;
    }
