.address.box {
	margin: 20px 0;
	padding: 0 20px;
	border: 1px solid #eee;
}

.address.box li:first-child {
    border-bottom: 1px solid #eee;    
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-left:-20px;
	margin-right:-20px;
	margin-bottom: 15px;
}
.address.box li:first-child h3 {
	color: #333;
    font-size: 1em;
    padding: 20px 15px;
    text-transform: uppercase;
}

.address.box li {
	line-height: 35px;
}

.address_update {
    border-top: 1px solid #eee;
    padding: 15px 0;
}


.address li span i {
    margin-right: 5px;
}
.order_delivery {
	margin-top:15px;
	margin-bottom:20px;
}
.address.address-box {
    border: 1px solid #eee;
	padding: 0 20px;
}
.checkbox #uniform-addressesAreEquals input[type="checkbox"]{
	margin-left: 0;
} 
.delivery_option_radio .radio input[type="radio"], 
.delivery_option_radio .radio-inline input[type="radio"]{
	position: inherit;
}
p.submit {
    margin-top: 20px;
}