/**********************************************************
				Authentication Styles
**********************************************************/
#account-creation_form .id_state,
#account-creation_form .dni,
#account-creation_form .postcode {
  display: none; }
.page-heading {
  font-weight: 700;
  border-bottom:none;
}
.auth-right .form_content {
	margin-top:20px;
}
.auth-left .form_content {
	margin-top:8px;
}
.auth-right #SubmitLogin {
	margin-right:20px;
}
.auth-right .submit {
	margin-bottom:0;
}
.auth-box {
	border:1px solid #e1e1e1;
	padding:20px;
}
@media(max-width:767px){
	.auth-right {
		margin-top:35px;
	}
}