.content_scene_cat {
  margin-bottom: 50px; }
  .content_scene_cat .content_scene_cat_bg {
    padding: 90px 15px 50px; }
  .content_scene_cat .cat_desc {
    color: #fff;
    text-align: center; }
  .content_scene_cat .category-name {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase; }
