.contact-form-box textarea.form-control {
  box-shadow: none;
  line-height: 25px;
  min-height: 200px; }
  .contact-form-box textarea.form-control:focus, .contact-form-box textarea.form-control:hover {
    box-shadow: none;
}
.contact-form-box div.selector {
  width: 100% !important;
  line-height: 40px;
  height: 40px; }
  .contact-form-box div.selector > span {
    width: 100% !important;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #eee; }
  .contact-form-box div.selector ::before {
    right: 15px;
    top: 28px; }
.contact-form-box div.uploader {
  height: 40px; }
.contact-form-box div.uploader span.filename {
  border: solid 1px #eee;
  font-size: 14px;
  background: #fff;
  margin-right: 0;
  height: 40px;
  line-height: 40px; }
.contact-form-box .submit .btn-default {
	letter-spacing: 1px;
}
.contact-form-box .submit {
	text-align:right;
}

/*# sourceMappingURL=contact-form.css.map */
