/* Active Color */
.header-bottom .container {
  background: #e40f1c; }

.header-bottom .left .ver-btn:hover {
  color: #fff; }

/* ------- */
.header-top .left .contact-list {
  padding: 12.5px 0; }
  .header-top .left .contact-list ul {
    margin-bottom: 0; }
    .header-top .left .contact-list ul li {
      padding: 0 20px;
      position: relative;
      line-height: 25px;
      font-size: 13px;
      display: inline-block; }
      .header-top .left .contact-list ul li:last-child {
        padding-right: 0; }
        .header-top .left .contact-list ul li:last-child:after {
          content: none; }
      .header-top .left .contact-list ul li:first-child {
        padding-left: 0; }
      .header-top .left .contact-list ul li:after {
        content: "";
        width: 1px;
        height: 25px;
        background: #ebebeb;
        position: absolute;
        right: 0;
        top: calc(50% - 12.5px); }
      .header-top .left .contact-list ul li i {
        font-size: 14px;
        margin-right: 10px; }
.header-top .right {
  text-align: right; }
  .header-top .right .btn-group {
    position: static; }
  .header-top .right .dropdown-menu {
    left: auto;
    right: 0; }
  .header-top .right .addon-box {
    display: inline-block;
    position: relative;
    padding: 12.5px 20px; }
    .header-top .right .addon-box:after {
      content: "";
      width: 1px;
      height: 25px;
      background: #ebebeb;
      position: absolute;
      right: 0;
      top: calc(50% - 12.5px); }
    .header-top .right .addon-box:first-child {
      padding-left: 0; }
    .header-top .right .addon-box:last-child {
      padding-right: 0; }
      .header-top .right .addon-box:last-child:after {
        content: none; }
    .header-top .right .addon-box a.btn-xs {
      line-height: 25px;
      font-size: 13px;
      color: #646a7c;
      padding: 0; }
      .header-top .right .addon-box a.btn-xs i {
        margin-left: 10px; }

/* Slider */
.section-slider .addon-box {
  width: 900px; }
.section-slider .layout-column {
  display: flex;
  justify-content: flex-end; }

/* Header Center */
.header-center {
  background: #fff;
  padding: 5px 0; }
  .header-center .row {
    display: flex;
    align-items: center; }
  .header-center .right {
    display: flex;
    justify-content: flex-end; }
    .header-center .right .icon-list ul {
      display: flex;
      margin-bottom: 0; }
      .header-center .right .icon-list ul li {
        margin-right: 10px; }
        .header-center .right .icon-list ul li a {
          display: inline-block;
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 14px;
          line-height: 40px;
          background: #fff; }
          .header-center .right .icon-list ul li a i {
            position: relative;
            left: 2px; }
        .header-center .right .icon-list ul li:last-child {
          margin-right: 0; }
    .header-center .right .addon-box:last-child {
      margin-left: 10px; }
  .header-center #search_result {
    left: 5.5%;
    top: 43px;
    width: 91%; }
    .header-center #search_result .result_div {
      padding: 5px;
      background: #fff; }

/* ------ */
.jms-megamenu .nav > li > a {
  color: #fff; }

/* Header Bottom */
.header-bottom {
  background: #fff; }
  .header-bottom .container {
    position: relative; }
  .header-bottom .left .addon-box {
    position: relative; }
    .header-bottom .left .addon-box:nth-child(2) {
      display: none; }
    .header-bottom .left .addon-box .ver-menu-mobile, .header-bottom .left .addon-box .ver-menu-box {
      z-index: 1001; }
  .header-bottom .right {
    padding-left: 0;
    display: flex;
    position: static; }
    .header-bottom .right .addon-box:nth-child(1) {
      width: 76%; }
    .header-bottom .right .addon-box:nth-child(2) {
      width: 24%;
      padding-right: 15px;
      position: relative; }
      .header-bottom .right .addon-box:nth-child(2):before {
        content: "";
        width: 1px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        position: absolute;
        left: 0;
        top: calc(50% - 10px); }
    .header-bottom .right ul.find-us {
      width: 100%;
      text-align: right;
      margin-bottom: 0;
      padding: 13px 0; }
      .header-bottom .right ul.find-us li {
        display: inline-block;
        padding: 0 15px; }
        .header-bottom .right ul.find-us li a {
          font-size: 14px;
          color: #fff; }

/* ------- */
#index .ver-menu-box {
  display: block;
  opacity: 1;
  visibility: visible; }
#index .open .ver-menu-box {
  display: none;
  opacity: 0;
  visibility: hidden; }

/* Home 1 Responsive */
@media (max-width: 1199px) {
  .header-bottom .left {
    width: 30%; }
  .header-bottom .right {
    width: 70%; }
    .header-bottom .right .addon-box:nth-child(1) {
      width: 100%; }
    .header-bottom .right .addon-box:nth-child(2) {
      display: none; }
    .header-bottom .right ul.find-us li {
      padding: 0 6px; }

  #index .ver-menu-box {
    display: none;
    opacity: 0;
    visibility: hidden; }

  #index .open .ver-menu-box {
    display: block;
    opacity: 1;
    visibility: visible; }

  .section-slider .addon-box {
    width: 100%; }

  .section-slider .responisve-container {
    width: 100%; }

  .jms-slider-wrapper .slider {
    max-width: 100% !important; }

  .section-slider .home1 .medium-text {
    width: 27vw; }

  .section-services .feature-box {
    display: block;
    text-align: center !important; }
    .section-services .feature-box .feature-icon {
      display: block;
      width: 100%;
      margin-bottom: 10px; }
    .section-services .feature-box .feature-content {
      width: 100%; }

  .footer-navbar .second .addon-title {
    padding-top: 0; }
  .footer-navbar .third {
    clear: left; } }
@media (max-width: 991px) {
  .header-center .row {
    display: block; }
  .header-center .left {
    text-align: center;
    margin-bottom: 25px; }
  .header-center .jms-search #searchbox {
    width: 100%; }

  .header-bottom .container {
    position: relative; }
  .header-bottom .left {
    width: 35%; }
    .header-bottom .left .addon-box:nth-child(1) {
      display: none; }
    .header-bottom .left .addon-box:nth-child(2) {
      display: block; }
  .header-bottom .right {
    width: 65%;
    position: static; }
    .header-bottom .right .addon-box:nth-child(2) {
      display: none; }
    .header-bottom .right .menu-button {
      width: 50px;
      height: 50px;
      color: #fff;
      border: none; }
      .header-bottom .right .menu-button .fa {
        color: #fff; }

  .section-products .container {
    position: relative; }
  .section-products .left {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    right: 0;
    top: 109px;
    z-index: 1;
    width: 29.6%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s; }
    .section-products .left.open {
      opacity: 1;
      visibility: visible;
      transition: opacity 1.5s; }
    .section-products .left .cat-box {
      border-right: 1px solid #ebebeb; }
    .section-products .left .addon-box {
      background: #fff; }
  .section-products .right {
    width: 100%;
    padding-left: 15px; }
    .section-products .right .addon-title {
      display: block;
      margin-bottom: 10px; }
      .section-products .right .addon-title h3 {
        padding: 12px 0;
        font-size: 24px;
        text-transform: uppercase;
        color: #232530;
/* centrar texto en 991px o menos*/
    color: #ffffff;
    text-align: center;
    background: #e40f1c; }

    .section-products .right .owl-theme .owl-controls div.owl-prev, .section-products .right .owl-theme .owl-controls div.owl-next {
      border-top: 1px solid #ebebeb;
      border-bottom: 1px solid #ebebeb; }
  .section-products .jms-tab1 .nav-tabs li:first-child a {
    padding-left: 0; }
  .section-products .jms-tab1 .show-cat {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 12px 18px; }
  .section-products .jms-tab1:before {
    content: none; }
  .section-products .owl-theme .owl-controls .owl-nav div.owl-prev, .section-products .owl-theme .owl-controls .owl-nav div.owl-next {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }

  .section-services .addon-box {
    border-bottom: 1px solid #fff;
    width: 50%; }
    .section-services .addon-box:nth-child(3), .section-services .addon-box:nth-child(4) {
      border-top: none; } }
@media (max-width: 767px) {
  .header-top .left {
    display: none; }
  .header-top .right {
    width: 100%;
    text-align: center; }

  .header-bottom .left {
    width: 40%; }
  .header-bottom .right {
    width: 60%; }
    .header-bottom .right .menu-button {
      right: 15px; }

  .section-hotdeals {
    padding: 0 15px; }
    .section-hotdeals .container {
      padding: 0; }

  .section-products .left {
    right: 15px; }

  .section-brands {
    padding: 0 15px; }

  .header-center .cat-list::after {
    content: none; } }
@media (max-width: 480px) {
  .header-top .left {
    display: none; }
  .header-top .right {
    width: 100%;
    text-align: center; }

  .header-center .mid {
    width: calc(100% - 70px); }
  .header-center .right {
    width: 70px; }
    .header-center .right .addon-box {
      margin: 0; }
      .header-center .right .addon-box:nth-child(1) {
        display: none; }
      .header-center .right .addon-box .cart_block .ajax_block_cart_total {
        display: none; }

  .header-bottom .left {
    width: 70%; }
  .header-bottom .right {
    width: 40%; }

  .section-products .left {
    width: 50%; }
  .section-products .jms-tab1 {
    padding-right: 50px; }
    .section-products .jms-tab1 .nav-tabs > li {
      width: 50%; }
      .section-products .jms-tab1 .nav-tabs > li a {
        display: block;
        padding: 15px 0; } }
@media (max-width: 320px) {
  .header-top .right {
    padding: 0; }
    .header-top .right .addon-box {
      padding: 12.5px 7px; }
      .header-top .right .addon-box a.btn-xs {
        font-size: 12px; }
      .header-top .right .addon-box:after {
        display: none; }
      .header-top .right .addon-box:first-child .dropdown-menu {
        right: auto;
        left: 0; }

  .header-center {
    padding: 30px 0; }
    .header-center .cat-list {
      display: none; }
    .header-center .input-group-search {
      width: 15%; }
    .header-center .keyword-group {
      width: 85%; }

  .header-bottom .left {
    width: calc(100% - 80px); }
  .header-bottom .right {
    width: 80px; }

  .section-slider .home1 .large-text {
    font-size: 14px !important; }

  .section-slider .home1 .medium-text {
    font-size: 8px !important;
    width: 40vw; }

  .section-slider .home1 .small-text {
    font-size: 8px; }

  .section-slider .home1-button {
    top: 70% !important; }

  .owl-theme .owl-controls div.owl-prev,
  .owl-theme .owl-controls div.owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px; }

  .owl-theme .owl-controls div.owl-prev {
    right: 40px; }

  .section-hotdeals .hotdeal-box .product-info .product-desc {
    padding-right: 5%; }
  .section-hotdeals .countdown .countdown-row .countdown-section {
    padding: 9.5px 0; }
    .section-hotdeals .countdown .countdown-row .countdown-section .countdown-amount {
      font-size: 16px; }

  .section-products .left {
    width: 80%;
    top: 93px; }
  .section-products .right .addon-title h3 {
    font-size: 16px; }
  .section-products .jms-tab1 .nav-tabs > li {
    width: 100%; }
  .section-products .jms-tab1 .nav-tabs > li a {
    padding: 5px 0; }
  .section-products .jms-tab1 .show-cat {
    padding: 8px 14px; }

  .section-services .addon-box {
    width: 100%; }

  .recomended-products .owl-theme .owl-controls .owl-nav div.owl-prev, .recomended-products .owl-theme .owl-controls .owl-nav div.owl-next {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; } }
/* ------ */
/* Fix CSS in Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .header-center .input-group-search {
    width: 10.1%; } }
/* ------- */

/*# sourceMappingURL=home1.css.map */
