/* Color Actives */
.header-bottom .left .ver-btn {
  background: #67bc0f;
  color: #fff; }

.footer-navbar .addon-title {
  color: #67bc0f; }

/* -------- */
/* Header Top */
.header-top {
  border-bottom: 1px solid #ebebeb; }
  .header-top .left .contact-list {
    padding: 12.5px 0; }
    .header-top .left .contact-list ul {
      margin-bottom: 0; }
      .header-top .left .contact-list ul li {
        padding: 0 20px;
        position: relative;
        line-height: 25px;
        font-size: 13px;
        display: inline-block; }
        .header-top .left .contact-list ul li:last-child {
          padding-right: 0; }
          .header-top .left .contact-list ul li:last-child:after {
            content: none; }
        .header-top .left .contact-list ul li:first-child {
          padding-left: 0; }
        .header-top .left .contact-list ul li:after {
          content: "";
          width: 1px;
          height: 25px;
          background: #ebebeb;
          position: absolute;
          right: 0;
          top: calc(50% - 12.5px); }
        .header-top .left .contact-list ul li i {
          font-size: 14px;
          margin-right: 10px; }
  .header-top .right {
    text-align: right; }
    .header-top .right .addon-box {
      display: inline-block;
      position: relative;
      padding: 12.5px 20px; }
      .header-top .right .addon-box:after {
        content: "";
        width: 1px;
        height: 25px;
        background: #ebebeb;
        position: absolute;
        right: 0;
        top: calc(50% - 12.5px); }
      .header-top .right .addon-box:first-child {
        padding-left: 0; }
      .header-top .right .addon-box:last-child {
        padding-right: 0; }
        .header-top .right .addon-box:last-child:after {
          content: none; }
      .header-top .right .addon-box a.btn-xs {
        line-height: 25px;
        font-size: 13px;
        color: #646a7c;
        padding: 0; }
        .header-top .right .addon-box a.btn-xs i {
          margin-left: 10px; }

/* -------- */
/* Header Center */
.header-center {
  padding: 35px 0; }
  .header-center .container {
    position: relative; }
  .header-center .row {
    display: flex;
    align-items: center; }
  .header-center .left {
    width: 22%; }
  .header-center .mid {
    width: 56%;
    padding: 0;
    position: static; }
    .header-center .mid .jms-megamenu {
      display: inline-block; }
    .header-center .mid #jms-megamenu-container {
      text-align: center; }
  .header-center .right {
    width: 22%;
    display: flex;
    justify-content: flex-end; }
    .header-center .right .icon-list ul {
      display: flex;
      margin-bottom: 0; }
      .header-center .right .icon-list ul li {
        margin-right: 10px; }
        .header-center .right .icon-list ul li a {
          display: inline-block;
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 14px;
          line-height: 40px;
          background: #eceff6; }
          .header-center .right .icon-list ul li a i {
            position: relative;
            left: 2px; }
        .header-center .right .icon-list ul li:last-child {
          margin-right: 0; }
    .header-center .right .addon-box:last-child {
      margin-left: 10px; }

#cart_block a.cart-icon {
  background: #eceff6; }

/* ------ */
/* Header Bottom */
.header-bottom {
  background: #232530; }
  .header-bottom .left .addon-box {
    position: relative; }
    .header-bottom .left .addon-box:nth-child(2) {
      display: none; }
    .header-bottom .left .addon-box .ver-menu-mobile, .header-bottom .left .addon-box .ver-menu-box {
      z-index: 1001; }
  .header-bottom .right {
    padding-left: 0; }
    .header-bottom .right .addon-box {
      float: left; }
      .header-bottom .right .addon-box:nth-child(1) {
        width: 77%;
        padding: 5px 0; }
      .header-bottom .right .addon-box:nth-child(2) {
        width: 23%;
        position: relative; }
        .header-bottom .right .addon-box:nth-child(2):before {
          content: "";
          width: 1px;
          height: 25px;
          background: rgba(255, 255, 255, 0.2);
          position: absolute;
          left: 0;
          top: calc(50% - 12.5px); }
    .header-bottom .right ul.find-us {
      width: 100%;
      text-align: right;
      margin-bottom: 0;
      padding: 13px 0; }
      .header-bottom .right ul.find-us li {
        display: inline-block;
        padding: 0 15px; }
        .header-bottom .right ul.find-us li a {
          font-size: 14px;
          color: #fff; }
        .header-bottom .right ul.find-us li:last-child {
          padding-right: 0; }
        .header-bottom .right ul.find-us li:first-child {
          padding-left: 0; }
    .header-bottom .right .jms-search {
      justify-content: flex-start; }
      .header-bottom .right .jms-search #searchbox {
        border: none;
        border-radius: 3px;
        overflow: hidden;
        width: 87.3%; }
    .header-bottom .right .cat-list {
      width: 33%; }
    .header-bottom .right .input-group-search {
      width: 7%; }
    .header-bottom .right .keyword-group {
      width: 60%; }
  .header-bottom #search_result {
    top: 46px;
    width: 66%; }
    .header-bottom #search_result .result_div {
      padding: 5px;
      background: #fff; }

/* ------ */
/* Slider */
.section-slider .addon-box {
  width: 900px; }
.section-slider .layout-column {
  display: flex;
  justify-content: flex-end; }

.section-products .right .owl-stage-outer {
  border: 1px solid #ebebeb; }
.section-products .right .item .product-box {
  border-bottom: 1px solid #ebebeb; }
  .section-products .right .item .product-box:last-child {
    border-bottom: none; }
.section-products.color1 .left .addon-box:first-child .addon-title {
  background: #efd40b; }
.section-products.color2 .left .addon-box:first-child .addon-title {
  background: #fdbe21; }
.section-products.color3 .left .addon-box:first-child .addon-title {
  background: #24b6ec; }
.section-products.color4 .left .addon-box:first-child .addon-title {
  background: #f8528c; }
.section-products.color5 .left .addon-box:first-child .addon-title {
  background: #c732ec; }

#index .ver-menu-box {
  display: block;
  opacity: 1;
  visibility: visible; }
#index .open .ver-menu-box {
  display: none;
  opacity: 0;
  visibility: hidden; }

/* Home 2 Responsive */
@media (max-width: 1199px) {
  #index .ver-menu-box {
    display: none;
    opacity: 0;
    visibility: hidden; }

  #index .open .ver-menu-box {
    display: block;
    opacity: 1;
    visibility: visible; }

  .header-center .row {
    display: block; }
  .header-center .left {
    width: 100%;
    text-align: center;
    margin-bottom: 15px; }
  .header-center .mid {
    width: 75%;
    padding: 0 15px; }
    .header-center .mid #jms-megamenu-container {
      text-align: left; }
    .header-center .mid .jms-megamenu .nav > li:first-child {
      padding-left: 0; }
  .header-center .right {
    width: 25%;
    padding: 5px 15px; }

  .section-slider .home1 .medium-text {
    width: 27vw; }

  .header-bottom .left {
    width: 30%; }
  .header-bottom .right {
    width: 70%; }
    .header-bottom .right ul.find-us li {
      padding: 0 10px; }

  .section-slider .addon-box {
    width: 100%; }

  .jms-slider-wrapper .slider {
    max-width: 100% !important; }

  .section-services .feature-box {
    display: block;
    text-align: center !important; }
    .section-services .feature-box .feature-icon {
      display: block;
      width: 100%;
      margin-bottom: 10px; }
    .section-services .feature-box .feature-content {
      width: 100%; } }
@media (max-width: 991px) {
  .menu-wrap {
    right: auto !important;
    left: -320px !important;
    transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important; }

  .show-menu .menu-wrap {
    right: auto !important;
    left: 0 !important;
    transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important; }

  .header-center .mid {
    width: 70px;
    position: relative; }
  .header-center .right {
    width: calc(100% - 70px);
    padding: 0 15px; }
  .header-center .menu-button {
    right: auto;
    left: 15px; }

  .header-bottom .left {
    width: 35%; }
  .header-bottom .right {
    width: 65%; }
    .header-bottom .right .addon-box:nth-child(1) {
      width: 100%; }
    .header-bottom .right .addon-box:nth-child(2) {
      display: none; }
    .header-bottom .right .jms-search {
      justify-content: flex-end; }

  .section-products .container {
    position: relative; }
  .section-products .left {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    right: 0;
    top: 49px;
    z-index: 1;
    width: 35%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s; }
    .section-products .left.open {
      opacity: 1;
      visibility: visible;
      transition: opacity 1.5s; }
    .section-products .left .cat-box {
      border-right: 1px solid #ebebeb; }
    .section-products .left .addon-box {
      background: #fff; }
  .section-products .right {
    width: 100%;
    padding-left: 15px; }
    .section-products .right .addon-title.fix-title {
      display: block;
      margin-bottom: 10px;
      position: relative; }
      .section-products .right .addon-title.fix-title h3 {
        padding: 11px 0;
        font-size: 24px;
        text-transform: uppercase;
        color: #232530;
        background: none; }
        .section-products .right .addon-title.fix-title h3:before, .section-products .right .addon-title.fix-title h3:after {
          content: none; }
      .section-products .right .addon-title.fix-title .show-cat {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        padding: 12px 18px; }
  .section-products .owl-theme .owl-controls .owl-nav div.owl-prev, .section-products .owl-theme .owl-controls .owl-nav div.owl-next {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }

  .section-services .addon-box {
    border-bottom: 1px solid #fff;
    width: 50%; }
    .section-services .addon-box:nth-child(3), .section-services .addon-box:nth-child(4) {
      border-top: none; } }
@media (max-width: 767px) {
  .header-top .left {
    display: none; }
  .header-top .right {
    width: 100%;
    text-align: center; }

  .header-bottom .left {
    width: 40%; }
  .header-bottom .right {
    width: 60%; }

  .section-brands {
    padding: 0 15px; }

  .section-products .left {
    right: 15px; }

  .section-hotdeals {
    padding: 0 15px; }
    .section-hotdeals .container {
      padding-left: 0;
      padding-right: 0; } }
@media (max-width: 480px) {
  .header-top .left {
    display: none; }
  .header-top .right {
    width: 100%;
    text-align: center; }

  .header-center .ajax_block_cart_total {
    display: none; }

  .header-bottom .left {
    width: 85px; }
    .header-bottom .left .ver-btn {
      font-size: 0;
      padding: 12px 0;
      text-align: center;
      width: 50px; }
      .header-bottom .left .ver-btn i {
        position: relative;
        top: 2px;
        margin-right: 0; }
    .header-bottom .left .ver-menu-box {
      width: 320px; }
  .header-bottom .right {
    width: calc(100% - 85px); }
    .header-bottom .right .cat-list {
      display: none; }
    .header-bottom .right .keyword-group {
      width: 85%; }
    .header-bottom .right .input-group-search {
      width: 15%; }

  .section-products .left {
    width: 50%;
    right: 15px; }
  .section-products .jms-tab1 {
    padding-right: 50px; }
    .section-products .jms-tab1 .nav-tabs > li {
      width: 50%; }
      .section-products .jms-tab1 .nav-tabs > li a {
        display: block;
        padding: 15px 0; } }
@media (max-width: 320px) {
  .header-top .right {
    padding: 0; }
    .header-top .right .addon-box {
      padding: 12.5px 7px; }
      .header-top .right .addon-box a.btn-xs {
        font-size: 12px; }
      .header-top .right .addon-box:after {
        display: none; }
      .header-top .right .addon-box:first-child .dropdown-menu {
        right: auto;
        left: 0; }

  .header-center {
    padding: 25px 0; }

  .header-bottom .right .jms-search #searchbox {
    width: 100%; }

  .header-bottom #search_result {
    width: 93%; }

  .section-slider .home1 .large-text {
    font-size: 14px !important; }

  .section-slider .home1 .medium-text {
    font-size: 8px !important;
    width: 40vw; }

  .section-slider .home1 .small-text {
    font-size: 8px; }

  .section-slider .home1-button {
    top: 70% !important; }

  .owl-theme .owl-controls div.owl-prev,
  .owl-theme .owl-controls div.owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px; }

  .owl-theme .owl-controls div.owl-prev {
    right: 40px; }

  .section-products .right .addon-title.fix-title h3 {
    font-size: 16px;
    line-height: 26px; }

  .section-products .left {
    width: 80%; }

  .section-services .addon-box {
    width: 100%; } }
/* ------ */

/*# sourceMappingURL=home2.css.map */
