/* Active Color */
.header-bottom {
  background: #67bc0f; }

.section-large-banner .flex-box .banner-text button i {
  background: #67bc0f; }

.header-center .right .contact-box .info span.phone {
  color: #67bc0f; }

/* ------ */
#cart_block.open .shoppingcart-box {
  z-index: 1001; }

#index .content-wrapper {
  width: 1370px;
  margin: 0 auto;
  box-shadow: 0 -3px 5px rgba(17, 17, 17, 0.15);
  background: #fff; }

.site-content {
  position: relative;
  margin-top: -100px;
  z-index: 1000; }

/* Header Top */
.header-top {
  border-bottom: 1px solid #ebebeb; }
  .header-top .left {
    text-align: left; }
    .header-top .left .addon-box {
      display: inline-block;
      position: relative;
      padding: 12.5px 20px; }
      .header-top .left .addon-box:after {
        content: "";
        width: 1px;
        height: 25px;
        background: #ebebeb;
        position: absolute;
        right: 0;
        top: calc(50% - 12.5px); }
      .header-top .left .addon-box:first-child {
        padding-left: 0; }
      .header-top .left .addon-box:last-child {
        padding-right: 0; }
        .header-top .left .addon-box:last-child:after {
          content: none; }
      .header-top .left .addon-box a.btn-xs {
        line-height: 25px;
        font-size: 13px;
        color: #646a7c;
        padding: 0; }
        .header-top .left .addon-box a.btn-xs i {
          margin-left: 10px; }
    .header-top .left .address i {
      margin-right: 10px; }
  .header-top .right {
    text-align: right; }
    .header-top .right .addon-box {
      display: inline-block;
      padding: 13px 15px;
      position: relative; }
      .header-top .right .addon-box:after {
        content: "";
        width: 1px;
        height: 25px;
        background: #ebebeb;
        position: absolute;
        right: 0;
        top: calc(50% - 12.5px); }
      .header-top .right .addon-box:last-child {
        padding-right: 0; }
        .header-top .right .addon-box:last-child:after {
          content: none; }
      .header-top .right .addon-box:first-child {
        padding-left: 0; }
      .header-top .right .addon-box a.btn-xs {
        color: #646a7c;
        font-size: 13px; }
        .header-top .right .addon-box a.btn-xs i {
          font-size: 14px;
          margin-left: 10px; }

/* ------ */
/* Header Center */
.header-center {
  padding: 40px 0; }
  .header-center .row {
    display: flex;
    align-items: center; }
  .header-center .right {
    display: flex;
    justify-content: flex-end; }
    .header-center .right .contact-box {
      display: flex;
      align-items: center; }
      .header-center .right .contact-box .contact-icon {
        display: inline-block;
        width: 33px;
        height: 31px;
        background: url("../img/icon/contact_icon.png"); }
      .header-center .right .contact-box .info {
        padding-left: 20px;
        line-height: 1.2; }
        .header-center .right .contact-box .info span {
          font-size: 12px;
          display: block; }
          .header-center .right .contact-box .info span.phone {
            font-size: 18px;
            font-weight: 600; }
    .header-center .right .icon-list ul {
      display: flex;
      margin-bottom: 0; }
      .header-center .right .icon-list ul li {
        margin-right: 10px; }
        .header-center .right .icon-list ul li a {
          display: inline-block;
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 14px;
          line-height: 40px;
          background: #eceff6; }
          .header-center .right .icon-list ul li a i {
            position: relative;
            left: 2px; }
        .header-center .right .icon-list ul li:last-child {
          margin-right: 0; }
    .header-center .right .addon-box:nth-child(1) {
      padding-right: 50px; }
    .header-center .right .addon-box:nth-child(2) {
      padding-right: 10px; }

#cart_block a.cart-icon {
  background: #eceff6; }

.jms-megamenu .nav > li > a {
  color: #fff; }

/* ------- */
/* Header Bottom */
.header-bottom .container {
  position: relative; }
.header-bottom .left {
  position: static; }
.header-bottom .right {
  padding-left: 0;
  display: flex; }
  .header-bottom .right .addon-box:nth-child(1) {
    width: 62%;
    text-align: center; }
  .header-bottom .right .addon-box:nth-child(2) {
    width: 38%;
    position: relative; }
    .header-bottom .right .addon-box:nth-child(2):before {
      content: "";
      width: 1px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: 0;
      top: calc(50% - 10px); }
  .header-bottom .right .addon-box ul.find-us {
    width: 100%;
    text-align: right;
    margin-bottom: 0;
    padding: 13px 0; }
    .header-bottom .right .addon-box ul.find-us li {
      display: inline-block;
      padding: 0 14px; }
      .header-bottom .right .addon-box ul.find-us li a {
        font-size: 14px;
        color: #fff; }
      .header-bottom .right .addon-box ul.find-us li:last-child {
        padding-right: 0; }
.header-bottom #jms_ajax_search {
  margin-left: 0;
  width: 78%;
  height: 50px;
  float: unset;
  display: inline-block;
  left: auto;
  right: 0; }
  .header-bottom #jms_ajax_search #search_result {
    width: 130%; }
  .header-bottom #jms_ajax_search #ajax_search {
    padding-left: 20px; }

/* ------- */
/* Service */
.section-services .container {
  box-shadow: 0px 1px 3px rgba(17, 17, 17, 0.05); }
.section-services .feature-box {
  background: #fff;
  padding: 23px 0; }

/* ------ */
.section-large-banner .flex-box .banner-text .btn-effect:after {
  content: "SSSS"; }
.section-large-banner .flex-box .banner-text button {
  background: #232530;
  position: relative;
  border-radius: 2px 0 0 2px; }
  .section-large-banner .flex-box .banner-text button i {
    border-radius: 0 2px 2px 0;
    color: #fff;
    display: block;
    left: 100%;
    padding: 14px 16.5px;
    position: absolute;
    top: 0; }

.footer-instagram .container {
  width: 100%; }

/* Home 5 Responsive */
@media (max-width: 1599px) {
  .section-slider .home3-large-text {
    width: 29vw !important; }

  .section-slider .home3, .section-slider .home5 {
    left: 14% !important; }

  .home4-button1 {
    left: 27% !important; }

  .home5-button2 {
    left: 23% !important; } }
@media (max-width: 1366px) {
  .site-content {
    position: static;
    margin-top: 0; }

  #index .content-wrapper {
    width: auto;
    padding-top: 100px;
    box-shadow: none; } }
@media (max-width: 1199px) {
  .header-bottom .right .addon-box:nth-child(2) {
    display: none; }
  .header-bottom .right .addon-box:nth-child(1) {
    width: 100%;
    text-align: right; }

  .section-services .feature-box {
    align-items: center;
    flex-direction: column;
    text-align: center !important; }
    .section-services .feature-box .feature-icon, .section-services .feature-box .feature-content {
      width: 100%; }
    .section-services .feature-box .feature-content {
      margin-top: 10px; } }
@media (max-width: 991px) {
  .content-wrapper {
    padding-top: 50px; }

  .header-top .left .addon-box:nth-child(3) {
    display: none; }
  .header-top .right .dropdown-menu {
    left: auto;
    right: 0; }

  .header-bottom .right .addon-box:nth-child(2) {
    display: none; }
  .header-bottom .menu-button {
    width: 50px;
    height: 50px;
    right: auto;
    left: 0;
    border: none;
    background: #232530; }
    .header-bottom .menu-button .fa {
      color: #fff; }

  .section-large-banner .flex-box .banner-text button i {
    padding: 11.5px 11.5px; }

  .show-menu .menu-wrap {
    left: 0 !important;
    right: auto !important;
    transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important; }

  .menu-wrap {
    right: auto !important;
    left: -320px !important;
    transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important; }

  .section-banners .left {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px; }
  .section-banners .right {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }

  .section-services .addon-box {
    width: 50%; }
  .section-services .feature-box {
    display: block;
    text-align: center !important; }
    .section-services .feature-box .feature-icon {
      display: block;
      width: 100%;
      margin-bottom: 10px; }
    .section-services .feature-box .feature-content {
      width: 100%; } }
@media (max-width: 767px) {
  .header-bottom .menu-button {
    left: 15px; }

  .section-services {
    padding: 0 15px; }
    .section-services .container {
      padding: 0; }

  #index .content-wrapper {
    padding-top: 50px; } }
@media (max-width: 480px) {
  .header-top .left {
    width: 60%; }
  .header-top .right {
    width: 40%; }

  .header-center .left {
    width: 50%; }
  .header-center .right {
    width: 50%; }
    .header-center .right .addon-box:nth-child(1) {
      display: none; }
  .header-center .ajax_block_cart_total {
    display: none; }

  .header-bottom .left {
    width: 30%; }
  .header-bottom .right {
    width: 70%; }

  .fraction-slider {
    height: 300px !important; }

  .section-slider .home3-medium-text {
    font-size: 11px !important; }
  .section-slider .home3-large-text {
    font-size: 13px !important;
    line-height: 19px !important; }
  .section-slider .home3-small-text {
    font-size: 9px !important;
    line-height: 12px !important; }
  .section-slider .home3, .section-slider .home5 {
    left: 12% !important; }
  .section-slider .home4.home4-small-text {
    font-size: 11px !important;
    line-height: 10px !important;
    left: 25% !important; }
  .section-slider .home4.home4-large-text {
    font-size: 13px !important;
    line-height: 14px !important;
    left: 21% !important; }
  .section-slider .home5.home4-small-text {
    font-size: 9px !important;
    line-height: 10px !important; }
  .section-slider .home5.home4-large-text {
    font-size: 13px !important;
    line-height: 13px !important; }
  .section-slider .home4-button1, .section-slider .home4-button2, .section-slider .home5-button1, .section-slider .home5-button2 {
    font-size: 9px !important;
    line-height: 24px !important; }
  .section-slider .home4-button1 {
    left: 16% !important; }
  .section-slider .home5-button2 {
    left: 34% !important; }

  .section-categorytab .jms-tab1 {
    border: none;
    border-radius: 0; }
    .section-categorytab .jms-tab1 .nav-tabs > li {
      width: 100%;
      border-bottom: 1px solid #fff; }
      .section-categorytab .jms-tab1 .nav-tabs > li:last-child {
        border-bottom: none; }
      .section-categorytab .jms-tab1 .nav-tabs > li a {
        display: block;
        padding: 5px 0;
        border-right: none; }

  .section-banners .left .banner-text .large-text {
    font-size: 80px; }
  .section-banners .right .addon-box {
    margin-bottom: 15px; }
    .section-banners .right .addon-box:nth-child(1), .section-banners .right .addon-box:nth-child(2) {
      width: 100%;
      margin-right: 0; }
    .section-banners .right .addon-box:last-child {
      margin-bottom: 0; }
  .section-banners .right .banner-text .large-text {
    font-size: 22px; } }
@media (max-width: 320px) {
  .header-top .left {
    width: 55%;
    padding-right: 0; }
    .header-top .left .addon-box {
      padding: 12.5px 5px; }
      .header-top .left .addon-box a.btn-xs {
        font-size: 11px;
        padding: 1px 0; }
      .header-top .left .addon-box:nth-child(2) {
        padding-right: 0; }
      .header-top .left .addon-box:after {
        content: none; }
  .header-top .right {
    width: 45%; }
    .header-top .right .addon-box {
      padding: 13px 0; }
      .header-top .right .addon-box a.btn-xs {
        font-size: 11px;
        padding: 1px 0; }

  .section-slider .home5-button2 {
    left: 41% !important; }

  .section-slider .home4-button2 {
    left: 44% !important; }

  .section-slider .home3-large-text {
    width: 39vw !important; }

  .section-services .addon-box {
    width: 100%; } }
/* --------- */
/* Fix CSS in Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #index .content-wrapper {
    padding-top: 100px; } }
/* ------- */

/*# sourceMappingURL=home5.css.map */
