/* Active Color */
.header-bottom {
  background: #67bc0f; }

/* ------ */
#cart_block.open .shoppingcart-box {
  z-index: 1001; }

/* Header Top */
.header-top .left {
  text-align: left; }
  .header-top .left .addon-box {
    display: inline-block;
    position: relative;
    padding: 12.5px 20px; }
    .header-top .left .addon-box:after {
      content: "";
      width: 1px;
      height: 25px;
      background: #ebebeb;
      position: absolute;
      right: 0;
      top: calc(50% - 12.5px); }
    .header-top .left .addon-box:first-child {
      padding-left: 0; }
    .header-top .left .addon-box:last-child {
      padding-right: 0; }
      .header-top .left .addon-box:last-child:after {
        content: none; }
    .header-top .left .addon-box a.btn-xs {
      line-height: 25px;
      font-size: 13px;
      color: #646a7c;
      padding: 0; }
      .header-top .left .addon-box a.btn-xs i {
        margin-left: 10px; }
.header-top .right {
  text-align: right; }
  .header-top .right .addon-box {
    display: inline-block;
    padding: 13px 15px;
    position: relative; }
    .header-top .right .addon-box:after {
      content: "";
      width: 1px;
      height: 25px;
      background: #ebebeb;
      position: absolute;
      right: 0;
      top: calc(50% - 12.5px); }
    .header-top .right .addon-box:last-child {
      padding-right: 0; }
      .header-top .right .addon-box:last-child:after {
        content: none; }
    .header-top .right .addon-box:first-child {
      padding-left: 0; }
    .header-top .right .addon-box a.btn-xs {
      color: #646a7c;
      font-size: 13px; }
      .header-top .right .addon-box a.btn-xs i {
        font-size: 14px;
        margin-left: 10px; }
    .header-top .right .addon-box .address i {
      margin-right: 10px; }

/* ------ */
/* Header Center */
.header-center {
  background: #eceff6;
  padding: 39px 0; }
  .header-center .row {
    display: flex;
    align-items: center; }
  .header-center .right {
    display: flex;
    justify-content: flex-end; }
    .header-center .right .contact-box {
      display: flex;
      align-items: center; }
      .header-center .right .contact-box .contact-icon {
        display: inline-block;
        width: 33px;
        height: 31px;
        background: url("../img/icon/contact_icon.png"); }
      .header-center .right .contact-box .info {
        padding-left: 20px;
        line-height: 1.2; }
        .header-center .right .contact-box .info span {
          font-size: 12px;
          display: block; }
          .header-center .right .contact-box .info span.phone {
            color: #fc3333;
            font-size: 18px;
            font-weight: 600; }
    .header-center .right .icon-list ul {
      display: flex;
      margin-bottom: 0; }
      .header-center .right .icon-list ul li {
        margin-right: 10px; }
        .header-center .right .icon-list ul li a {
          display: inline-block;
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 14px;
          line-height: 40px;
          background: #fff; }
          .header-center .right .icon-list ul li a i {
            position: relative;
            left: 2px; }
        .header-center .right .icon-list ul li:last-child {
          margin-right: 0; }
    .header-center .right .addon-box:nth-child(1) {
      padding-right: 20px; }
    .header-center .right .addon-box:nth-child(2) {
      padding: 0 10px; }
  .header-center .jms-search #searchbox {
    width: 90%; }
  .header-center .jms-search {
    justify-content: flex-end; }
  .header-center #search_result {
    left: 12.5%;
    top: 43px;
    width: 84.6%; }
    .header-center #search_result .result_div {
      padding: 5px;
      background: #fff; }

#cart_block a.cart-icon {
  background: #fff; }

/* ------ */
/* Header Bottom */
.header-bottom .container {
  position: relative; }
.header-bottom .left .addon-box {
  position: relative; }
  .header-bottom .left .addon-box:nth-child(2) {
    display: none; }
  .header-bottom .left .addon-box .ver-menu-mobile, .header-bottom .left .addon-box .ver-menu-box {
    z-index: 1001; }
.header-bottom .left .ver-menu-box.open {
  opacity: 0;
  visibility: hidden; }
.header-bottom .left .ver-menu-box {
  opacity: 1;
  visibility: visible; }
.header-bottom .left .ver-btn {
  color: #fff;
  position: relative; }
  .header-bottom .left .ver-btn .fa-caret-down {
    display: inline-block; }
.header-bottom .right {
  padding-left: 0;
  display: flex;
  position: static; }
  .header-bottom .right .jms-megamenu .nav > li > a {
    color: #fff; }
  .header-bottom .right .addon-box:nth-child(1) {
    width: 77%; }
  .header-bottom .right .addon-box:nth-child(2) {
    width: 23%;
    position: relative; }
    .header-bottom .right .addon-box:nth-child(2):before {
      content: "";
      width: 1px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: 0;
      top: calc(50% - 10px); }
  .header-bottom .right .addon-box ul.find-us {
    width: 100%;
    text-align: right;
    margin-bottom: 0;
    padding: 13px 0; }
    .header-bottom .right .addon-box ul.find-us li {
      display: inline-block;
      padding: 0 15px; }
      .header-bottom .right .addon-box ul.find-us li a {
        font-size: 14px;
        color: #fff; }
      .header-bottom .right .addon-box ul.find-us li:last-child {
        padding-right: 0; }

/* ------- */
/* Slider */
.section-slider .benefit {
  position: absolute;
  width: 1170px;
  padding: 0;
  bottom: 30px;
  left: calc(50% - 585px);
  z-index: 1000;
  box-shadow: 0 10px 6px -6px rgba(17, 17, 17, 0.1); }
  .section-slider .benefit .addon-box {
    width: 25%;
    float: left; }
    .section-slider .benefit .addon-box:last-child {
      border-right: none; }
  .section-slider .benefit .feature-box {
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 0; }
    .section-slider .benefit .feature-box .feature-icon {
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px; }
    .section-slider .benefit .feature-box .feature-content {
      width: calc(100% - 70px); }
      .section-slider .benefit .feature-box .feature-content h3 {
        padding: 0;
        font-size: 14px;
        color: #232530; }
      .section-slider .benefit .feature-box .feature-content .desc-text {
        font-size: 12px; }

/* ------ */
.recomended-products .owl-theme .owl-controls .owl-nav div.owl-prev, .owl-theme .owl-controls .owl-nav div.owl-next {
  border-top: none;
  border-bottom: none; }

/* Home 3 Responsive */
@media (max-width: 1599px) {
  .section-slider .home3-large-text {
    width: 29vw !important; }

  .section-slider .home3, .section-slider .home5 {
    left: 14% !important; }

  .home4-button1 {
    left: 27% !important; }

  .home5-button2 {
    left: 23% !important; } }
@media (max-width: 1366px) {
  .section-slider .home3, .section-slider .home5 {
    left: 8% !important; }
  .section-slider .home4-button1 {
    left: 28% !important; }
  .section-slider .home5-button2 {
    left: 20% !important; } }
@media (max-width: 1199px) {
  .header-center .row {
    display: block; }
  .header-center .left {
    text-align: center;
    margin-bottom: 20px; }
  .header-center .jms-search {
    justify-content: flex-start; }

  .header-bottom .right .addon-box:nth-child(1) {
    width: 100%; }
  .header-bottom .right .addon-box:nth-child(2) {
    display: none; }

  .section-slider .home3, .section-slider .home5 {
    left: 21% !important; }

  .section-slider .home5-button2 {
    left: 32% !important; }

  .header-bottom .left .ver-btn .fa-caret-down {
    display: none; }

  .section-slider .benefit {
    width: 100%;
    left: 0; } }
@media (max-width: 991px) {
  .header-top .right .addon-box:nth-child(1) {
    display: none; }

  .header-center .right .addon-box:nth-child(1) {
    display: none; }

  .header-bottom .left {
    width: 35%; }
    .header-bottom .left .addon-box:nth-child(1) {
      display: none; }
    .header-bottom .left .addon-box:nth-child(2) {
      display: block; }
  .header-bottom .right {
    width: 65%; }
    .header-bottom .right .addon-box:nth-child(1) {
      width: 100%; }
    .header-bottom .right .addon-box:nth-child(2) {
      display: none; }
  .header-bottom .menu-button {
    width: 50px;
    height: 50px;
    border: none;
    background: #232530; }
    .header-bottom .menu-button .fa {
      color: #fff; }

  .section-slider .benefit {
    position: relative;
    left: auto;
    bottom: auto;
    width: 100%; }
    .section-slider .benefit .feature-box {
      display: block;
      text-align: center !important; }
      .section-slider .benefit .feature-box .feature-icon {
        display: block;
        width: 100%;
        margin-bottom: 10px; }
      .section-slider .benefit .feature-box .feature-content {
        width: 100%; }

  .section-products .container {
    position: relative; }
  .section-products .left {
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    right: 0;
    top: 109px;
    z-index: 1;
    width: 29.6%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s; }
    .section-products .left .addon-box {
      background: #fff; }
    .section-products .left.open {
      opacity: 1;
      visibility: visible;
      transition: opacity 1.5s; }
    .section-products .left .cat-box {
      border-right: 1px solid #ebebeb; }
  .section-products .right {
    width: 100%;
    padding-left: 15px; }
    .section-products .right .addon-title {
      display: block;
      margin-bottom: 10px; }
      .section-products .right .addon-title h3 {
        padding: 12px 0;
        font-size: 24px;
        text-transform: uppercase;
        color: #232530; }
  .section-products .jms-tab1 .nav-tabs li:first-child a {
    padding-left: 0; }
  .section-products .jms-tab1 .show-cat {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 12px 18px; }
  .section-products .jms-tab1:before {
    content: none; }
  .section-products .owl-theme .owl-controls div.owl-prev, .section-products .owl-theme .owl-controls div.owl-next {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; } }
@media (max-width: 767px) {
  .header-bottom .left {
    width: 40%; }
  .header-bottom .right {
    width: 60%; }
    .header-bottom .right .menu-button {
      right: 15px; }

  .section-slider .benefit .addon-box {
    width: 50%; }

  .section-hotdeals {
    padding: 0 15px; }
    .section-hotdeals .container {
      padding: 0; }

  .section-products .left {
    right: 15px; }

  .section-brands {
    padding: 0 15px; } }
@media (max-width: 480px) {
  .header-center .mid {
    width: calc(100% - 70px); }
  .header-center .right {
    width: 70px; }
    .header-center .right .addon-box {
      margin: 0; }
      .header-center .right .addon-box:nth-child(2) {
        display: none; }
      .header-center .right .addon-box .cart_block .ajax_block_cart_total {
        display: none; }
  .header-center .jms-search #searchbox {
    width: 100%; }

  .header-bottom .left {
    width: 60%; }
  .header-bottom .right {
    width: 40%; }

  .section-products .left {
    width: 50%; }
  .section-products .jms-tab1 {
    padding-right: 50px; }
    .section-products .jms-tab1 .nav-tabs > li {
      width: 50%; }
      .section-products .jms-tab1 .nav-tabs > li a {
        display: block;
        padding: 15px 0; }

  .fraction-slider {
    height: 300px !important; }

  .section-slider .home3-medium-text {
    font-size: 11px !important; }
  .section-slider .home3-large-text {
    font-size: 13px !important;
    line-height: 19px !important; }
  .section-slider .home3-small-text {
    font-size: 9px !important;
    line-height: 12px !important; }
  .section-slider .home3, .section-slider .home5 {
    left: 12% !important; }
  .section-slider .home4.home4-small-text {
    font-size: 11px !important;
    line-height: 10px !important;
    left: 25% !important; }
  .section-slider .home4.home4-large-text {
    font-size: 13px !important;
    line-height: 14px !important;
    left: 21% !important; }
  .section-slider .home5.home4-small-text {
    font-size: 9px !important;
    line-height: 10px !important; }
  .section-slider .home5.home4-large-text {
    font-size: 13px !important;
    line-height: 13px !important; }
  .section-slider .home4-button1, .section-slider .home4-button2, .section-slider .home5-button1, .section-slider .home5-button2 {
    font-size: 9px !important;
    line-height: 24px !important; }
  .section-slider .home4-button1 {
    left: 16% !important; }

  .header-top .left {
    width: 65%; }

  .header-top .right {
    width: 35%; } }
@media (max-width: 320px) {
  .header-top .left {
    width: 55%; }
    .header-top .left .addon-box {
      padding: 12.5px 5px; }
      .header-top .left .addon-box a.btn-xs {
        font-size: 11px;
        padding: 1px 0; }
  .header-top .right {
    width: 45%; }
    .header-top .right .addon-box {
      padding: 13px 0; }
      .header-top .right .addon-box a.btn-xs {
        font-size: 11px;
        padding: 1px 0; }

  .header-center {
    padding: 30px 0; }
    .header-center .cat-list {
      display: none; }
    .header-center .input-group-search {
      width: 15%; }
    .header-center .keyword-group {
      width: 85%; }

  .section-slider .benefit .addon-box {
    width: 100%; }

  .header-bottom .left {
    width: calc(100% - 80px); }
  .header-bottom .right {
    width: 80px; }

  .owl-theme .owl-controls div.owl-prev,
  .owl-theme .owl-controls div.owl-next {
    width: 40px;
    height: 40px;
    line-height: 40px; }

  .owl-theme .owl-controls div.owl-prev {
    right: 40px; }

  .section-slider .home5-button2 {
    left: 41% !important; }

  .section-slider .home4-button2 {
    left: 44% !important; }

  .section-slider .home3-large-text {
    width: 34vw !important; }

  .section-products .left {
    width: 70%;
    top: 93px; }
  .section-products .right .addon-title h3 {
    font-size: 16px; }
  .section-products .jms-tab1 .nav-tabs > li {
    width: 100%; }
  .section-products .jms-tab1 .nav-tabs > li a {
    padding: 5px 0; }
  .section-products .jms-tab1 .show-cat {
    padding: 8px 14px; } }
/* -------- */

/*# sourceMappingURL=home3.css.map */
