/* Active Color */
.header-bottom {
  background: #67bc0f; }

.header-center .left .contact-box .info span.phone {
  color: #67bc0f; }

/* ------ */
/* Header Top */
.header-top {
  border-bottom: 1px solid #ebebeb; }
  .header-top .left {
    text-align: left; }
    .header-top .left .addon-box {
      display: inline-block;
      position: relative;
      padding: 12.5px 20px; }
      .header-top .left .addon-box:after {
        content: "";
        width: 1px;
        height: 25px;
        background: #ebebeb;
        position: absolute;
        right: 0;
        top: calc(50% - 12.5px); }
      .header-top .left .addon-box:first-child {
        padding-left: 0; }
      .header-top .left .addon-box:last-child {
        padding-right: 0; }
        .header-top .left .addon-box:last-child:after {
          content: none; }
      .header-top .left .addon-box a.btn-xs {
        line-height: 25px;
        font-size: 13px;
        color: #646a7c;
        padding: 0; }
        .header-top .left .addon-box a.btn-xs i {
          margin-left: 10px; }
    .header-top .left .address i {
      margin-right: 10px; }
  .header-top .right {
    text-align: right; }
    .header-top .right .addon-box {
      display: inline-block;
      padding: 13px 15px;
      position: relative; }
      .header-top .right .addon-box:after {
        content: "";
        width: 1px;
        height: 25px;
        background: #ebebeb;
        position: absolute;
        right: 0;
        top: calc(50% - 12.5px); }
      .header-top .right .addon-box:last-child {
        padding-right: 0; }
        .header-top .right .addon-box:last-child:after {
          content: none; }
      .header-top .right .addon-box:first-child {
        padding-left: 0; }
      .header-top .right .addon-box a.btn-xs {
        color: #646a7c;
        font-size: 13px; }
        .header-top .right .addon-box a.btn-xs i {
          font-size: 14px;
          margin-left: 10px; }

/* ------ */
/* Header Center */
.header-center {
  padding: 40px 0; }
  .header-center .row {
    display: flex;
    align-items: center; }
  .header-center .left .contact-box {
    display: flex;
    align-items: center; }
    .header-center .left .contact-box .contact-icon {
      display: inline-block;
      width: 33px;
      height: 31px;
      background: url("../img/icon/contact_icon.png"); }
    .header-center .left .contact-box .info {
      padding-left: 20px;
      line-height: 1.2; }
      .header-center .left .contact-box .info span {
        font-size: 12px;
        display: block; }
        .header-center .left .contact-box .info span.phone {
          font-size: 18px;
          font-weight: 600; }
  .header-center .mid {
    text-align: center; }
  .header-center .right {
    display: flex;
    justify-content: flex-end; }
    .header-center .right .icon-list ul {
      display: flex;
      margin-bottom: 0; }
      .header-center .right .icon-list ul li {
        margin-right: 10px; }
        .header-center .right .icon-list ul li a {
          display: inline-block;
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 14px;
          line-height: 40px;
          background: #eceff6; }
          .header-center .right .icon-list ul li a i {
            position: relative;
            left: 2px; }
        .header-center .right .icon-list ul li:last-child {
          margin-right: 0; }
    .header-center .right .addon-box:nth-child(1) {
      padding-right: 10px; }

#cart_block a.cart-icon {
  background: #eceff6; }

/* ------- */
/* Header Bottom */
.header-bottom .container {
  position: relative; }
.header-bottom .right {
  padding-left: 0;
  display: flex;
  position: static; }
  .header-bottom .right .jms-megamenu .nav > li > a {
    color: #fff; }
  .header-bottom .right .addon-box:nth-child(1) {
    width: 77%; }
  .header-bottom .right .addon-box:nth-child(2) {
    width: 23%;
    position: relative; }
    .header-bottom .right .addon-box:nth-child(2):before {
      content: "";
      width: 1px;
      height: 20px;
      background: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: 0;
      top: calc(50% - 10px); }
  .header-bottom .right .addon-box ul.find-us {
    width: 100%;
    text-align: right;
    margin-bottom: 0;
    padding: 13px 0; }
    .header-bottom .right .addon-box ul.find-us li {
      display: inline-block;
      padding: 0 14px; }
      .header-bottom .right .addon-box ul.find-us li a {
        font-size: 14px;
        color: #fff; }
      .header-bottom .right .addon-box ul.find-us li:last-child {
        padding-right: 0; }
.header-bottom #jms_ajax_search {
  margin-left: 0;
  width: 78%;
  height: 50px; }
  .header-bottom #jms_ajax_search #search_result {
    width: 130%; }

/* ------- */
/* Slider */
.section-slider .benefit {
  position: absolute;
  width: 1170px;
  padding: 0;
  bottom: 30px;
  left: calc(50% - 585px);
  z-index: 1000;
  box-shadow: 0 10px 6px -6px rgba(17, 17, 17, 0.1); }
  .section-slider .benefit .addon-box {
    width: 25%;
    float: left; }
    .section-slider .benefit .addon-box:last-child {
      border-right: none; }
  .section-slider .benefit .feature-box {
    display: flex;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 0; }
    .section-slider .benefit .feature-box .feature-icon {
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px; }
    .section-slider .benefit .feature-box .feature-content {
      width: calc(100% - 70px); }
      .section-slider .benefit .feature-box .feature-content h3 {
        padding: 0;
        font-size: 14px;
        color: #232530; }
      .section-slider .benefit .feature-box .feature-content .desc-text {
        font-size: 12px; }

/* Home 5 Responsive */
@media (max-width: 1599px) {
  .section-slider .home3-large-text {
    width: 29vw !important; }

  .section-slider .home3, .section-slider .home5 {
    left: 14% !important; }

  .home4-button1 {
    left: 27% !important; }

  .home5-button2 {
    left: 23% !important; } }
@media (max-width: 1366px) {
  .section-slider .home3, .section-slider .home5 {
    left: 8% !important; }
  .section-slider .home4-button1 {
    left: 28% !important; }
  .section-slider .home5-button2 {
    left: 20% !important; } }
@media (max-width: 1199px) {
  .header-bottom .right .addon-box:nth-child(2) {
    display: none; }
  .header-bottom .right .addon-box:nth-child(1) {
    width: 100%; }
  .header-bottom #jms_ajax_search {
    width: 100%; }

  .section-slider .benefit {
    width: 100%;
    left: 0; }

  .section-slider .home3-large-text {
    width: 29vw; } }
@media (max-width: 991px) {
  .header-top .left .addon-box:nth-child(3) {
    display: none; }
  .header-top .right .dropdown-menu {
    left: auto;
    right: 0; }

  .header-center .left {
    display: none; }
  .header-center .mid {
    text-align: left; }

  .header-bottom .right {
    position: relative;
    padding-left: 15px; }
    .header-bottom .right .addon-box:nth-child(2) {
      display: none; }
  .header-bottom .menu-button {
    width: 50px;
    height: 50px;
    border: none;
    background: #232530; }
    .header-bottom .menu-button .fa {
      color: #fff; }

  .section-slider .benefit {
    position: relative;
    left: auto;
    bottom: auto;
    width: 100%; }
    .section-slider .benefit .feature-box {
      display: block;
      text-align: center !important; }
      .section-slider .benefit .feature-box .feature-icon {
        display: block;
        width: 100%;
        margin-bottom: 10px; }
      .section-slider .benefit .feature-box .feature-content {
        width: 100%; }

  .section-banners .left {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px; }
  .section-banners .right {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }
@media (max-width: 767px) {
  .header-bottom .menu-button {
    right: 15px; }
  .header-bottom .left {
    width: 50%; }
  .header-bottom .right {
    width: 50%; }

  .section-slider .benefit .addon-box {
    width: 50%; } }
@media (max-width: 480px) {
  .header-top .left {
    width: 60%; }
  .header-top .right {
    width: 40%; }

  .header-center .cart_block .ajax_block_cart_total {
    display: none; }

  .header-bottom .left {
    width: 60%; }
  .header-bottom .right {
    width: 40%; }
    .header-bottom .right .menu-button {
      right: 15px; }
  .header-bottom #jms_ajax_search {
    width: 100%; }

  .fraction-slider {
    height: 300px !important; }

  .section-slider .home3-medium-text {
    font-size: 11px !important; }
  .section-slider .home3-large-text {
    font-size: 13px !important;
    line-height: 19px !important; }
  .section-slider .home3-small-text {
    font-size: 9px !important;
    line-height: 12px !important; }
  .section-slider .home3, .section-slider .home5 {
    left: 12% !important; }
  .section-slider .home4.home4-small-text {
    font-size: 11px !important;
    line-height: 10px !important;
    left: 25% !important; }
  .section-slider .home4.home4-large-text {
    font-size: 13px !important;
    line-height: 14px !important;
    left: 21% !important; }
  .section-slider .home5.home4-small-text {
    font-size: 9px !important;
    line-height: 10px !important; }
  .section-slider .home5.home4-large-text {
    font-size: 13px !important;
    line-height: 13px !important; }
  .section-slider .home4-button1, .section-slider .home4-button2, .section-slider .home5-button1, .section-slider .home5-button2 {
    font-size: 9px !important;
    line-height: 24px !important; }
  .section-slider .home4-button1 {
    left: 16% !important; }
  .section-slider .home5-button2 {
    left: 34% !important; }

  .section-banners .left .banner-text .large-text {
    font-size: 80px; }
  .section-banners .right .addon-box {
    margin-bottom: 15px; }
    .section-banners .right .addon-box:nth-child(1), .section-banners .right .addon-box:nth-child(2) {
      width: 100%;
      margin-right: 0; }
    .section-banners .right .addon-box:last-child {
      margin-bottom: 0; }
  .section-banners .right .banner-text .large-text {
    font-size: 22px; } }
@media (max-width: 320px) {
  .header-top .left {
    width: 55%;
    padding-right: 0; }
    .header-top .left .addon-box {
      padding: 12.5px 5px; }
      .header-top .left .addon-box a.btn-xs {
        font-size: 11px;
        padding: 1px 0; }
      .header-top .left .addon-box:nth-child(2) {
        padding-right: 0; }
      .header-top .left .addon-box:after {
        content: none; }
  .header-top .right {
    width: 45%; }
    .header-top .right .addon-box {
      padding: 13px 0; }
      .header-top .right .addon-box a.btn-xs {
        font-size: 11px;
        padding: 1px 0; }

  .header-bottom .left {
    width: calc(100% - 80px); }
  .header-bottom .right {
    width: 80px; }

  .section-slider .benefit .addon-box {
    width: 100%; }

  .section-slider .home5-button2 {
    left: 41% !important; }

  .section-slider .home4-button2 {
    left: 44% !important; }

  .section-slider .home3-large-text {
    width: 34vw !important; }

  .section-categorytab .jms-tab1 {
    border: none;
    border-radius: 0; }
    .section-categorytab .jms-tab1 .nav-tabs > li {
      width: 100%;
      border-bottom: 1px solid #fff; }
      .section-categorytab .jms-tab1 .nav-tabs > li:last-child {
        border-bottom: none; }
      .section-categorytab .jms-tab1 .nav-tabs > li a {
        display: block;
        padding: 5px 0;
        border-right: none; } }
/* ------- */

/*# sourceMappingURL=home4.css.map */
