.myaccount-link-list li {
  float: left;
  font-size: 1em;
  line-height: 40px;
  margin-bottom: 15px;
  width: 50%;
  float: left;
}
.myaccount-link-list li.lnk_wishlist {
  width: 50%;
  padding-left: 0px;
}
.myaccount-link-list {
  float:left;
  width: 100%;
}
.myaccount-link-list li a {
  border: 1px solid #e5e5e5;
  display: block;
  font-weight: 400;
  padding: 5px 15px;
  text-transform: uppercase; 
  display:block;
}

.myaccount-link-list .fa {
  margin-right: 7px; }

.addresses-lists p {
  margin-bottom: 25px; 
}
@media(max-width:480px) {
  .myaccount-link-list li, .myaccount-link-list li.lnk_wishlist {
    width: 100%;
  }
}

/* panel tienda */

@media screen and (max-width: 1024px) {
    li.mailalerts {
    width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .section-two-banners .b-buysell-btn {
    left: 33%;
    } 
}

@media screen and (max-width: 414px) {
    .section-two-banners .b-buysell-btn {
    left: 28%;
    } 
    .section-two-banners .flex-box .banner-text button {
    font-size: 13px;
    padding: 4px 8px;
    }
}

@media screen and (max-width: 375px) {
    .section-two-banners .b-buysell-btn {
    left: 28%;
    } 
    .section-two-banners .flex-box .banner-text button {
    font-size: 12px;
    padding: 3px 6px;
    }
}