.pagenotfound-box {
	text-align:center;
}
.pagenotfound-box  p {
	margin-bottom: 0;
}
.pagenotfound-box h4{
	font-size:250px;
	font-weight:700;
	padding:0;
	color:#232530;
	line-height:1;
}
.search .h2 {
	font-size:26px;
	color:rgba(17,17,17,0.9);
	text-transform:uppercase;
}
.pagenotfound-box .large-text {
	color:#232530;
	font-size: 45px;
	font-weight: 500;
	line-height: 1.1;
	text-transform: capitalize;
}
.pagenotfound-box .small-text {
	font-size:16px;
	font-weight:300;
	color:rgba(17,17,17,0.4);
}
.pagenotfound-box .input_group {
	margin:20px 0;
}
.pagenotfound-box .input_group label {
	font-size: 16px;
	color:rgba(17,17,17,0.4);
}
.pagenotfound-box .input_group .flex-box{
	display: flex;
	justify-content: center;
}
.pagenotfound-box .input_group .flex-box input {
	width: 40%;
}
.pagenotfound-box .input_group .flex-box button{
	width:100px;
	text-align: center;
}
@media(max-width: 767px) {
	.pagenotfound-box h4 {
	  font-size: 30vw;
	}
	.pagenotfound-box .large-text {
  		font-size: 6vw;
	}
	.pagenotfound-box .small-text {
	  	font-size: 2.5vw;
	}
	.pagenotfound-box .input_group label {
  		font-size: 2vw;
	}
}
@media(max-width: 320px) {
	.pagenotfound-box h4 {
	  font-size: 38vw;
	}
	.pagenotfound-box .large-text {
  		font-size: 7vw;
	}
	.pagenotfound-box .input_group label {
  		font-size: 4vw;
	}
	.pagenotfound-box .input_group .flex-box {
	  	display: block;
	}
	.pagenotfound-box .input_group .flex-box input {
  		width: 100%;
  		margin-bottom: 10px;
	}
	.pagenotfound-box .button-small {
		line-height:30px !important;
		height:30px !important;
	}
	.pagenotfound-box .input_group .flex-box button{  
		width: 80px;
	}
}