/* .pb-left-column ***************************************************************************** */
.primary_block .pb-left-column img {
  height: auto; 
  width: 100%;
}

a.fancybox-nav {
  outline: 0; }
.pb-left-column #image-block img {
  background: #fbfbfb;
  width: 100%; }
.pb-left-column {
	width:45%;
}
.pb-right-column {
	width:55%;
}
.container-product {
	float: left;
	width: 100%;
}
/*==============================
=            JqZoom            =
==============================*/
#image-block .jq-zoom .zoomWindow {
  top: 0 !important;
  left:0 !important; 
	width: 100%;
}
#image-block .jq-zoom .zoomWindow img {
  width: auto !important; }
#image-block .zoomWrapper {
	width: 100% !important;
	overflow: hidden;
}
#image-block .zoomWrapper {
  height: 638px !important;
}
.zoomWrapperImage {
	height: 638px !important;
}
/* miniatures */
.share-group {
	margin-top:25px;
	float: left;
	width: 100%;
}
.image-block {
	position: relative;
	border:1px solid #ebebeb;
}
.views_block {
	margin-top: 30px;
	position: relative;
}
.image-block .search-icon {
	width: 50px;
	height: 50px;
	background:#eceff6;
	color: #232530;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
	border-radius: 50%;
	opacity:0;
	visibility: hidden;
	transition: opacity 2s;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
}
.image-block .action-buttons {
      position: absolute;
      display: inline-block;
      right: 20px;
      top: 20px;
      opacity: 0;
      visibility: hidden;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
}
.image-block :hover .search-icon {
	opacity: 0.9;
    visibility: visible;
}
.image-block:hover .action-buttons {
	opacity: 1;
    visibility: visible;
}
      .image-block .action-buttons a {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #e8e8e8;
        border-radius: 50%;
        text-align: center;
        margin-bottom: 10px; }
        .image-block .action-buttons a.add_to_compare .fa-check, .image-block .action-buttons a.add_to_compare.checked .fa-exchange{
        	display: none;
        }
        .image-block .action-buttons a.add_to_compare.checked .fa-check{
        	display: inline;
        }
        .image-block .action-buttons a:last-child {
          margin-bottom: 0; }
#thumbs_list {
  	float: left;
  	overflow: hidden;
 	width: 100%;
}

#thumbs_list ul#thumbs_list_frame {
  list-style-type: none;
  overflow: hidden;
  padding-left: 0;
  margin-bottom: 0;
}
#thumbs_list li {
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  line-height: 0;
  margin-right: 20px;
  width: 121px;
}
#thumbs_list li a {
	border: 1px solid #dbdbdb;
	display: block;
}
#view_scroll_right {
	width: 20px;
	height: 20px;
	color: #fff;
	line-height: 20px;
	font-size: 16px;
	text-align: center;
	position: absolute;
	right: 0;
	top: calc(50% - 10px);
}
#view_scroll_left {
	width: 20px;
	height: 20px;
	color: #fff;
	line-height: 20px;
	font-size: 16px;
	text-align: center;
	position: absolute;
	left: 0;
	top: calc(50% - 10px);
}
.pb-left-column .bx-prev:before {
	content:"\f0d7" !important;
}
.pb-left-column .bx-next:before {
	content:"\f0d8" !important;
}
.pb-left-column .bx-wrapper .bx-controls-direction a {
	align-items: center;
	background: #ebebeb none repeat scroll 0 0;
	display: flex;
	height: 25px;
	justify-content: center;
	left: 0;
	position: absolute;
	margin: 0;
	width: 100%;
	color:rgba(17,17,17,0.5);
}
.pb-left-column .bx-wrapper .bx-controls-direction a.bx-next {
	top: 0;
}
.pb-left-column .bx-wrapper .bx-controls-direction a.bx-prev {
	bottom:0;
	top:auto;
}
.pb-left-column .bx-wrapper {
	position: unset;
}
 .owl-theme .owl-controls .owl-nav div.owl-prev::before, .owl-theme .owl-controls .owl-nav div.owl-next::before {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  line-height: 100%;
  width: 100%;
}
.pb-left-column .arrow {
  display: inline-block;
  position: absolute;
  right: -120px;
  bottom: 18px; }

.resetimg {
  padding: 10px 0 0; }
/* Features List */
.feature-list {
	margin-bottom: 0;
	margin-top: 10px;
}
.feature-list li {
	line-height: 32px;
}
.feature-list li i {
	margin-right: 5px;
}
/*==================================
=            Attributes            =
==================================*/
.product-description {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 28px 0;
	margin-top: 20px;
}
.product-description .attribute_label {
  color: #232530;
  margin: 0;
  min-width: 90px;
  margin-right: 25px;
}

.without-column #attributes .attribute_fieldset {
  margin-bottom: 30px; 

}
.product-description .attribute_fieldset .attribute_list ul {
	margin-bottom: 0;
}
.product-description #attributes {
	margin-bottom:25px;
}
.product-description #attributes fieldset {
	margin-bottom: 10px;
}
.product-description #attributes fieldset:last-child {
	margin-bottom: 0;
}
#attributes .attribute_fieldset {
	display: flex;
	align-items: center;
}
#attributes .attribute_fieldset:last-child {
	margin-bottom:0;
}
#attributes div.selector {
  min-width: 100px !important;
  line-height: 20px;
  height: 20px; 
	padding: 0 10px;
	width: auto !important;
}
    .product-description .wlist-compare {
	  border-bottom:1px solid #e1e1e1;
	  padding-bottom:22px;
  }
#attributes div.selector span {
	border:none;
    height: 20px;
    line-height: 20px;
    width: 100% !important; 
    font-size: 15px;
    color: #20254e;
    font-weight: 500;
    padding: 0;
}
  #attributes div.selector select {
    height: 20px !important; }
#attributes div.selector:before {
    right:0;
	top: calc(50% - 9px);
	border:none;
	content:"\f107";
	font-family: "FontAweSome";
	font-size: 15px;
}
#attributes .attribute_list #color_to_pick_list {
  list-style-type: none;
  margin: 0; }
  #attributes .attribute_list #color_to_pick_list li {
    float: left;
    margin-right: 15px; }
    #attributes .attribute_list #color_to_pick_list li a.color_pick {
      display: block;
      height: 13px;
      width: 13px;
      cursor: pointer; 
      border-radius: 50%;
      border:1px solid #eee;
	}
#attributes .attribute_list #color_to_pick_list li a.color_pick img {
   display: block;
   height: 16px;
   width: 16px; 
}

#attributes .attribute_list.product-options {
  float: left; }
#attributes .attribute_list.product-options ul li {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow:hidden;
    margin-right: 7px;
}
#attributes .attribute_list.product-options ul#color_to_pick_list li {
	overflow: unset;
	height: 13px;
    width: 13px;
    margin: 0 15px;
}
#attributes .attribute_list.product-options ul#color_to_pick_list li:first-child {
	margin-left: 7px;
}
#attributes .attribute_list.product-options ul#color_to_pick_list li:last-child {
	margin-right: 0;
}
#attributes .attribute_list.product-options ul li:last-child {
	margin-right: 0;
}
#attributes .attribute_list.product-options ul li .radio input{
	position: absolute;
    left: 0;
    top: -3px;
	width: 30px;
    height: 30px;
    opacity: 0;
    z-index: 2;
}
#attributes .attribute_list.product-options ul li .radio {
	margin: 0;
}
#attributes .attribute_list.product-options ul li>span {
	width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background:#eceff6;
    color:#232530;
    font-weight: 500;
    font-size: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
}
/*==================================
=            Other Info            =
==================================*/
.other-info {
	margin-bottom: 0;
	margin-top: 25px;
}
.other-info li {
	display: inline-block;
	padding: 0 14px;
	position: relative;
}
.other-info li:first-child {
	padding-left:0;
}
.other-info li:last-child { 
	padding-right:0; 
}
.other-info li:last-child:after {
	content: none;
}
.other-info li:after {
	content: "";
	width: 1px;
	height: 14px;
	background:#ebebeb;
	position: absolute;
	right: 0;
	top: calc(50% - 7px);
}
    .other-info li label {
      color: #232530;
		display: inline-block;
		font-size: 13px;
		font-weight: 500;
		margin-bottom: 0;
	}
    .other-info li span {
      color: #232530; 
	 }
	.other-info #availability_value {
		background: none;
	}

/*===================================
=            social-wrap            =
===================================*/
.hook-right-product {
	margin-top:15px;
}
.social-wrap .socialsharing_product{
	display: flex;
}
.social-wrap .socialsharing_product .title {
	color: #232530;
}
.social-wrap .socialsharing_product button {
	padding: 0 20px;
	color: #b3b7c8;
	margin: 0;
}
/*====================================
=            QUANTITY BOX            =
====================================*/
.quantity-box .option {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.quantity-box #quantity_wanted_p {
	float: left;
}
.quantity-box .quantity-control .text-label {
	float: left;
	line-height: 35px;
	font-size: 15px;
	color: #111;
	margin-right: 10px;
}
.quantity-box .input-group-addon {
	  background: #fff none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	color: rgba(17, 17, 17, 0.75);
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0;
	width: 40px;
	z-index: 10;
	border: 1px solid #ebebeb;
}
.quantity-box .input-group-addon.minus {
	border-right: none;
}
.quantity-box .input-group-addon.plus {
	border-left: none;
}
.quantity-box .input-group-addon .icon-minus, .quantity-box .input-group-addon .icon-plus {
    font-size: 24px; 
}
.quantity-box input#quantity_wanted {
  background: #fff none repeat scroll 0 0;
	float: left;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 50px;
	border-left: none;
	border-right: none;
	border-color: #ebebeb;
}
.quantity-box #add_to_cart {
	border: none;
	color: #20254e;
	text-align:center;  
	position:relative;
	font-size: 22px;
	display: inline-block;
	padding: 6.5px 25px;
	border-radius: 3px;
	color: #fff;
	min-width: 200px;

}
.quantity-box #add_to_cart .icon-bag{
	margin-right: 10px;
}
.quantity-box #add_to_cart span {
	position: relative;
}
.quantity-box #add_to_cart .text {
    font-size: 14px; 
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.quantity-box #add_to_cart.checking .fa-spin {
    display: inline-block; 
}
.quantity-box #add_to_cart.checked .fa-check {
    display: inline-block; 
}
.quantity-box .product-btn.add_to_compare {
	margin-right:0;
}
.quantity-box .product-btn .fa-check, .quantity-box .product-btn .fa-refresh, 
.quantity-box #add_to_cart.checking .text,
.quantity-box #add_to_cart.checking .icon-check,
.quantity-box #add_to_cart .fa-check, 
.quantity-box #add_to_cart .fa-spin, 
.quantity-box #add_to_cart.checking .icon-bag, 
.quantity-box .add_to_compare.checked .icon-bar-graph-2,
.quantity-box .add_to_compare .icon-check
{
	display: none;
}
.quantity-box .add_to_compare.checked .fa-check, .quantity-box #add_to_cart.checking  .fa-refresh, .quantity-box .add_to_compare.checked .icon-check {
	display: inline-block; 
}
.content_prices {
	display:flex;
	justify-content:flex-start;
}
.content_prices p {
	margin-bottom:0;
}
.our_price_display .price {
	font-size: 16px;
	font-weight: 500;
	line-height: 35px;
}

#old_price {
	color: #b3b7c8;
	font-size: 12px;
	line-height: 35px;
	margin-left: 10px;
	text-decoration: line-through;
}
.quantity-box .addToWishlist, .quantity-box .add_to_compare {
	display: inline-block;
	height: 55px;
	width: 55px;
	background: #f2f2f2;
	border-radius: 50%;
	line-height: 55px;
	text-align: center;
	font-size:24px;
}
.quantity-box .addToWishlist {
	margin-right: 10px;
}
.quantity-box .action-buttons {
	display: inline-block;
	float: right;
}
/*====================================
=            Right Column            =
====================================*/
.pb-right-column h1 {
    color: #12131a;
    font-size: 24px;
	text-transform:capitalize;
	padding:0;
	font-weight:400;
}
.payment-logo-block ul.payment-logo {
	text-align: left; 
}
.payment-logo-block ul.payment-logo li {
    margin-right: 10px;	
}
.payment-logo-block ul.payment-logo li img {
    border: 1px solid #ebebeb;
    opacity: 1; 
}
/* Feature List */
.pb-right-column .availability_statut {
	color: rgba(32,37,78,0.75);
	margin-bottom: 5px;
}
.pb-right-column .availability_statut span.label-warning{
	background: none;
	color: #fc3c2a;
}
.pb-right-column .availability_statut span.label-success {
	background: none;
}
/*=======================================
=            More info block            =
=======================================*/
#more_info_block {
	display: inline-block;
	margin-bottom:50px;
	margin-top:30px;
	width: 100%; 
 }
#more_info_block .tabs-info {
	position:relative;
}
  #more_info_block .nav-tabs {
    border: none;
	display:flex;
	justify-content:center;
}
#more_info_block .nav-tabs > li {
    float: none;
    display: inline-block;
    width: 33.33%;
    background: #eceff6; 
    border-right: 1px solid #fff;
}
#more_info_block .nav-tabs > li:last-child {
	border-right: none;
}
      #more_info_block .nav-tabs > li:first-child {
        padding-left: 0; }
      #more_info_block .nav-tabs > li:last-child {
        margin-right: 0;
        padding-right: 0; }
     #more_info_block .nav-tabs > li > a {
        font-weight: 500;
        text-transform: uppercase;
        color:#111111;
        position: relative;
        padding: 10px 0;
        margin: 0;
		letter-spacing:0.01em;
		border-radius: 0;
		border:none;
		text-align: center;
	}
     #more_info_block .nav-tabs > li.active > a {
		position:relative;
		font-weight: 500;
	}
  #more_info_block .tab-content > .tab-pane {
    display: none; }
  #more_info_block .tab-content > .tab-pane.active {
    display: block; }
  #more_info_block .tab-content {
   	border:1px solid #ebebeb;
   	padding: 30px;
}
#more_info_block .tab-content .tab-pane>p {
	line-height: 28px;
	margin-bottom: 20px;
}
#more_info_block .tab-content .tab-pane>p:last-child {
	margin-bottom:0;
}
/*====================================================
=            Accessories & Relate Product            =
====================================================*/
.product-rating .rating {
	margin-bottom:0;
}
.product-rating .nbcomments, .product-rating #new_comment_tab_btn {
	display: none;
}
.product-rating .nbcomments {
	display: none;
}
.product-rating #new_comment_tab_btn {
	padding-right: 0;
}
 .content_prices .shipping_cost {
	font-size:15px;
	color:#6f6f6f;
	font-weight:300;
	margin-left:35px;
}
#short_description_block {
	line-height: 28px;
}
#short_description_block p {
	margin-bottom:0;
}
.add_to_compare.product-btn.checked .fa-retweet {
	display:none;
}
.add_to_compare.product-btn.checked  .fa-check {
  display: inline-block;
}
.specification{
	font-size:15px;
	line-height:30px;
	font-weight:300;
}
.specification .title{
	font-weight:400;
}
.accessories-section {
	margin-bottom:30px;
}
.blockproductscategory .product-box, .accessories-section .product-box {
	border-right: none;
}
.blockproductscategory .product-box .preview, .accessories-section .product-box .preview {
	border:1px solid #ebebeb;
}
.blockproductscategory .addon-title, .accessories-section .addon-title{
  text-align: center;
  margin-bottom: 20px;
}
.blockproductscategory .addon-title h3, .accessories-section .addon-title h3 {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    padding: 0 0 7px; 
    color: #232530;
    font-weight: 500;
}
@media(max-width:1599px){
	.quantity-box #add_to_cart {
		margin-right: 50px;
	}
	.quantity-box .product-btn.add_to_compare {
	   margin-right: 15px;
	}
	#image-block .zoomWrapper {
	  height: 533px !important;
	}
	.zoomWrapperImage {
		height: 533px !important;
	}
	.quantity-box .option {
	  margin-right: 25px;
	}
	.quantity-box #add_to_cart {
	  margin-right: 35px;
	}
}
@media(max-width: 1366px){
	.quantity-box #add_to_cart {
	  margin-right: 0px;
	}
	.quantity-box .action-buttons {
	  display: block;
	  float: unset;
	  margin-top: 20px;
	}
	#image-block .zoomWrapper {
	  height: 460px !important;
	}
	.zoomWrapperImage {
		height: 460px !important;
	}
}
@media(max-width:1199px){
	#best-sellers_block_right .product-box .product-info > a {
		margin-top: 7px !important;
		text-align: left;
	}
	.pb-right-column h1 {
	  font-size: 21px;
	}
	.nbcomments {
	  padding: 0 15px !important;
	}
	.our_price_display {
	  margin: 0 0 25px 0;
	}
	ul.payment-logo li {
	  display: inline-block;
	  margin-right: 3px;
	}
	#more_info_block .tab-content p {
	  font-size: 13px;
	}
	#categories_block_left .block_content ul > li a {
	  font-size: 14px !important;
	}
	.quantity-box .option {
		margin-bottom: 20px;
	}
	#image-block .zoomWrapper {
	  height: 395px !important;
	}
	.zoomWrapperImage {
		height: 395px !important;
	}
	#thumbs_list .owl-theme .owl-controls .owl-nav div.owl-prev{
		left: 0;
	}
	#thumbs_list .owl-theme .owl-controls .owl-nav div.owl-next {
		right: 0;
	}
}
@media(max-width:991px){
	#best-sellers_block_right .block_content {
	  display: flex;
	}
	#best-sellers_block_right .product-box {
	  width: 25%;
	  display: block !important;
	  padding:0 5px;
	}
	#best-sellers_block_right .product-box .product-info {
  		text-align: center !important;
  		width: 100% !important;
  		padding: 0 10px !important;
	}
	#best-sellers_block_right .product-box .preview {
  		width: 100% !important;
	}
	#best-sellers_block_right .product-box .product-info .content_price {
	  text-align: center !important;
	}
	.small-column.col-md-pull-9 {
		margin-top: 50px;
	}
	.zoomPup {
		width: 0 !important;
		height: 0 !important;
	}
	#image-block .zoomWrapper {
		display: none;
	}
}
@media(max-width:767px) {
	.accessories-section .owl-theme .owl-controls .owl-nav div.owl-prev, 
	.blockproductscategory .owl-theme .owl-controls .owl-nav div.owl-prev {
	  left: 25px;
	}
	.accessories-section .owl-theme .owl-controls .owl-nav div.owl-next, 
	.blockproductscategory .owl-theme .owl-controls .owl-nav div.owl-next {
	  right: 25px;
	}
	.pb-left-column, .pb-right-column {
		width: 100%;
	}
}
@media(max-width:699px){
	#best-sellers_block_right .block_content {
	  display: block;
	}
	#best-sellers_block_right .product-box {
	  align-items: center;
	  border-bottom: medium none !important;
	  display: flex;
	  width: 100%;
	  border-bottom:1px solid #e1e1e1 !important;
	}
	#best-sellers_block_right .product-box .preview {
	  width: 40% !important;
	}
	#best-sellers_block_right .product-box .product-info {
	  padding: 0 0 0 20px !important;
	  text-align: left !important;
	  width: 60% !important;
	}
	.pb-right-column, .pb-left-column {
	  width: 100%;
	}
	#best-sellers_block_right .product-box:last-child {
		border-bottom:none !important;
	}
}
@media(max-width:480px){
	#best-sellers_block_right .product-box {
		padding:0;
	}
	#best-sellers_block_right .block_content .product-box {
		margin-right:0;
		padding-bottom:20px;
	}
	#best-sellers_block_right .product-box .product-info > a {
		text-align: left !important;
	}
	#best-sellers_block_right .product-box .product-info .content_price {
		text-align: left !important;
	}
	.pb-right-column {
		margin-top:40px;
	}
	#best-sellers_block_right .product-box {
		display:block;
		width:50%;
		float:left;
		padding:5px;
		border-bottom:none !important;
	}
	#best-sellers_block_right .product-box .preview {
		width: 100% !important;
	}
	#best-sellers_block_right .product-box .product-info {
		width: 100% !important;
		padding:0 !important;
		text-align:center !important;
	}
	#best-sellers_block_right .product-box .product-info > a {
		text-align: center !important;
	}
	#best-sellers_block_right .product-box .product-info .content_price {
		text-align: center !important;
	}
	#best-sellers_block_right {
	 float:left;
	 width:100%;
	}
	#more_info_block .nav-tabs {
	  display: block;
	  text-align: center;
	}
	#more_info_block .nav-tabs > li {
	  display: block;
	  padding: 0;
	}
}
@media(max-width:320px){
	#best-sellers_block_right .product-box {
		display: flex;
		width: 100%;
		border-bottom:1px solid #e1e1e1 !important;
	}
	#best-sellers_block_right .product-box .product-info > a {
		text-align: left !important;
	}
	#best-sellers_block_right .product-box .product-info .content_price {
		text-align: left !important;
	}
	#best-sellers_block_right .product-box .preview {
	  width: 30% !important;
	}
	#best-sellers_block_right .product-box .product-info {
	  width: 70% !important;
	  padding:0 0 0 20px !important;
	}
	.breadcrumb-box, .breadcrumb-box a {
	  font-size: 13px;
	}
	.bg-image-area .meta-title {
	  font-size: 27px;
	}
	.pb-right-column h1 {
	  font-size: 19px;
	}
	.blockproductscategory .addon-title h3 {
	  font-size: 20px;
	}
	.blockproductscategory .owl-controls {
		top: 1px;
	}
	#best-sellers_block_right .product-box .product-info {
		text-align:left !important;
	}
	#product .html_left {
	  display: block;
	}
}