.categories_block_left {
	margin-bottom: 30px;
}

/* estilos se aplicaran cuando resolucion sea menor o IGUAL a la indicada */
@media screen and (max-width: 991px) {
    .categories_block_left {
	margin-bottom: 15px;
}
}


.filters-panel {
	margin-top: 15px;
}
.filters-panel.bottom {
	margin-top:50px;
	float:left;
	width: 100%;
}
  .filters-panel .text {
    color: #111;
    font-size: 13px;
    font-weight: 400;
    margin-right: 6px; }
.filters-panel .view-mode {
	display: block;
	position: relative;
	text-align: right; 
}
.filters-panel .left {
	display: flex;
	justify-content: flex-start;
}
.filters-panel .left .product-sort {
	margin-right: 10px;
}
.filters-panel .left .product-sort, .filters-panel .left .nbr-page {
	width: 49%;
}
.filters-panel .left .nbr-page form {
	width: 100%;
}
.filters-panel .nbr-page {
	display: flex;
	justify-content: center;
}
    .filters-panel .view-mode > a {
		display: inline-block;
		line-height:1;
    }
	.filters-panel .view-mode > a > span{
		font-size:18px;
	}
	.filters-panel .view-mode > a > span.fa-list-ul {
		font-size:19px;
	}
    .filters-panel .view-mode .view-grid {
      margin-right: 5px; }
.filters-panel .view-mode .view-grid, .filters-panel .view-mode .view-list {
	border:1px solid #999999;
	padding: 8.5px;
}
.show-item div.selector {
 	width: 100% !important;
 	border:1px solid #999999;
}
.show-item div.selector span {
	border: medium none;
	font-size: 14px;
	width: 100% !important;
	color: #646a7c;
}
  .product-sort .selectProductSort {
    display: inline-block; }
.product-sort .selector {
    display: inline-block;
	height: 35px;
	line-height: 35px;
	width: 100% !important;
	border: 1px solid #999999; 
}
    .product-sort .show-item{  
		margin-left: 30px;
    }
   .product-sort .show-item .selector {
   	 width: 50px !important;
   }
    .product-sort .selector select {
		height: 35px; 
	}
    .product-sort .selector span {
		border: medium none;
		font-size: 14px;
		height: 35px;
		line-height: 35px;
		text-align: left;
		width: auto !important;
		color: #646a7c;
		border:1px solid #ebebeb;
	}

.filters-panel div.selector:before {
	top:-5px;
	border:none;
	content: "\f0dd";
	font-family:"FontAwesome";
	font-size: 18px;
	right: 10px;
}
.filters-panel.bottom div.selector:before {
	top:1px;
}
  .product-sort select {
    text-align: left; }

.nbrproduct {
  display: inline-block; }
  .nbrproduct .selector {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 90px !important; }
    .nbrproduct .selector:before {
      right: 14px !important; }
    .nbrproduct .selector select {
      height: 35px;
      min-width: 100%; }
    .nbrproduct .selector span {
      width: auto !important;
      height: 30px;
      line-height: 30px;
      border: 1px solid #a6a5a5;
      font-size: 14px;
      text-transform: uppercase;
      text-align: left;
      position: relative; }
      .nbrproduct .selector span:after {
        content: '';
        background: #d7d7d7;
        width: 1px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 35px; }

.pagination-block {
  text-align: right; }
.pagination {
  display: block;
  padding: 0;
  margin: 0;
  border-radius: 0; 
  text-align: center;
}
  .pagination li {
    float: none;
    display: inline-block;
    margin-right: 3px; }
    .pagination li:first-child > a, .pagination li:first-child > span {
      border-radius: 0; }
    .pagination li:last-child {
      margin-right: 0; }
      .pagination li:last-child > a {
        border-radius: 0; }
    .pagination li > a,
    .pagination li > span {
      float: none;
      text-align: center;
      border:1px solid #999999;
      border-radius: 0;
	  background: #fff;
      font-size: 15px;
      color: #12131b;
      padding: 0;
      width: 35px;
      height: 35px;
      line-height: 35px;
      display: inline-block;
      margin: 0; }
/* Product Item */
.product_list .list-box {
	width: 100%;
	float: left;
}
.product_list {
	float: left;
	width: 100%;
	position: relative;
	border-top:1px solid #ebebeb;
}
.product_list .list-box:after {
	content: "";
	height: 100%;
	width: 1px;
	background:#ebebeb;
	position: absolute;
	bottom: 0;
	left: 0;
}
.product_list:before {
	content: "";
	width: 1px;
	height: 100%;
	background:#ebebeb;
	position: absolute;
	bottom: 0;
	right: 0;
}
.product_list:after {
	content: "";
	width: 100%;
	height: 1px;
	background:#ebebeb;
	position: absolute;
	bottom: 0;
	right: 0;
}
.product_list .item.ajax_block_product {
	float: left;
	width: 25%; 
}
.product_list .item.ajax_block_product .product-box{
	position: relative;
}
.product_list .item.ajax_block_product .product-box:after {
	content:"";
	width: 100%;
	height: 1px;
	background:#ebebeb;
	position: absolute;
	bottom: 0;
	left: 0;
}
.product_list .product-box .product-info .product-cat {
	display: block;
	text-align: center;
	margin-bottom: 5px;
}
 .product_list  .product-box .product-buttons li {
	margin-right: 4px;
}
.product_list .product-box .product-buttons .cart-button.checking .text, .product_list .product-box .product-buttons .cart-button.checked .text {
	display:none;
}
.product_list .product-box .product-buttons .cart-button.checked span.fa-check, 
.product_list .product-box .product-buttons .cart-button.checking span.fa-refresh{
	display:block;
}
.product_list .product-box .product-buttons .cart-button.checking .fa-refresh, .product_list .product-box .product-buttons .fa {
	 line-height: 35px;
}
.product_list.products-list-in-row  .product-box .buttons-in-list, 
.product_list.products-list-in-row  .product-box .product-description,
.product_list.products-list-in-row  .product-box  a.name-top {
	display: block;
}
.product_list.products-list-in-row  .product-box .buttons-in-list a{
	margin-right: 20px;
}
.product_list.products-list-in-row  .product-box .buttons-in-list a:last-child {
	margin-right: 0;
}
.product_list.products-list-in-column {
	margin-top: 30px;
}
.product_list.products-list-in-column .product-info .description, 
.product_list.products-list-in-column .product-info .product-buttons {
	display:none;
}
.product_list.products-list-in-row  .product-box  a.product-name {
	padding: 0;
}
.product_list .product-box  a.name-top {
	margin-bottom: 5px;
}
.product_list  .product-box .buttons-in-list, .product_list .product-box .product-description, 
.product_list.products-list-in-row  .product-box  a.name-bottom, .product_list .product-box  a.name-top  {
	display: none;
}
.product_list.products-list-in-row .item.ajax_block_product .product-box .product-info {
	display: none;
}
.product_list.products-list-in-column .item.ajax_block_product .product-box .list-info {
	display: none;
}
.product_list.products-list-in-row .item.ajax_block_product {  
	margin-bottom: 0;	
}
#product_list.products-list-in-row .item {
  width: 100%;
}
 .product_list.products-list-in-row {
 	border-top: none;
 	margin-top: 27px;
  }
  .product_list.products-list-in-row .item.ajax_block_product .product-box::after {
  	content: none;
  }
.product_list.products-list-in-row .list-box::after, .product_list.products-list-in-row:before, .product_list.products-list-in-row:after {
	content: none;
}
#product_list.products-list-in-row .list-box .ajax_block_product{
	margin-bottom: 50px;
}
#product_list.products-list-in-row .list-box .ajax_block_product:last-child{
	margin-bottom: 0;
}
#product_list.products-list-in-row .product-box {
	border-right: none;
}
#product_list.products-list-in-row .product-box .preview {
  width: 30%;
  border:1px solid #ebebeb;
}
#product_list.products-list-in-row .product-box .list-info .cart-button {
	display: inline-block;
	padding: 8px 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 8px;
}
#product_list.products-list-in-row .product-box .list-info .cart-button  .fa-shopping-cart{
	margin-right:5px;
}
#product_list.products-list-in-row .product-box .list-info .cart-button .fa-refresh,
#product_list.products-list-in-row .product-box .list-info .cart-button .fa-check, 
#product_list.products-list-in-row .product-box .list-info .cart-button.checking .text,
#product_list.products-list-in-row .product-box .list-info .cart-button.checked .text,
#product_list.products-list-in-row .product-box .list-info .cart-button.checking .fa-shopping-cart,
#product_list.products-list-in-row .product-box .list-info .cart-button.checked .fa-shopping-cart{
	display: none;
}
#product_list.products-list-in-row .product-box .list-info .cart-button.checking .fa-refresh, 
#product_list.products-list-in-row .product-box .list-info .cart-button.checked .fa-check {
	display: inline;
}
#product_list.products-list-in-row .product-box .list-info {
  	padding-left: 50px;
	width: 70%;
	display: flex;
	align-items: center;
}
#product_list.products-list-in-row .product-box .list-info .nb-comments {
	display: none;
   }
    #product_list.products-list-in-row .product-box .list-info .product-name {
      font-size: 24px;
      text-transform: capitalize; }
    #product_list.products-list-in-row .product-box .list-info .content_price {
      margin-bottom: 5px; }
      #product_list.products-list-in-row .product-box .list-info .content_price .price.new {
        font-size: 22px;
        font-weight: 600;
       }
      #product_list.products-list-in-row .product-box .list-info .content_price .price.old {
        color: #b3b7c8;
        text-decoration: line-through;
        margin-left: 10px; 
        display: inline-block;
        line-height: 37px;
    }
    #product_list.products-list-in-row .product-box .list-info .product-desc {
      color: #646a7c;
     }
    #product_list.products-list-in-row .product-box .list-info .review {
      display: block; }
    #product_list.products-list-in-row .product-box .list-info .product-features li {
      line-height: 32px; }
      #product_list.products-list-in-row .product-box .list-info .product-features li i {
        margin-right: 5px; }

#product_list.products-list-in-row .item.ajax_block_product .product-box {
  	display: flex;
}
 #product_list .product-box .preview img {
	width:100%;
 }
 #product_list.products-list-in-row .product-box .product-buttons {
	position:unset;
	display: flex;
	justify-content: flex-start;
 }
@media(max-width: 1599px) {
	#product_list.products-list-in-row .product-info {
	  width: 70%;
	}
	#product_list.products-list-in-row .preview {
	  width: 30%;
	}
}
 @media(max-width: 1366px) {
 	.product_list .item.ajax_block_product {
	  	width: 33.33%;
	}
	.product_list.products-list-in-row .product-info {
	  width: 65%;
	}
	.product_list.products-list-in-row .preview {
	  width: 35%;
	}
 }
@media(max-width: 1199px) {
	#product_list.products-list-in-row .product-box .product-info .product-description {
  		font-size: 13px;
	}
	#product_list.products-list-in-row .product-box .product-cat {
	  margin-bottom: 8px;
	}
 }
 @media(max-width:991px) {
 	.product_list .item.ajax_block_product {
	  width: 50%;
	}
 }
 @media(max-width: 360px) {
 	.product_list .item.ajax_block_product {
	  	width:100%;
	}
 }