.header-top .right {
  text-align: left;
}
.header-top .right .addon-box:last-child {
  padding-right: 20px;
  padding-left: 0;
}
.header-top .left .contact-list ul li:first-child {
  padding-left: 20px;
  padding-right: 0;
}
.header-top .left .contact-list ul li:last-child {
  padding-right: 20px;
  padding-left: 0;
}
.header-top .right .addon-box::after {
	right: auto;
	left: 0;
}
.header-top .left .contact-list ul li::after {
	right: auto;
	left: 0;
}
.header-top .left .contact-list ul li i {
  margin-left: 10px;
  margin-right: 0;
}
.header-top .right .addon-box:first-child {
  padding-left: 20px;
  padding-right: 0;
}
.header-top .right .addon-box a.btn-xs i {
  margin-left: 10px;
}
.header-top .right .addon-box a.btn-xs i {
  margin-right: 10px;
  margin-left: 0;
}

.header-center .right .addon-box:last-child {
  margin-left: 0;
  margin-right: 10px;
}
.header-center .right .icon-list ul li {
  margin-left: 10px;
  margin-right: 0;
}
.header-center .right .icon-list ul li:last-child {
  margin-left: 0;
}
.header-center .right .icon-list ul li a i {
  right: 2px;
  left: auto;
}

.header-bottom .right .addon-box {
  float: right;
}
.header-bottom .right {
  padding-left: 15px;
  padding-right: 0;
}
.header-bottom .right ul.find-us {
  text-align: left;
}
.header-bottom .right .addon-box:nth-child(2)::before {
	left: auto;
	right: 0;
}
.header-bottom .right ul.find-us li:last-child {
  padding-right: 15px;
  padding-left: 0;
}
.header-bottom .right ul.find-us li:first-child {
  padding-left: 15px;
  padding-right: 0;
}
.cat-list::after {
	right: auto !important;
	left: 20px;
}

.section-services .feature-box .feature-content {
  text-align: right;
}
@media(max-width: 1199px) {
	.section-services .feature-box .feature-content {
	  text-align: center;
	}
}
@media(max-width: 991px) {
	.header-center .menu-button {
	  left: auto;
	  right: 15px;
	}
	.show-menu .menu-wrap {
	  right: 0 !important;
	  left: auto !important;
	  transition: right 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
	}
	.menu-wrap {
	  right: -320px !important;
	  left: auto !important;
	  transition: right 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
	}
	.section-products .right .addon-title.fix-title .show-cat {
		left: 0;
		right: auto;
	}
	.section-products .left {
	  padding-left: 0;
	  padding-right: 15px;
	  right: auto;
	  left: 0;
	}
}
@media(max-width: 767px) {
	.header-top .right {
	  text-align: center;
	}
	.header-bottom .cat-list:after {
		content: none;
	}
	.section-products .right {
		padding-right: 15px;
	}

	.section-products .left {
	  padding-right: 0;
	  padding-left: 15px;	
	}
}
