.cat-list::after {
  left: 20px;
  right: auto !important;
}
.header-top .left {
  text-align: right;
}
.header-top .right {
  text-align: left;
}
.header-top .left .addon-box::after {
	right: auto;
	left: 0;
}
.header-top .left .addon-box:last-child {
  padding-right: 20px;
  padding-left: 0;
}
.header-top .left .addon-box:first-child {
  padding-left: 20px;
  padding-right: 0;
}
.header-top .left .addon-box a.btn-xs i {
	margin-right: 10px;
	margin-left: 0;
}

.header-center .right .icon-list ul li a i {
  right: 2px;
  left: auto;
}
.header-center .left .contact-box .info {
  padding-right: 20px;
  padding-left: 0;
}
.header-center .right .addon-box:nth-child(1) {
  padding-left: 10px;
  padding-right: 0;
}

.header-bottom .right .addon-box ul.find-us {
	text-align: left;
}
.header-bottom .right .addon-box ul.find-us li:last-child {
  padding-right: 14px;
  padding-left: 0;
}
.header-bottom .right .addon-box:nth-child(2)::before {
	left: auto;
	right: 0;
}
.header-bottom #jms_ajax_search {
	float: right;
}

.section-slider .benefit .feature-box .feature-content {
	text-align: right;
}
@media(max-width: 991px) {
	.header-bottom .menu-button {
		right: auto;
		left: 0;
	}
	.section-slider .benefit .feature-box .feature-content {
	  text-align: center;
	}
	.header-center .mid {
	  text-align: right;
	}
	.header-bottom .menu-button {
	  left: 15px;
	  right: auto;
	}
}
@media(max-width: 320px) {
	.header-top .left {
	  padding-left: 0;
	  padding-right: 15px;
	}
	.header-top .left .addon-box {
	  padding: 12.5px 5px;
	}
	.header-top .left .addon-box:first-child {
	  padding-left: 0;
	}
	.header-top .left .addon-box:nth-child(2) {
	  padding-right: 0;
	}
}