.header-top .left .contact-list ul li:first-child {
  padding-right: 0;
  padding-left: 20px;
}
.header-top .left .contact-list ul li:last-child {
  padding-right: 20px;
  padding-left:0;
}
.header-top .left .contact-list ul li i {
	margin-left: 10px;
	margin-right: 0;
}
.header-top .left .contact-list ul li::after {
	right: auto;
	left: 0;
}
.header-top .right {
  text-align: left;
}
.header-top .right .addon-box:first-child {
  padding-left: 20px;
  padding-right: 0;
}
.header-top .right .addon-box:last-child {
  padding-right: 20px;
  padding-left: 0;
}
.header-top .right .addon-box::after {
	right: auto;
	left: 0;
}
.header-center .right .icon-list ul li {
  margin-left: 10px;
  margin-right: 0;
}
.header-center .right .addon-box:last-child {
  margin-right: 10px;
  margin-left: 0;
}
.header-center .right .icon-list ul li:last-child {
  margin-left: 0;
}
.header-center .right .icon-list ul li a i {
  right: 2px;
  left:auto;
}
.cat-list::after {
	left: 20px;
	right: auto !important;
}
.ajax_block_cart_total {
  margin-right: 10px;
  margin-left: 0;
}
.header-bottom .right {
  padding-right: 0;
  padding-left: 15px;
}
.header-bottom .right .addon-box:nth-child(2)::before {
	left: auto;
	right: 0;
}
.section-services .feature-box .feature-content {
  text-align: right;
}
@media(max-width: 1199px) {
	.footer-navbar .third {
  		clear: right;
	}
}
@media(max-width: 991px) {
	.section-products .jms-tab1 .show-cat {
	  left: 0;
	  right: auto;
	}
	.section-products .left {
	  left: 0;
	  right: auto;
	}
	.section-services .feature-box .feature-content {
	  text-align: center;
	}
	.header-bottom .right .menu-button {
		left: 0;
		right: auto;
	}
}
@media(max-width: 767px){
	.header-bottom .right .menu-button {
		left: 15px;
	}
	.section-products .right {
	  padding-right: 15px;
	}
	.section-products .jms-tab1 .nav-tabs li:first-child a {
	  padding-right: 0;
	  padding-left: 20px;
	}
	.section-products .left {
	  left: 15px;
	}
	.recomended-products .owl-stage-outer {
		padding-bottom: 1px;
	}
}
@media(max-width: 480px) {
	.section-products .jms-tab1 {
	  padding-left: 50px;
	  padding-right: 0;
	}
	.section-blog1 .addon-box .addon-title h3 {
	  padding: 15px;
	}
}
@media(max-width: 320px) {
	.addon-title.fix-title h3 {
	  padding: 11px 15px;
	}
	.section-blog1 .addon-box .addon-title h3 {
	  padding:11px 15px;
	}
	.owl-theme .owl-controls div.owl-prev {
		right: auto;
		left: 40px;
	}
	.header-top .right {
  text-align: center;
}
}