.cat-list::after {
  left: 20px;
  right: auto !important;
}
.header-top .left {
  text-align: right;
}
.header-top .right {
  text-align: left;
}
.header-top .left .addon-box::after {
	right: auto;
	left: 0;
}
.header-top .left .addon-box:last-child {
  padding-right: 20px;
  padding-left: 0;
}
.header-top .left .addon-box:first-child {
  padding-left: 20px;
  padding-right: 0;
}
.header-top .left .addon-box a.btn-xs i {
	margin-right: 10px;
	margin-left: 0;
}
.section-large-banner .flex-box .banner-text button i {
	left: auto;
	right: 100%;
}
.header-center .right .addon-box:nth-child(1) {
  padding-left: 50px;
  padding-right: 0;
}
.header-center .right .icon-list ul li a i {
  left: auto;
  right: 2px;
}
.header-center .right .addon-box:nth-child(2) {
  padding-left: 10px;
  padding-right: 0;
}
.header-bottom .right .addon-box ul.find-us li:last-child {
  padding-right: 14px;
  padding-left: 0;
}
.header-top .left .address i {
  margin-left: 10px;
  margin-right: 0;
}
.header-top .left .dropdown-menu {
	left: auto;
	right: 0;
}
.header-center .right .contact-box .info {
  padding-right: 20px;
  padding-left: 0;
}

.section-services .feature-box .feature-content {
	text-align: right;
}
.header-bottom .right .addon-box:nth-child(2)::before {
	left: auto;
	right: 0;
}
.header-bottom .right {
  	padding-left: 15px;
  	padding-right: 0;
}
.header-bottom .right .addon-box ul.find-us {
	text-align: left;
}

.section-large-banner .flex-box .banner-text button {
  border-radius: 0 2px 2px 0;
}
.section-large-banner .flex-box .banner-text button i:before {
	content: "\f0d9";
}
@media(max-width: 1199px) {
	.header-bottom .right .addon-box:nth-child(1) {
		text-align: left;
	}
	.section-services .feature-box .feature-content {
	  text-align: center;
	}
}
@media(max-width: 991px) {
	.header-bottom .menu-button {
		left: auto;
		right: 0;
	}
	.show-menu .menu-wrap {
	  right: 0 !important;
	  left: auto !important;
	  transition: right 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
	}
	.menu-wrap {
	  right: -320px !important;
	  left: auto !important;
	  transition: right 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
	}
}
@media(max-width: 767px) {
	.header-bottom .menu-button {
	  right: 15px;
	}
}