.header-top .left {
  text-align: right;
}
.header-top .left .addon-box {
	margin-right:0;
	margin-left:25px;
}
.header-top .left .dropdown-menu{
	left:auto;
	right:0;
}
.header-top .left .addon-box a.btn-xs i {
	margin-left:0;
	margin-right:5px;
}
.header-top .right .addon-box a.btn-xs i {
	margin-left: 0;
	margin-right: 10px;
}
.header-top .right {
  text-align: left;
}
.header-top .right .addon-box:last-child {
  padding-right: 15px;
  padding-left: 0;
}
.header-top .right .addon-box:first-child {
  padding-left: 15px;
  padding-right: 0;
}
.header-top .right .addon-box .address i {
	margin-left: 5px;
	margin-right: 0;
}
.header-top .right .addon-box::after {
	right: auto;
	left: 0;
}
.header-top .left .addon-box::after {
	right: auto;
	left: 0;
}
.header-top .left .addon-box:first-child {
	padding-left: 25px;
	padding-right: 0;
}
.header-center .right .addon-box:nth-child(1) {
  padding-left: 20px;
  padding-right: 0;
}
.header-center .right .contact-box .info {
	padding-left: 0;
	padding-right: 20px;
}
.header-center .right .icon-list ul li:last-child {
  margin-right: 10px;
  margin-left: 0;
}
.header-center .right .icon-list ul li a i {
  right: 2px;
 left: auto;
}
.header-center .cat-list::after {
	right: auto;
	left: 20px;
}

.header-bottom .right .addon-box ul.find-us {
	text-align: left;
}
.header-bottom .right .addon-box:nth-child(2)::before {
	left: auto;
	right: 0;
}
.header-bottom .right .addon-box ul.find-us li:last-child {
	padding-right: 15px;
	padding-left: 0;
}
.header-bottom .left .ver-btn .fa-caret-down {
	right: auto;
	left: 0;
}

.section-slider .benefit .feature-box .feature-content {
	text-align: right;
}

.section-about-us .feature-content .about-info .left-content:after {
	right:auto;
	left:0;
}
.section-services .right .feature-box .feature-content {
  padding-right: 30px;
  padding-left: 30%;
  text-align:right;
}
.section-services .left .feature-box .feature-content {
  padding-left: 30px;
  padding-right: 30%;
  text-align:left;
}
.blog-item .box .post-info {
  padding-right: 20px;
  padding-left:0;
}
.blog-item .box .post-info .post-meta li:last-child {
  margin-left: 0;
}
.blog-item .box .post-info .post-meta li {
  margin-left: 25px;
  margin-right:0;
}
.blog-item .box .post-info .post-meta li i {
	margin-left:5px;
	margin-right:0;
}
.footer-copyright .footer-list ul li:first-child {
	margin-left: 17px;
	margin-right:0;
}
.footer-copyright .footer-list ul li:last-child {
	margin-left:0;
	margin-right:17px;
}
.footer-copyright .copy-right {
	text-align: left;
}

ul.find-us {
	text-align:left;
}
@media(max-width:1366px){
	.section-services .right .feature-box .feature-content {
	  padding-left: 5%;
	  padding-right: 20px;
	}
	.section-services .left .feature-box .feature-content {
	  padding-left: 20px;
	  padding-right: 5%;
	}
}
@media(max-width:1280px){
	.section-services .left .feature-box .feature-content {
	  	padding-right: 0;
	}
	.section-services .right .feature-box .feature-content {
	  	padding-left: 0;
	}
}
@media(max-width:1199px){
	.section-services .right .feature-box .feature-content {
	  padding-left: 12%;
	}
	.section-services .left .feature-box .feature-content {
	  padding-right: 12%;
	}
	ul.find-us {
	  text-align: right;
	}
}
@media(max-width:991px){
	.section-services .right .feature-box .feature-content {
	  padding-left: 0;
	  text-align:right;
	   padding-right: 20px;
	}
	.section-services .left .feature-box .feature-content {
	  padding-left: 0;
	  text-align:right;
	  padding-right: 20px;
	}
	.header-top .right {
	  padding-right:0;
	}
	.header-menu {
		left:5.1%;
		right:auto;
	}

	.section-products .jms-tab1 .show-cat {
		right: auto;
		left: 0;
	}
	.section-products .left {
		left: 0;
		right: auto;
	}
	.section-slider .benefit .feature-box .feature-content {
	  text-align: center;
	}
	.section-products .jms-tab1 .nav-tabs li:first-child a {
	  padding-left: 15px;
	  padding-right: 0;
	}
}
@media(max-width:767px) {
	.header-menu {
	  left: 0;
	}
	.header-top .container .layout-column.left {
	  padding-right: 0;
	}
	.section-services .left .feature-box .feature-content, .section-services .right .feature-box .feature-content {
		padding: 0 20px;
		text-align: center;
	}
	.footer-copyright .copy-right {
	  text-align: center;
	}
	.header-top .container .layout-column.left {
	  padding-left: 0;
	  padding-right:15px;
	}
	.section-products .right {
		padding-right: 15px;
	}
	.section-products .left {
		left: 15px;
	}
}
@media(max-width:480px){
	.section-products .jms-tab1 {
		padding-right: 0;
		padding-left: 50px;
	}
}
@media(max-width: 320px) {
	.owl-theme .owl-controls div.owl-prev {
	  right: auto;
	  left: 40px;
	}
}
