* {
  direction: rtl !important; }

#page {
  text-align: right !important; }

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: right; }

table td, table th {
  text-align: right; }

.pull-left {
  float: right !important; }

.pull-right {
  float: left !important; }

.text-left {
  text-align: right; }

.text-right {
  text-align: left; }
.large-column.col-md-push-3 {
  right: 20%;
  left:auto;
}
.small-column.col-md-pull-9 {
  left: 80%;
  right:auto;
}
#jmstools {
  right: -270px;
  left: auto; }
  #jmstools.jmsopen {
    left: auto !important;
    right: 0 !important; }

div.selector::before {
  left: 10px !important;
  right: auto !important; }
 /**/
.product-box .product-buttons li {
  margin-left: 10px;
  margin-right: 0;
}
.product-box .preview .label.label-sale {
	right: 10px;
	left:auto;
}
.product-box .preview .label.label-new {
	left: 10px;
	right:auto;
}
table#cart_summary .cart_quantity_button a.button-minus {
  right: 5px;
  left:auto;
}
table#cart_summary .cart_quantity_button a.button-plus {
  left: 5px;
  right:auto;
}
.product-box .preview .action-btn .box a:last-child {
	margin-right:10px;
}
.product-box .preview .action-btn .box a:first-child {
	margin-right:0;
}
/*=================================
=            Cartblock            =
=================================*/
#cart_block .dropdown-toggle .cart_block_total {
	margin-left:10px;
}
.cart-wrap .description > a {
	padding-right:0;
	padding-left:20px;
}
.cart-wrap .preview-image {
  float: right; }
.cart-wrap .description {
  text-align: right;
  float: right;
  padding-left: 0;
  padding-right: 15px; }
.cart-wrap .remove_link {
  left: 0;
  right: auto;
}
.cart-wrap .quantity-formated {
  left: 0;
  right: auto;
}
.checkout-info .label {
  float: right; }

.checkout-info .pull-right {
  float: left !important; }
#cart_block .shoppingcart-box {
  left: 0 !important;
  right: auto !important;
  transform: translateX(0%);
}
.ajax_block_cart_total {
  margin-right: 10px;
  margin-left: 0;
}
/*===================================
=            Ajax Search            =
===================================*/
#search_result .result_div .right-info {
  float: right !important;
}
#search_result .result_div .item .left-img {
  float: right !important;
  margin-left: 5% !important;
  margin-right: 0 !important;
}
/*===================================
=            Product Box            =
===================================*/
.product-box {
  border-left: 1px solid #ebebeb;
  border-right: none;
}
.recomended-products .product-box {
  border-left: 1px solid #ebebeb;
}
/*=======================================
=            Off Canvas Menu            =
=======================================*/
.menu-wrap {
  	right: auto !important;
  	left: -320px !important; 
	transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
}
.show-menu .menu-wrap {
	transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
	left: 0 !important;
}
.close-button {
  right: auto !important;
  left: 25px !important; }

#off-canvas-menu ul.nav > li > a > em {
  float: left !important;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }

#off-canvas-menu li.open .dropdown-menu {
  text-align: right; }

/*====================================
=            Jms Megamenu            =
====================================*/
.jms-megamenu .caret {
  margin-left: 0;
  margin-right: 5px; }
.mega-nav > .mega > .dropdown-menu {
  right: 100%;
  left: auto; }
 .jms-megamenu .mega-nav li > a {
  position: relative;
  text-align: right;
}
.jms-megamenu .nav > .megamenu-custom .mega-nav li > a::before, .jms-megamenu .mega-nav li > a::before {
	  left: auto;
	  position: absolute;
	  right: 0;
}
.jms-megamenu .mega-nav li {
  padding: 3.5px 25px 3.5px 0;
  position: relative;
  text-align: right; 
}
.jms-megamenu .mega-nav li > a:hover {
  padding-left: 0;
  padding-right: 10px;
}
.mega-nav .mega > a::after {
	content:"\f104" !important;
  position:absolute;
  left:15px;
  right:auto !important;
}
.jms-megamenu .menu-align-justify > .dropdown-menu {
  left: auto;
  margin-left: 0;
  right: 0;
}
.jms-megamenu .dropdown-menu {
  left: auto;
  right:0;
}
.jms-megamenu .nav > .megamenu-custom .image-column {
  padding-right: 15px;
  padding-left: 0;
}
.jms-megamenu .nav > .megamenu-custom .change-width .mega-inner {
	border-left:1px solid #e7e7e8;
	border-right:none;
	padding-left:15px;
	padding-right:40px;
}
.jms-megamenu .nav > .megamenu-custom .change-width.last .mega-inner {
	border-left:none;
}
.image-menu .flex-wrapper {
	left:auto;
	right:0;
	padding-left:0;
	padding-right:30px;
}
/* Ver Megamenu */
.jms-vermegamenu .nav [class^="icon-"], .jms-vermegamenu .nav [class*=" icon-"], .jms-vermegamenu .nav .fa {
  margin-left: 15px;
  margin-right: 0 !important;
}
.ver-btn i {
  margin-right: 0;
  margin-left: 20px;
}
.jms-vermegamenu .nav > li {
	text-align: right !important;
}
.jms-vermegamenu .caret {
	left: 25px;
	right: auto !important;
}
.jms-vermegamenu .caret:after {
	content: "\f104" !important;
}
.jms-vermegamenu .dropdown-menu {
	right: 100%;
	left:auto !important;
}
.jms-vermegamenu .nav > .menu-custom .mega-nav li > a {
	text-align: right !important;
}
.jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a {
	text-align: right !important;
}
#mobile-vermegamenu li > a em {
  left: 10px;
  right: auto !important;
}
#mobile-vermegamenu li > a em:before {
	content: "\f104";
}
#mobile-vermegamenu .dropdown-menu li a {
  	text-align: right;
}
#mobile-vermegamenu {
  right: 0;
  left: auto;
}
#mobile-vermegamenu .nav > li > a {
  text-align: right;
}
#mobile-vermegamenu .nav [class^="icon-"], #mobile-vermegamenu .nav [class*=" icon-"], #mobile-vermegamenu .nav .fa {
  margin-left: 15px;
  margin-right: 0 !important;
}
/* ------ */
/* Hotdeals */
.section-hotdeals .hotdeal-box .preview .small-images {
  border-right: none;
  border-left: 1px solid #ebebeb;
}
.section-hotdeals .owl-controls {
  left: auto;
  right: 0;
  padding-right: 120px;
  padding-left: 0;
}
.section-hotdeals .owl-dots {
  padding-left: 0;
  padding-right: 120px;
}
.section-hotdeals .owl-theme .owl-controls div.owl-next {
  left:45px;
  right: auto;
}
.section-hotdeals .owl-theme .owl-controls div.owl-prev {
  left: auto;
  right: 145px;
}
.section-hotdeals .countdown .countdown-row .countdown-section::after {
  right: auto;
  left: 0;
}
.section-hotdeals .hotdeal-box .product-info .product-desc {
  padding-left: 25%;
  padding-right: 0;
}
.section-hotdeals .hotdeal-box .product-info {
  padding-right: 30px;
  padding-left: 0;
}
.section-hotdeals .hotdeal-box .product-info .product-features li i {
  margin-left: 5px;
  margin-right: 0;
}
/* ------ */

/* Two Banners */
.section-two-banners .flex-box .banner-text {
  padding-right: 10.5%;
  padding-left: 0;
}
.section-products .jms-tab1 .nav-tabs > li {
  float:right; 
}
/* ------- */

/* Product Slider */
.section-products .left {
  padding-right: 15px;
  padding-left: 0;
}
.section-products .right {
  padding-left: 15px;
  padding-right:0;
}
.section-products .left .cat-box {
  border-right: 1px solid #ebebeb;
  border-left: none;
}
.section-products .left .cat-box ul li a:hover {
  padding-right: 10px;
  padding-left: 0;
}
.section-products .left .cat-box ul li a:hover::before {
  content: "\f104";
  right: 0;
}
/* ------- */
/* Recommended Product */
.recomended-products .product-box .product-info {
  text-align: right;
}
/* ------- */
.owl-theme .owl-controls div.owl-next {
  left:0;
  right:auto;
}
.owl-theme .owl-controls div.owl-prev {
  left: 50px;
  right: auto;
}
.owl-theme .owl-controls div.owl-next,
.owl-theme .owl-controls div.owl-prev {
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg); }
/* Blog */
.image_language {
	margin-left: 10px;
	margin-right: 0;
}
.languages-info .dropdown-menu li a, .currency-info .dropdown-menu li a {
	text-align: right;
}
.section-blog1 .blog-item .post-info .post-readmore i:before, .section-blog2 .blog-item .post-info .post-readmore i:before {
  content: "\f100";
}
/* Footer Navbar */
.footer-navbar .contact-info .contact-box ul li i {
  margin-left:7px;
  margin-right: 0;
}
.payment-logo li:last-child {
  margin-left: 0;
  margin-right: 5px;
}
/* ------ */

/*==================================
=            Newsletter            =
==================================*/
#newsletter_block_left #newsletter-input {
  padding: 0 15px 0 55px; }

/*=====================================
=            Blog Carousel            =
=====================================*/
.post-list .item {
  float: right; }
.cat-post-list .item .post-meta li {
	margin-right:0 !important;
	margin-left:15px !important;
}
.cat-post-list .item .post-meta li span {
	float: right;
}
.blog-widget .date .label {
	float:right;
	line-height:24px;
}
.blog-widget .date li {
	margin-left:10px;
}
/* Category List */
.categories-list .blog-category {
	float: right; 
}
#comments .comment-list img.wp-post-image {
	float: right;
	margin-left: 20px;
	margin-right: 0; 
}
#comments .comment-list .comment-link {
	padding-right: 10px;
	padding-left: 0; 
}
#comments .comment-list .comment-content {
	margin-right: 70px;
	margin-left: 0; 
}
#product_list.products-list-in-row .item.ajax_block_product .product-box .product-info {
  text-align: right;
}
.product_list.products-list-in-row .product-box .buttons-in-list a {
  margin-left: 20px;
  margin-right:0;
}
.product_list.products-list-in-row .product-box .buttons-in-list a:last-child {
	margin-left:0;
}

.blog-widget .widget-title span {
  padding-right: 0 !important;
  padding-left: 25px;
}
/*====================================
=            Product List            =
====================================*/
#categories_block_left .block_content > ul > li > a {
	padding: 0 0 0 30px;
}
#categories_block_left li span.grower {
	left: 0;
	right:auto;
}
.content_scene_cat_bg {
	justify-content: flex-end;
}
.layered_filter ul li span {
	left: 0;
	right:auto;
}
.filters-panel .view-mode {
	text-align: left;
}
.product-sort .show-item {
	margin-right: 30px;
	margin-left:0;
}
.filters-panel .text {
	margin-left: 6px;
	margin-right:0;
}

#layered_block_left li.nomargin label {
  padding-right: 8px;
  padding-left: 0;
}

#layered_block_left .layered_filter_ul li {
  padding: 8.5px 0 8.5px 35px;
}
.layered_filter ul li label span {
  right: auto;
  left: 0;
}
/*==============================
=            Filter            =
==============================*/
.nbrproduct .selector::before {
  right: auto !important; }

.nbrproduct .selector span {
  text-align: right; }

.nbrproduct .selector span:after {
  right: auto;
  left: 35px; }
.product-sort {
  float: right; }

.product-sort .selector span {
  text-align: right; }

.pagination-block {
  text-align: left; }

/*=====================================
=            Block Layered            =
=====================================*/
#layered_block_left .layered_price .layered_filter_ul label {
  border: none;
  padding: 0;
  text-align: right; }
#layered_block_left .color-group .color-option {
  float: right;
  margin-left: 10px;
  margin-right: 0; }
#layered_block_left .color-group .arrow_carrot-right {
  float: right; }
#layered_block_left .layered_filter_ul .number {
  float: left; }

#enabled_filters {
  margin-bottom: 45px; }
  #enabled_filters ul li a {
    float: left; }
#layered_block_left ul.block-size li {
  margin-left: 5px;
  margin-right: 0;
}
/*====================================
=            Product List            =
====================================*/
.product_list .item.ajax_block_product {
  float: right; }

#product_list.products-list-in-row .preview {
  float: right; }

.product-list-info {
  text-align: right;
  float: right; }

.product-list-info .product-button .product-btn {
  margin-right: 0;
  margin-left: 10px;
  float: right; }

.product-list-info .content_price .price.old {
  margin-right: 15px;
  margin-left: 0; }
.filters-panel .pagination .fa-caret-right:before{
	content:"\f0d9";
}
.filters-panel .pagination .fa-caret-left:before{
	content:"\f0da";
}
#product_list.products-list-in-row .product-info {
	text-align: right;
}
#product_list.products-list-in-row .item.ajax_block_product .product-box .product-info a.product-name, #product_list.products-list-in-row .item.ajax_block_product .product-box .product-info .content_price {
	text-align: right;
}
#product_list.products-list-in-row .product-box .product-buttons {
	justify-content: flex-start;
}
#product_list.products-list-in-row .product-box .product-cat {
  	text-align: right;
}
.filters-panel .view-mode .view-grid {
	margin-left: 5px;
	margin-right:0;
}
div.checker {
	margin-left: 5px;
	margin-right:0;
}
#product_list.products-list-in-row .product-box .product-info .action-btn a {
	margin-left: 30px;
	margin-right:0;
}
#layered_block_left .layered_subtitle h3 {
  padding: 0 0 0 25px;
}

#best-sellers_block_right .product-box .bestseller-info {
  padding: 0 20px 0 0;
}
/*=====================================
=            SHOPPING CART            =
=====================================*/
ul#order_step li {
  float: right; }

ul.footer_links li {
  margin-left: 10px;
  margin-right: 0; }
  ul.footer_links li:last-child {
    margin-left: 0; }

/*==========================================
=            404 Page Not Found            =
==========================================*/
#pagenotfound .pagenotfound .form-control {
  margin-left: 5px;
  margin-right: 0; }
/*====================================

=            Product Page            =
====================================*/
.product-rating .nbcomments {
	margin-right: 20px;
	margin-left:0;
	border-left: 1px solid #ebebeb;
	border-right:none;
}
.product-rating #new_comment_tab_btn {
	padding-right: 15px;
	padding-left:0;
}
.pb-right-column .availability_statut .instock-icon {
	margin-left: 7px;
	margin-right:0;
}
.pb-right-column .feature-list li::before {
	left: auto;
	right:0;
}
.quantity-box .quantity-control .text-label {
	float: right;
	margin-left: 10px;
	margin-right:0;
}
.quantity-box .action-btn .product-btn .text {
	float: right;
}
#more_info_block .panel-title a i {
	margin-right: 5px;
	margin-left:0;
}
#more_info_block .panel-title a.collapsed i::before {
	content: "\f104";
}
#product_comments_block_tab button.usefulness_btn {
	margin: 0 5px 0 0;
}
.product-description .attribute_label {
  float: right; }
#attributes .attribute_list #color_to_pick_list li {
  float: right;
  margin-right: 0;
  margin-left: 15px; }
#attributes .attribute_list.product-options {
  float: right; }
  #attributes .attribute_list.product-options ul li {
    margin-left: 20px;
    margin-right: 0; }

.review-star {
	float: right; 
}
.nbcomments {
	display: inline-block; }

.quantity-box .option {
	display: inline-block;
	float: right;
	margin-left: 35px;
	margin-right: 0;
}
.quantity-box .product-btn.add_to_compare {
	margin-left: 0;
	margin-right: 0;
}
.product-description .attribute_label {
	margin: 0 0 0 10px;
}
#old_price {
	margin-left: 0;
	margin-right:10px;
}
.feature-list li i {
  margin-left: 5px;
  margin-right: 0;
}
#more_info_block .nav-tabs > li {
  border-right: none;
  border-left: 1px solid #fff;
}
#best-sellers_block_right .product-box .product-info > a {
	text-align: right;
}
#best-sellers_block_right .product-box .product-info .content_price {
	text-align: right;
}
.socialsharing_product .social-sharing .fa {
	margin-left: 5px;
	margin-right: 0;
}
.blockproductscategory .product-box, .accessories-section .product-box {
  border-left: none;
}
.comment_author_infos .auth-name {
	  clear: both;
	  float: right;
	  margin-left: 40px;
	  margin-right:0;
}
#attributes .attribute_list.product-options ul li .radio input {
  left: auto;
  right: 0;
}
.other-info li::after {
  right: auto;
  left: 0;
}
.other-info li:first-child {
  padding-left:14px;
  padding-right: 0;
}
#product_comments_block_tab div.comment div.comment_author span, #product_comments_block_tab div.comment .star_content {
	float: right;
}
.specification .title {
	float: right;
}
.quantity-box .action-buttons {
  float: left;
}
#thumbs_list .owl-theme .owl-controls .owl-nav div.owl-next {
  left: -17px;
  right: auto;
}
.product-rating {
	display:flex;
}
.product-rating .nbcomments, .product-rating #new_comment_tab_btn {
  float: left;
}
.product-rating .rating {
	float:left;
	width:100%;
}
.quantity-box .addToWishlist {
  margin-left: 10px;
  margin-right:0;
}
.quantity-box #add_to_cart .icon-bag {
  margin-left: 10px;
  margin-right:0;
}

.categories_block_left .title_block::after {
  right: auto;
  left: 0;
}
/*==============================
=            Stores            =
==============================*/
#stores .address-input {
  float: right;
  margin-right: 0;
  margin-left: 19px; }

#stores .radius-input {
  float: right;
  margin-left: 20px;
  margin-right: 0; }

#stores .radius-input label {
  margin-right: 0;
  margin-left: 10px; }

#stores .radius-input label, #stores .radius-input .selector {
  float: right; }
.newsletter_block_left button {
	left:0;
	right:auto;
}
/*========================================
=            Bestseller Block            =
========================================*/
#best-sellers_block_right .product-box .preview {
  float: right; }
#best-sellers_block_right .product-box .product-info {
  text-align: right !important;
  float: right !important;
  padding: 0 23px 0 0 !important; 
}

/* Blog */
.blog-widget .comment-item img {
  float: right;
  width: 80px;
}
.blog-widget .comment-item .comment-info {
	float: right !important;
	padding-right: 10px;
	padding-left:0 !important;
}
.blog-widget .comment-item img {
	float: right !important;
}
/* Login Page */
.auth-right #SubmitLogin {
	margin-left: 20px;
	margin-right:0;
}
/* Compare */
ul.wlp_bought_list li .btn_action .btn {
	margin-left: 5px;
	margin-right: 0;
}
/* ----- */
/* Payment Logo */
.payment-logo li {
	margin-right: 5px;
	margin-left:0;
}
.payment-logo li:first-child {
	margin-right: 0;
}
/* ------- */
/* Social */
.footer-navbar .first ul.find-us li:last-child {
  margin-right: 5px;
  margin-left: 0;
}
.footer-navbar .first ul.find-us li:first-child {
  margin-left: 5px;
  margin-right: 0;
}
/* ------ */
.fs-pager-wrapper a:last-child, .fs-custom-pager-wrapper a:last-child {
  margin-left: 0;
  margin-right: 20px;
}
.products_block .title_block a {
  padding: 0 0 0 25px;
}
#jms_ajax_search.open .search-box {
	right:auto;
	left:0;
}
.search-box .ic-search2{
	left:15px;
	right:auto;
}
.keyword-group::before {
  right: 0;
  left: auto;
}
.section-categorytab .item .product-box {
  border-left: none;
}
.breadcrumb-box .breadcrumb-inner .navigation-pipe::before {
  content: "\f104";
}
@media(max-width:1599px) {
	.quantity-box .option {
		margin-left: 25px;
	}
	.quantity-box #add_to_cart {
	  margin-left: 35px;
	  margin-right:0;
	}
}
@media(max-width:1366px){
	.quantity-box .action-buttons {
	  float: right;
	  width:100%;
	}
}
@media(max-width:1199px){
	#thumbs_list .owl-theme .owl-controls .owl-nav div.owl-next {
	  left: 0;
	}
	#thumbs_list .owl-theme .owl-controls .owl-nav div.owl-prev {
	  right: 0;
	}
}
@media(max-width:991px){
	.large-column.col-md-push-3 {
	  right: 0;
	  left:auto;
	}
	.small-column.col-md-pull-9 {
	  left: 0;
	  right:auto;
	}
	.html_left {
		display: none;
	}

  .section-hotdeals .owl-theme .owl-controls div.owl-next {
    left:20px;
  }
  .section-hotdeals .owl-theme .owl-controls div.owl-prev {
    right: 120px;
  }

}
@media(max-width: 767px){
	#best-sellers_block_right .product-box .product-info {
  		text-align: center !important;
	}
	.accessories-section .owl-theme .owl-controls .owl-nav div.owl-prev, .blockproductscategory .owl-theme .owl-controls .owl-nav div.owl-prev {
	  right: 25px;
	}
	.accessories-section .owl-theme .owl-controls .owl-nav div.owl-next, .blockproductscategory .owl-theme .owl-controls .owl-nav div.owl-next {
	  left: 25px;
	}
	.contact-form-box .row .col-sm-6, .contact-form-box .row .col-sm-12 {
		width:100%;
	}
}
@media(max-width:480px){
	#more_info_block .nav-tabs > li:first-child {
	  padding-left: 0;
	}
	#more_info_block .nav-tabs > li:last-child {
	  padding-right: 0;
	}
	.blockproductscategory {
		margin-top: 20px;
	}
	#best-sellers_block_right .product-box {
		float:right;
	}
	#best-sellers_block_right .product-box .product-info > a {
		text-align: center !important;
	}
	#best-sellers_block_right .product-box .product-info .content_price {
		text-align: center !important;
	}
	#best-sellers_block_right {
		float:right;
	}
	#best-sellers_block_right .block_content .product-box {
		margin-left: 0;
		margin-right: 0;
	}
	#best-sellers_block_right .product-box .product-info {
		padding: 0 !important;
	}
  .section-hotdeals .hotdeal-box .product-info {
    padding-left: 15px;
    padding-right: 15px;
  }
  .ver-btn i {
    margin-left: 0;
    margin-right: 0;
  }
  .ver-menu-box {
    left: auto;
    right: 0;
  }
}
@media(max-width:320px) {
	#best-sellers_block_right .product-box .product-info .content_price {
		text-align: right !important;
	}
	#best-sellers_block_right .product-box .product-info > a {
		text-align: right !important;
	}
	#best-sellers_block_right .product-box .product-info{
		padding:0 20px 0 0 !important;
	}
	.cat-post-list .item .post-meta li:last-child {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
  .owl-theme .owl-controls .owl-nav div.owl-prev {
    left: 40px;  
  }
  .addon-title.fix-title h3 {
    padding: 11px 15px;
  }
  .newsletter-input {
    padding: 0 15px;
  }
}