@media(max-width:1599px) {
	#cart_block .shoppingcart-box {
		left: auto;
		right: 0;
	}
	.image-menu {
	  	padding: 4% 0;
	}
	.section-blog .post-info {
	  	padding: 0px 0px 10px 0px;
	}
	.html_left .banner-text .large-text {
	  font-size: 30px;
	}
}
@media(max-width:1366px) {
	#jmstools {
		top: 46px !important;
	}
	.section-blog .post-info {
	  	padding: 0px 0px 10px 0px;
	}
	.section-testimonials .testimonial-box .testimonial-comment {
	  padding: 0 25%;
	}
	.image-menu {
	  padding: 4% 0;
	}
	.html_left .banner-text .large-text {
	  font-size: 24px;
	}
	.html_left .banner-text .small-text {
	  font-size: 16px;
	  margin-top: 0;
	}
}
@media(max-width:1280px) {
	.section-blog .post-info {
	  padding: 0px 0px 10px 0px;
	}
	.image-menu {
	  padding: 11.5% 0;
	}
}
@media(max-width: 1199px) {
	.small-column {
		width:30%;
	}
	.large-column {
		width: 70%;
	}
	.pb-left-column {
		width: 42%;
	}
	.pb-right-column {
		width: 58%;
	}
	.small-column.col-md-pull-9 {
	  right: 70%;
	}
	.large-column.col-md-push-3 {
	  left: 30%;
	}

	.product_list .item.ajax_block_product {
		width: 50%;
	}
	.ic-search, .user-info > a .text {
	  padding: 0 10px;
	}
	.jms-vermegamenu .dropdown-menu {
		max-width: 667px;
	}
	.image-menu {
	  padding: 14% 0;
	}
	.jms-megamenu .nav > li {
	  padding: 0 14px;
	}
	.section-blog .post-info {
	  padding: 0px 0px 10px 0px;
	}
	.section-testimonials .testimonial-box .testimonial-comment {
	  padding: 0 22%;
	}
	.html_left .banner-text .large-text {
	  font-size: 19px;
	}
	.html_left .banner-text .small-text {
	  font-size: 13px;
	}
	.html_left img {
	  width: 100%;
	}
}
@media(max-width:991px) {
	.large-column.col-md-push-3 {
		left: 0;
	}
	.small-column.col-md-pull-9 {
		right: 0;
	}
	.small-column, .large-column {
	  width: 100%;
	}
	.pb-left-column {
		width: 100%;
	}
	.pb-right-column {
		width: 100%;
	}
	img.logo {
	  width: 300px;
	}
	.jms-popup-overlay {
		display:none !important;
	}
		#mobile-vermegamenu {
			position:absolute;
			top:100%;
			left:0;
			width:100%;
			background:#fff;
		}
		#mobile-vermegamenu.open{
			opacity:1;
			visibility:visible;
			z-index:1000;
			display:block;
			box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
		}
		#mobile-vermegamenu{
			opacity:0;
			visibility:hidden;
		}
	#mobile-vermegamenu li.open > a em:before {
		content: "\f107";
	}
	.content_scene_cat_bg {
  		margin-top: 35px;
	}
        /* padding post-info blog responsive */
	.section-blog .post-info {
	  padding: 0px 0px 10px 0px;
	}
	.section-testimonials .testimonial-box .testimonial-comment {
	  padding: 0 16%;
	}
	.section-blog {
 		background-size: cover !important;
	}
	.html_left {
		display: none;
	}
	.ver-btn i:before {
		content:"\f067";
		position: relative;
		top:2px;
	}
	#mobile-vermegamenu {
	  opacity: 1;
	  visibility: visible;
	}
}
@media(max-width:767px) {
	.without-column.container-fluid {
	  padding:0 15px;
	}
	.container, .container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}
	.section-slider .btn-shop-now {
	  font-size: 12px;
	  line-height: 30px;
	  padding: 0 15px;
	}
	.blog-widget .post-list {
		float:left;
		width:100%;
	}
	.blog-widget .post-list li {
		width:50%;
		float:left;
		padding:0 7.5px;
	}
	.filters-panel.bottom .col-xs-12:first-child{
		text-align:center;
		margin-bottom:15px;
	}
	.filters-panel.bottom .nbr-text {
		display:none;
	}
	.filters-panel.bottom .pagination-block {
		text-align: center;
	}
	table#cart_summary .cart_quantity_input {
	  	width: 100px;
	}	
	.filters-panel .sort {	  
		justify-content: center;
	 	margin-top: 15px;
	}
}
@media(max-width:480px) {
	.fraction-slider .prev, .fraction-slider .next {
		top:calc(50% - 15px);
	}
	.fraction-slider .prev:before, .fraction-slider .next:before {
		font-size: 25px;
	}
	.fraction-slider .prev {
		left:15px;
	}
	.fraction-slider .next {
		right:15px;
	}
	.bg-image-area .content_scene_cat_bg .cat_desc {
		padding:0;
	}
	.bg-image-area .content_scene_cat_bg .cat_desc h1, .bg-image-area .content_scene_cat_bg .cat_desc .breadcrumb-box {
		display:block;
		width:100%;
		text-align:center;
	}
	.categories-list .blog-category {
		width: 100%;
	}
	.fraction-slider .active-slide {
		background-position:50% 50% !important;
		background-size:cover !important;
	}
	.product-box .preview .label {
		font-size: 12px;
	}
	.breadcrumb-box .breadcrumb-inner {
	  font-size: 13px;
	  padding: 20px 0;
	}
	.bg-image-area {
	  margin-bottom: 20px;
	}
	.html_left {
		display:none;
	}
	#more_info_block .nav-tabs > li {
	  width: 100%;
	  border-right:none;
	  border-bottom: 1px solid #fff;
	  margin: 0;
	}
	#more_info_block .nav-tabs > li:last-child {
		border-bottom: none;
	}
	.breadcrumb-box .breadcrumb-inner .right {
		display: none;
	}
}
@media(max-width:360px) {
	.product_list .item.ajax_block_product {
		width: 100%;
	}
	#module-jmsblog-post .breadcrumb-box a {
	  font-size: 12px;
	}
	.page-content {
		padding:0 15px;
	}
	.single-blog .title {
	  font-size: 19px;
	}
	.section-product-slider .addon-box .addon-title h3 {
		width: calc(100% - 24px);
		font-size:16px;
	}
	.blog-widget .post-list .entry-title {
	  font-size: 12px;
	  font-weight: 400;
	}
	.blog-widget .post-list li {
		width:100%;
		clear:both;
		padding:0;
	}
	.cart-wrap .description > a {
		font-size:13px;
	}
	.cart-wrap .description .price-quantity {
		font-size: 14px;
	}
	.checkout-info .label {
		font-size: 16px;
	}
	.checkout-info .pull-right {
		font-size: 16px;
	}
	.checkout-info .cart-button > a {
	  font-size: 14px;
	}
	.button.btn.btn-default.standard-checkout.button-medium {
	  margin-bottom: 15px;
	}
	.section-blog .post-info {
	  padding: 0px 0px 10px 0px;
	}
	.section-about .feature-content a.read-more {
	  line-height: 35px;
	  padding: 0 25px;
	}
	#jms_ajax_search.open .search-box {
	  width: 100%;
	}
	.section-testimonials .testimonial-box .testimonial-comment {
	  font-size: 15px;
	}
	.content_scene_cat_bg .cat_desc p {
	  font-size: 26px;
	}
	.ver-btn i {
	  margin-right: 10px;
	}
	.ver-btn {
		padding: 13px 15px;
	}
}
@media(max-width:320px) {
	.single-blog .post-meta li:last-child {
		display:none;
	}
	.single-blog .post-meta li {
		font-size:13px;
	}
	#mobile-vermegamenu {
	  	width: 140%;
	}
	.html_left {
		display: block;
	}
	.cart_navigation button {
		margin-top: 15px;
	}
	ul.footer_links li {
		margin-bottom: 15px;
	}
	ul.footer_links li:last-child {
		margin-bottom: 0;
	}
	.fraction-slider {
	    height: 250px !important;
	}
	.fraction-slider .active-slide {
		background-position:75% 50% !important;
		background-size:cover !important;
	}
	#cart_block .shoppingcart-box {
		left: auto;
		right: -15px;
		width:280px;
	}
	.breadcrumb-box .breadcrumb-inner .right {
	  display: none;
	}
	.breadcrumb-box .breadcrumb-inner .left {
		font-size:11px;
	}
}
