@import 'varians';
@import 'mixin';
/* Active Color */
.header-bottom {
	background:$active-default;
}
/* ------ */
#cart_block.open .shoppingcart-box {
	z-index:1001;
}
/* Header Top */
.header-top {
	.left {
		text-align:left;
		.addon-box {
			display:inline-block;
			position:relative;
			padding:12.5px 20px;
			&:after {
				content:"";
				width:1px;
				height:25px;
				background:#ebebeb;
				position:absolute;
				right:0;
				top:calc(50% - 12.5px);
			}
			&:first-child {
				padding-left:0;
			}
			&:last-child {
				padding-right:0;
				&:after {
					content:none;
				}
			}
			a.btn-xs {
				line-height:25px;
				font-size:13px;
				color:#646a7c;
				padding:0;
				i {
					margin-left:10px;
				}
			}
		}
	}
	.right {
		text-align:right;
		.addon-box {
			display:inline-block;
			padding:13px 15px;
			position:relative;
			&:after {
				content:"";
				width:1px;
				height:25px;
				background:#ebebeb;
				position:absolute;
				right:0;
				top:calc(50% - 12.5px);
			}
			&:last-child {
				padding-right:0;
				&:after {
					content:none;
				}
			}
			&:first-child {
				padding-left:0;
			}
			a.btn-xs {
				color:#646a7c;
				font-size:13px;
				i {
					font-size:14px;
					margin-left:10px;
				}
			}
			.address {
				i {
					margin-right:10px;
				}
			}
		}
	}
}
/* ------ */

/* Header Center */
.header-center {
	background:#eceff6;
	padding:39px 0;
	.row{
		display:flex;
		align-items:center;
	}
	.right {
		display:flex;
		justify-content:flex-end;
		.contact-box {
			display:flex;
			align-items:center;
			.contact-icon {
				display:inline-block;
				width:33px;
				height:31px;
				background:url("../img/icon/contact_icon.png");
			}
			.info {
				padding-left:20px;
				line-height:1.2;
				span {
					font-size:12px;
					display:block;
					&.phone {
						color:#fc3333;
						font-size:18px;
						font-weight:600;
					}
				}
			}
		}
		.icon-list {
			ul {
				display:flex;
				margin-bottom:0;
				li {
					a {
						display:inline-block;
						width:40px;
						height:40px;
						text-align:center;
						font-size:14px;
						line-height:40px;
						background:#fff;
						i {
							position:relative;
							left:2px;
						}
					}
					margin-right:10px;
					&:last-child {
						margin-right:0;
					}
				}
			}
		}
		.addon-box {
			&:nth-child(1) {
				padding-right:20px;
			}
			&:nth-child(2) {
				padding:0 10px;
			}
		}
	}
	.jms-search #searchbox {
	  width: 90%;
	}
	.jms-search {
	  justify-content: flex-end;
	}
	#search_result {
		left: 12.5%;
		top: 43px;
		width: 84.6%;
		.result_div {
	  		padding: 5px;
	  		background: #fff;
	  	}
	}
}
#cart_block a.cart-icon {
	background:#fff;
}
/* ------ */

/* Header Bottom */
.header-bottom {
	.container {
		position:relative;
	}
	.left {
		.addon-box {
			position:relative;
			&:nth-child(2) {
				display:none;
			}
			.ver-menu-mobile, .ver-menu-box {
				z-index:1001;
			}
		}
		.ver-menu-box.open {
		  opacity: 0;
		  visibility: hidden;
		}
		.ver-menu-box {
			opacity:1;
			visibility:visible;
		}
		.ver-btn {
			color:#fff;
			position:relative;
			.fa-caret-down {
				display:inline-block;
			}
		}
	}
	.right {
		padding-left:0;
		display:flex;
		position:static;
		.jms-megamenu .nav > li > a {
			color:#fff;
		}
		.addon-box {
			&:nth-child(1) {
				width:77%;
			}
			&:nth-child(2) {
				width:23%;
				position:relative;
				&:before {
					content:"";
					width:1px;
					height:20px;
					background:rgba(255,255,255,0.2);
					position:absolute;
					left:0;
					top:calc(50% - 10px);
				}
			}
			ul.find-us {
		      width:100%;
		      text-align:right;
		      margin-bottom:0;
		      padding:13px 0;
		      li {
		        display:inline-block;
		        padding:0 15px;
		        a {
		          font-size:14px;
		          color:#fff;
		        }
		        &:last-child {
		        	padding-right:0;
		        }
		      }
		    }
		}
	}
}
/* ------- */
/* Slider */
.section-slider {
	.benefit {
		position:absolute;
		width:1170px;
		padding:0;
		bottom:30px;
		left:calc(50% - 585px);
		z-index: 1000;
		box-shadow: 0 10px 6px -6px rgba(17,17,17,0.1);
		.addon-box {
		   width:25%;
		   float:left;
		   &:last-child {
		    border-right:none;
		   }
		 }
	  .feature-box {
	    display:flex;
	    background:rgba(255,255,255,0.9);
	    padding:20px 0;
	    .feature-icon {
	      width:70px;
	      display:flex;
	      align-items:center;
	      justify-content:center;
	      font-size:30px;
	    }
	    .feature-content {
	      width:calc(100% - 70px);
	      h3 {
	        padding:0;
	        font-size:14px;
	        color:#232530;
	      }
	      .desc-text {
	        font-size:12px;
	      }
	    }
	  }
	}
}
/* ------ */
.recomended-products .owl-theme .owl-controls .owl-nav div.owl-prev, .owl-theme .owl-controls .owl-nav div.owl-next {
  border-top: none;
  border-bottom: none;
}

/* Home 3 Responsive */
@media(max-width:1599px) {
	.section-slider .home3-large-text {
 	 	width: 29vw !important;
	}
	.section-slider .home3, .section-slider .home5 {
	  left: 14% !important;
	}
	.home4-button1 {
		left:27% !important;
	}
	.home5-button2 {
		left:23% !important;
	}
}
@media(max-width:1366px) {
	.section-slider {
		.home3, .home5 {
			left:8% !important;
		}
		.home4-button1 {
			left:28% !important;
		}
		.home5-button2 {
			left:20% !important;
		}
	}
}
@media(max-width:1199px) {
	.header-center {
		.row {
			display:block;
		}
		.left {
			text-align:center;
			margin-bottom:20px;
		}
		.jms-search {
			justify-content:flex-start;
		}
	}
	.header-bottom {
		.right {
			.addon-box {
				&:nth-child(1) {
					width:100%;
				}
				&:nth-child(2) {
					display:none;
				}
			}
		}
	}
	.section-slider .home3, .section-slider .home5 {
	  left: 21% !important;
	}
	.section-slider .home5-button2 {
	  left: 32% !important;
	}

	.header-bottom .left .ver-btn .fa-caret-down {
		display:none;
	}
	.section-slider .benefit {
		width:100%;
		left:0;
	}
}
@media(max-width:991px) {
	.header-top {
		.right {
			.addon-box {
				&:nth-child(1) {
					display:none;
				}
			}
		}
	}

	.header-center {
		.right {
			.addon-box {
				&:nth-child(1) {
					display:none;
				}
			}
		}
	}

	.header-bottom {
			.left {
				width:35%;
				.addon-box:nth-child(1) {
					display:none;
				}
				.addon-box:nth-child(2) {
					display:block;
				}
			}
			.right {
				width:65%;
				.addon-box {
					&:nth-child(1) {
						width:100%;
					}
					&:nth-child(2) {
						display:none;
					}
				}
			}
		.menu-button {
			width:50px;
			height:50px;
			border:none;
			background:#232530;
			.fa {
				color:#fff;
			}
		}		
	}

	.section-slider {
		.benefit {
			position:relative;
			left:auto;
			bottom:auto;
			width:100%;
			.feature-box {
				display:block;
				text-align:center !important;
				.feature-icon {
					display:block;
					width:100%;
					margin-bottom:10px;
				}
				.feature-content {
					width:100%;
				}
			}
		}
	}

	.section-products {
		.container {
			position:relative;
		}
		.left {
			position:absolute;
			padding-left:0;
			padding-right:0;
			right:0;
			top:109px;
			z-index: 1;
			width:29.6%;
			opacity:0;
			visibility:hidden;
			transition: opacity 1.5s;
			.addon-box {
				background:#fff;
			}
			&.open {
				opacity:1;
				visibility:visible;
				transition: opacity 1.5s;
			}
			.cat-box {
				border-right:1px solid #ebebeb;
			}
		}
		.right {
			width:100%;
			padding-left:15px;
			.addon-title {
				display:block;
				margin-bottom:10px;
				h3 {
					padding:12px 0;	
					font-size:24px;
					text-transform:uppercase;
					color:#232530;
				}
			}
		}
		.jms-tab1 {
			.nav-tabs {
				li:first-child a{
					padding-left:0;
				}
			}
			.show-cat {
				display:block;
				position:absolute;
				top:0;
				right:0;
				cursor:pointer;
				padding:12px 18px;
			}
		}
		.jms-tab1:before {
			content:none;
		}
		.owl-theme .owl-controls div.owl-prev, .owl-theme .owl-controls div.owl-next {
			border-top:1px solid #ebebeb;
			border-bottom: 1px solid #ebebeb;
		}
	}
}

@media(max-width:767px) {
	.header-bottom {
		.left {
			width:40%;
		}
		.right {
			width:60%;
			.menu-button {
				right:15px;
			}
		}
	}

	.section-slider {
		.benefit {
			.addon-box {
				width:50%;
			}
		}
	}
	.section-hotdeals {
		padding:0 15px;
		.container {
			padding:0;
		}
	}

	.section-products {
		.left {
			right:15px;
		}
	}

	.section-brands {
		padding:0 15px;
	}
}

@media(max-width:480px) {
	.header-center {
		.mid {
			width:calc(100% - 70px);
		}
		.right {
			width:70px;
			.addon-box {
				margin:0;
				&:nth-child(2) {
					display:none;
				}	
				.cart_block {
					.ajax_block_cart_total {
						display:none;
					}
				}
			}
		}
		.jms-search #searchbox {
			width:100%;
		}
	}

	.header-bottom {
		.left {
			width:60%;
		}
		.right {
			width:40%;
		}
	}

	.section-products {
		.left {
			width:50%;
		}
		.jms-tab1 {
			padding-right:50px;
			.nav-tabs {
				>li {
					width:50%;
					a {
						display:block;
						padding:15px 0;
					}
				}
			}
		}
	}
	.fraction-slider {
	    height:300px !important;
	}

	.section-slider {
		.home3-medium-text {
			font-size:11px !important;
		}
		.home3-large-text {
			font-size:13px !important;
			line-height:19px !important;
		}
		.home3-small-text {
			font-size:9px !important;
			line-height:12px !important;
		}
		.home3, .home5 {
			left: 12% !important;
		}
		.home4.home4-small-text {
			font-size:11px !important;
			line-height:10px !important;
			left:25% !important
		}
		.home4.home4-large-text { 
			font-size:13px !important;
			line-height:14px !important;
			left:21% !important;
		}
		.home5.home4-small-text {
			font-size:9px !important;
			line-height:10px !important;
		}
		.home5.home4-large-text {
			font-size:13px !important;
			line-height:13px !important;
		}
		.home4-button1, .home4-button2, .home5-button1, .home5-button2 {
			font-size:9px !important;
			line-height:24px !important;
		}
		.home4-button1 {
			left:16% !important;
		}
	}

	.header-top .left {
		width: 65%;
	}
	.header-top .right {
		width: 35%;
	}
}

@media(max-width:320px) {
	.header-top {
		.left {
			width:55%;
			.addon-box {
				padding:12.5px 5px;
				a.btn-xs{
					font-size:11px;
					padding:1px 0;
				}
			}
		}
		.right {
			width:45%;
			.addon-box {
				padding:13px 0;
				a.btn-xs{
					font-size:11px;
					padding:1px 0;
				}
			}
		}
	}

	.header-center {
		padding:30px 0;
		.cat-list {
			display:none;
		}
		.input-group-search {
		  width: 15%;
		}
		.keyword-group {
		  width: 85%;
		}
	}

	.section-slider {
		.benefit {
			.addon-box {
				width:100%;
			}
		}
	}

	.header-bottom {
		.left {
			width:calc(100% - 80px);
		}
		.right {
			width:80px;
		}
	}

	.owl-theme .owl-controls div.owl-prev, 
	.owl-theme .owl-controls div.owl-next {
		width:40px;
		height:40px;
		line-height:40px;
	}
	.owl-theme .owl-controls div.owl-prev {
	  right: 40px;
	}

	.section-slider .home5-button2 {
	  left: 41% !important;
	}
	.section-slider .home4-button2 {
		left:44% !important;
	}
	.section-slider .home3-large-text {
	  width: 34vw !important;
	}

	.section-products {
		.left {
			width:70%;
			top:93px;
		}
		.right {
			.addon-title {
				h3 {
					font-size:16px;
				}
			}
		}
		.jms-tab1 .nav-tabs > li {
			width:100%;
		}
		.jms-tab1 .nav-tabs > li a {
			padding:5px 0;
		}
		.jms-tab1 .show-cat {
			padding:8px 14px;
		}
	}
}
/* -------- */