@import 'varians';
@import 'mixin';
/* Color Actives */
.header-bottom .left .ver-btn {
	background:$active-default;
	color:#fff;
}
.footer-navbar .addon-title {
	color:$active-default;
}
/* -------- */

/* Header Top */
.header-top {
	border-bottom:1px solid #ebebeb;
	.left {
		.contact-list {
			padding:12.5px 0;
			ul {
				margin-bottom:0;
				li {
					padding:0 20px;
					position: relative;
					line-height:25px;
					font-size:13px;
					&:last-child {
						padding-right:0;
						&:after {
							content:none;
						}
					}
					&:first-child {
						padding-left:0;
					}
					&:after {
						content:"";
						width:1px;
						height:25px;
						background:#ebebeb;
						position:absolute;
						right:0;
						top:calc(50% - 12.5px);
					}
					i {
						font-size:14px;
						margin-right:10px;
					}
					display:inline-block;
				}
			}
		}
	}
	.right {
		text-align:right;
		.addon-box {
			display:inline-block;
			position:relative;
			padding:12.5px 20px;
			&:after {
				content:"";
				width:1px;
				height:25px;
				background:#ebebeb;
				position:absolute;
				right:0;
				top:calc(50% - 12.5px);
			}
			&:first-child {
				padding-left:0;
			}
			&:last-child {
				padding-right:0;
				&:after {
					content:none;
				}
			}
			a.btn-xs {
				line-height:25px;
				font-size:13px;
				color:#646a7c;
				padding:0;
				i {
					margin-left:10px;
				}
			}
		}
	}
}
/* -------- */

/* Header Center */
.header-center {
	padding:35px 0;
	.container {
		position:relative;
	}
	.row {
		display:flex;
		align-items:center;
	}
	.left {
		width:22%;
	}
	.mid {
		width:56%;
		padding:0;
		position:static;
		.jms-megamenu {
			display:inline-block;
		}
		#jms-megamenu-container {
			text-align:center;
		}
	}
	.right {
		width:22%;
		display:flex;
		justify-content:flex-end;
		.icon-list {
			ul {
				display:flex;
				margin-bottom:0;
				li {
					a {
						display:inline-block;
						width:40px;
						height:40px;
						text-align:center;
						font-size:14px;
						line-height:40px;
						background:#eceff6;
						i {
							position:relative;
							left:2px;
						}
					}
					margin-right:10px;
					&:last-child {
						margin-right:0;
					}
				}
			}
		}
		.addon-box {
			&:last-child {
				margin-left:10px;
			}
		}
	}
}
#cart_block a.cart-icon {
	background:#eceff6;
}
/* ------ */

/* Header Bottom */
.header-bottom {
	background:#232530;
	.left {
		.addon-box {
			position:relative;
			&:nth-child(2) {
				display:none;
			}
			.ver-menu-mobile, .ver-menu-box {
				z-index:1001;
			}
		}
	}
	.right {
		padding-left:0; 
		.addon-box {
			float:left;
			&:nth-child(1) {
				width:77%;
				padding:5px 0;
			}
			&:nth-child(2) {
				width:23%;
				position:relative;
				&:before {	
					content:"";
					width:1px;
					height:25px;
					background:rgba(255,255,255,0.2);
					position:absolute;
					left:0;
					top:calc(50% - 12.5px);
				}
			}
		}
		ul.find-us {
	      width:100%;
	      text-align:right;
	      margin-bottom:0;
	      padding:13px 0;
	      li {
	        display:inline-block;
	        padding:0 15px;
	        a {
	          font-size:14px;
	          color:#fff;
	        }
	        &:last-child {
	        	padding-right:0;
	        }
	        &:first-child {
	        	padding-left:0;
	        }
	      }
	    }
	    .jms-search {
	    	justify-content:flex-start;
	    	#searchbox {
		    	border:none;
		    	border-radius:3px;
		    	overflow:hidden;
		    	width:87.3%;
	    	}
	    }
	    .cat-list {
		  width: 33%;
		}
		.input-group-search {
		  width: 7%;
		}
		.keyword-group {
		  width: 60%;
		}
	}
	#search_result {
	  top: 46px;
	  width: 66%;
	  .result_div {
	  	padding: 5px;
	  	background: #fff;
	  }
	}
}
/* ------ */
/* Slider */
.section-slider {
	.addon-box {
    	width:900px;
 	 }
 	 .layout-column {
 	 	display:flex;
 	 	justify-content:flex-end;
 	 }
}

.section-products {
	.right {
		.owl-stage-outer {
			border:1px solid #ebebeb;
		}
		.item {
			.product-box {
				border-bottom:1px solid #ebebeb;
				&:last-child {
					border-bottom:none;
				}
			}
		}
	}
	&.color1 {
		.left {
			.addon-box:first-child .addon-title{
				background:#efd40b;
			}
		}
	}
	&.color2 {
		.left {
			.addon-box:first-child .addon-title{
				background:#fdbe21;
			}
		}
	}
	&.color3 {
		.left {
			.addon-box:first-child .addon-title{
				background:#24b6ec;
			}
		}
	}
	&.color4 {
		.left {
			.addon-box:first-child .addon-title{
				background:#f8528c;
			}
		}
	}
	&.color5 {
		.left {
			.addon-box:first-child .addon-title{
				background:#c732ec;
			}
		}
	}
}
#index {
	.ver-menu-box {
		display:block;
		opacity:1;
		visibility:visible;
	}
	.open .ver-menu-box {
		display:none;
		opacity:0;
		visibility:hidden;
	}
}

/* Home 2 Responsive */
	@media(max-width:1199px) {
		#index .ver-menu-box {
		  display: none;
		  opacity: 0;
		  visibility: hidden;
		}
		#index .open .ver-menu-box {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		}

		.header-center {
			.row {
				display:block;
			}
			.left {
				width:100%;
				text-align:center;
				margin-bottom:15px;
			}
			.mid {
				width:75%;
				padding:0 15px;
				#jms-megamenu-container {
					text-align:left;
				}
				.jms-megamenu .nav > li:first-child {
					padding-left:0;
				}
			}
			.right {
				width:25%;
				padding:5px 15px;
			}
		}

		.section-slider .home1 .medium-text {
		  width: 27vw;
		}

		.header-bottom {
			.left {
				width:30%;
			}
			.right {
				width:70%;
				ul.find-us li {
					padding:0 10px;
				}
			}
		}


		.section-slider {
			.addon-box {
		    	width:100%;
		 	 }
		}
		.jms-slider-wrapper .slider {
			max-width:100% !important;
		}

		.section-services {
			.feature-box {
				display:block;
				text-align:center !important;
				.feature-icon {
					display:block;
					width:100%;
					margin-bottom:10px;
				}
				.feature-content {
					width:100%;
				}
			}	
		}
	}
	@media(max-width:991px){
		.menu-wrap {
			right:auto !important;
		  	left: -320px !important;
		  	transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
		}
		.show-menu .menu-wrap {
			right:auto !important;
		  	left: 0 !important;
		  	transition: left 0.4s cubic-bezier(0.7, 0, 0.3, 1) 0s !important;
		}

		.header-center {
			.mid {
				width:70px;
				position:relative;
			}
			.right {
				width:calc(100% - 70px);
				padding:0 15px;
			}
			.menu-button {
				right:auto;
				left:15px;
			}
		}

		.header-bottom {
			.left {
				width:35%;
			}
			.right {
				width:65%;
				.addon-box {
					&:nth-child(1) {
						width:100%;
					}
					&:nth-child(2) {
						display:none;
					}
				}
				.jms-search {
					justify-content:flex-end;
				}
			}
		}

		.section-products {
		.container {
			position:relative;
		}
		.left {
			position:absolute;
			padding-left:0;
			padding-right:0;
			right:0;
			top:49px;
			z-index: 1;
			width:35%;
			opacity:0;
			visibility:hidden;
			transition: opacity 1.5s;
			&.open {
				opacity:1;
				visibility:visible;
				transition: opacity 1.5s;
			}
			.cat-box {
				border-right:1px solid #ebebeb;
			}
			.addon-box {
				background:#fff;
			}
		}
		.right {
			width:100%;
			padding-left:15px;
			.addon-title.fix-title {
				display:block;
				margin-bottom:10px;
				position:relative;
				h3 {
					padding:11px 0;	
					font-size:24px;
					text-transform:uppercase;
					color:#232530;
					background:none;
					&:before, &:after {
						content:none;
					}
				}
				.show-cat {
					display:block;
					position:absolute;
					top:0;
					right:0;
					cursor:pointer;
					padding:12px 18px;
				}
			}
		}
		.owl-theme .owl-controls .owl-nav div.owl-prev, .owl-theme .owl-controls .owl-nav div.owl-next {
			border-top:1px solid #ebebeb;
			border-bottom: 1px solid #ebebeb;
		}
	}

		.section-services {
			.addon-box {
				border-bottom:1px solid #fff;
				width:50%;
				&:nth-child(3), &:nth-child(4) {
					border-top:none;
				}
			}
		}
	}

	@media(max-width:767px) {
		.header-top {
			.left {
				display:none;
			}
			.right {
				width:100%;
				text-align:center;
			}
		}

		.header-bottom {
			.left {
				width:40%;
			}
			.right {
				width:60%;
			}
		}

		.section-brands {
			padding:0 15px;
		}

		.section-products .left {
			right:15px;
		}

		.section-hotdeals {
			padding:0 15px;
			.container {
				padding-left:0;
				padding-right:0;
			}
		}
	}

	@media(max-width:480px) {
		.header-top {
			.left {
				display:none;
			}
			.right {
				width:100%;
				text-align:center;
			}
		}
		.header-center {
			.ajax_block_cart_total {
				display:none;
			}
		}
		.header-bottom {
			.left {
				width:85px;
				.ver-btn {
					font-size:0;
					padding:12px 0;
					text-align:center;
					width:50px;
					i {
						position:relative;
						top:2px;
						margin-right:0;
					}
				}
				.ver-menu-box {
					width:320px;
				}
			}
			.right {
				width:calc(100% - 85px);
				.cat-list {
					display:none;
				}
				.keyword-group {
					width:85%;
				}
				.input-group-search {
					width:15%;
				}
			}
		}

		.section-products {
			.left {
				width:50%;
				right:15px;
			}
			.jms-tab1 {
				padding-right:50px;
				.nav-tabs {
					>li {
						width:50%;
						a {
							display:block;
							padding:15px 0;
						}
					}
				}
			}
		}
	}

	@media(max-width:320px) {
		.header-top {
			.right {
				padding:0;
				.addon-box {
					padding:12.5px 7px;
					a.btn-xs {
						font-size:12px;
					}
					&:after {
						display:none;
					}
					&:first-child {
						.dropdown-menu {
							right:auto;
							left:0;
						}
					}
				}
			}
		}
		.header-center {
			padding:25px 0;
		}
		.header-bottom .right .jms-search #searchbox {
			width:100%;
		}
		.header-bottom #search_result {
			width:93%;
		}
		.section-slider .home1 .large-text {
		  font-size:14px !important;
		}
		.section-slider .home1 .medium-text {
			font-size:8px !important;
			width:40vw;
		}
		.section-slider .home1 .small-text {
			font-size:8px;
		}
		.section-slider .home1-button{
			top:70% !important;
		}

		.owl-theme .owl-controls div.owl-prev, 
		.owl-theme .owl-controls div.owl-next {
			width:40px;
			height:40px;
			line-height:40px;
		}
		.owl-theme .owl-controls div.owl-prev {
	  		right: 40px;
		}

		.section-products .right .addon-title.fix-title h3 {
			font-size:16px;
			line-height:26px;
		}

		.section-products .left {
			width:80%;
		}

		.section-services .addon-box {
			width:100%;
		}
	}
/* ------ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	
}
