/* Active Color */
@import 'varians';
.header-bottom .container {
  background: $active-default;
}
.header-bottom .left .ver-btn:hover {
	color:#fff;
}
/* ------- */
.header-top {
	.left {
		.contact-list {
			padding:12.5px 0;
			ul {
				margin-bottom:0;
				li {
					padding:0 20px;
					position: relative;
					line-height:25px;
					font-size:13px;
					&:last-child {
						padding-right:0;
						&:after {
							content:none;
						}
					}
					&:first-child {
						padding-left:0;
					}
					&:after {
						content:"";
						width:1px;
						height:25px;
						background:#ebebeb;
						position:absolute;
						right:0;
						top:calc(50% - 12.5px);
					}
					i {
						font-size:14px;
						margin-right:10px;
					}
					display:inline-block;
				}
			}
		}
	}
	.right {
		text-align:right;
		.btn-group {
			position:static;
		}
		.dropdown-menu {
			left:auto;
			right:0;
		}
		.addon-box {
			display:inline-block;
			position:relative;
			padding:12.5px 20px;
			&:after {
				content:"";
				width:1px;
				height:25px;
				background:#ebebeb;
				position:absolute;
				right:0;
				top:calc(50% - 12.5px);
			}
			&:first-child {
				padding-left:0;
			}
			&:last-child {
				padding-right:0;
				&:after {
					content:none;
				}
			}
			a.btn-xs {
				line-height:25px;
				font-size:13px;
				color:#646a7c;
				padding:0;
				i {
					margin-left:10px;
				}
			}
		}
	}
}
/* Slider */
.section-slider {
	.addon-box {
    	width:900px;
 	 }
 	 .layout-column {
 	 	display:flex;
 	 	justify-content:flex-end;
 	 }
}

/* Header Center */
.header-center {
	background:#fff;
	.row {
		display:flex;
		align-items:center;
	}
	.right {
		display:flex;
		justify-content:flex-end;
		.icon-list {
			ul {
				display:flex;
				margin-bottom:0;
				li {
					a {
						display:inline-block;
						width:40px;
						height:40px;
						text-align:center;
						font-size:14px;
						line-height:40px;
						background:#fff;
						i {
							position:relative;
							left:2px;
						}
					}
					margin-right:10px;
					&:last-child {
						margin-right:0;
					}
				}
			}
		}
		.addon-box {
			&:last-child {
				margin-left:10px;
			}
		}
	}
	#search_result {
		left: 5.5%;
		top: 43px;
		width: 91%;
		.result_div {
	  		padding: 5px;
	  		background: #fff;
	  	}
	}
}
/* ------ */
.jms-megamenu .nav > li > a {
	color:#fff;
}
/* Header Bottom */
.header-bottom {
	background: #fff;
	.container {
		position:relative;
	}
	.left {
		.addon-box {
			position:relative;
			&:nth-child(2) {
				display:none;
			}
			.ver-menu-mobile, .ver-menu-box {
				z-index:1001;
			}
		}
	}
	.right {
		padding-left:0;
		display:flex;
		position:static;
		.addon-box {
			&:nth-child(1) {
				width:76%;
			}
			&:nth-child(2) {
				width:24%;
				padding-right:15px;
				position:relative;
				&:before {
					content:"";
					width:1px;
					height:20px;
					background:rgba(255,255,255,0.2);
					position:absolute;
					left:0;
					top:calc(50% - 10px);
				}
			}
		}
		ul.find-us {
	      width:100%;
	      text-align:right;
	      margin-bottom:0;
	      padding:13px 0;
	      li {
	        display:inline-block;
	        padding:0 15px;
	        a {
	          font-size:14px;
	          color:#fff;
	        }
	      }
	    }
	}
}
/* ------- */
#index {
	.ver-menu-box {
		display:block;
		opacity:1;
		visibility:visible;
	}
	.open .ver-menu-box {
		display:none;
		opacity:0;
		visibility:hidden;
	}
}
/* Home 1 Responsive */
@media(max-width:1199px) {
	.header-bottom {
		.left {
			width:30%;
		}
		.right {
			width:70%;
			.addon-box {
				&:nth-child(1) {	
					width:100%;
				}
				&:nth-child(2) {
					display:none;
				}
			}
			ul.find-us li {
				padding:0 6px;
			}
		}
	}
	#index .ver-menu-box {
	  display: none;
	  opacity: 0;
	  visibility: hidden;
	}
	#index .open .ver-menu-box {
	  display: block;
	  opacity: 1;
	  visibility: visible;
	}

	.section-slider {
	.addon-box {
    	width:100%;
 	 }
	}
	.section-slider .responisve-container {
	  width: 100%;
	}
	.jms-slider-wrapper .slider {
		max-width:100% !important;
	}
	.section-slider .home1 .medium-text {
	  width: 27vw;
	}
	.section-services {
		.feature-box {
			display:block;
			text-align:center !important;
			.feature-icon {
				display:block;
				width:100%;
				margin-bottom:10px;
			}
			.feature-content {
				width:100%;
			}
		}	
	}

	.footer-navbar {
		.second {
			.addon-title {
				padding-top:0;
			}
		}
		.third {
			clear:left;
		}
	}
}
@media(max-width:991px) {
	.header-center {
		.row {
			display:block;
		}
		.left {
			text-align:center;
			margin-bottom:25px;
		}
		.jms-search #searchbox {
	  		width: 100%;
		}
	}
	.header-bottom {
		.container {
			position:relative;
		}
		.left {
			width:35%;
			.addon-box:nth-child(1) {
				display:none;
			}
			.addon-box:nth-child(2) {
				display:block;
			}
		}
		.right {
			width:65%;
			position:static;
			.addon-box:nth-child(2) {
				display:none;
			}
			.menu-button {
				width:50px;
				height:50px;
				background:#232530;
				color:#fff;
				border:none;
				.fa {
					color:#fff;
				}
			}
		}
	}

	.section-products {
		.container {
			position:relative;
		}
		.left {
			position:absolute;
			padding-left:0;
			padding-right:0;
			right:0;
			top:109px;
			z-index: 1;
			width:29.6%;
			opacity:0;
			visibility:hidden;
			transition: opacity 1.5s;
			&.open {
				opacity:1;
				visibility:visible;
				transition: opacity 1.5s;
			}
			.cat-box {
				border-right:1px solid #ebebeb;
			}
			.addon-box {
				background:#fff;
			}
		}
		.right {
			width:100%;
			padding-left:15px;
			.addon-title {
				display:block;
				margin-bottom:10px;
                                text-align: center;
				h3 {
                                        text-align: center !important;
					padding:12px 0;	
					font-size:24px;
					text-transform:uppercase;
					color:#232530;
				}
			}
			.owl-theme .owl-controls div.owl-prev, .owl-theme .owl-controls div.owl-next {
				border-top:1px solid #ebebeb;
				border-bottom:1px solid #ebebeb;
			}
		}
		.jms-tab1 {
			.nav-tabs {
				li:first-child a{
					padding-left:0;
				}
			}
			.show-cat {
				display:block;
				position:absolute;
				top:0;
				right:0;
				cursor:pointer;
				padding:12px 18px;
			}
		}
		.jms-tab1:before {
			content:none;
		}
		.owl-theme .owl-controls .owl-nav div.owl-prev, .owl-theme .owl-controls .owl-nav div.owl-next {
			border-top:1px solid #ebebeb;
			border-bottom: 1px solid #ebebeb;
		}
	}
	.section-services {
		.addon-box {
			border-bottom:1px solid #fff;
			width:50%;
			&:nth-child(3), &:nth-child(4) {
				border-top:none;
			}
		}
	}
}

@media(max-width:767px){
	.header-top {
		.left {
			display:none;
		}
		.right {
			width:100%;
			text-align:center;
		}
	}

	.header-bottom {
		.left {
			width:40%;
		}
		.right {
			width:60%;
			.menu-button {
				right:15px;
			}
		}
	}

	.section-hotdeals {
		padding:0 15px;
		.container {
			padding:0;
		}
	}

	.section-products {
		.left {
			right:15px;
		}
	}

	.section-brands {
		padding:0 15px;
	}
	.header-center .cat-list::after {
		content:none;
	}
}

@media(max-width:480px) {
	.header-top {
		.left {
			display:none;
		}
		.right {
			width:100%;
			text-align:center;
		}
	}

	.header-center {
		.mid {
			width:calc(100% - 70px);
		}
		.right {
			width:70px;
			.addon-box {
				margin:0;
				&:nth-child(1) {
					display:none;
				}	
				.cart_block {
					.ajax_block_cart_total {
						display:none;
					}
				}
			}
		}
	}

	.header-bottom {
		.left {
			width:60%;
		}
		.right {
			width:40%;
		}
	}

	.section-products {
		.left {
			width:50%;
		}
		.jms-tab1 {
			padding-right:0px !important; 
			.nav-tabs {
				>li {
					width:50%;
					a {
						display:block;
						padding:15px 0;
					}
				}
			}
		}
	}
}

@media(max-width:320px) {
	.header-top {
		.right {
			padding:0;
			.addon-box {
				padding:12.5px 7px;
				a.btn-xs {
					font-size:12px;
				}
				&:after {
					display:none;
				}
				&:first-child {
					.dropdown-menu {
						right:auto;
						left:0;
					}
				}
			}
		}
	}

	.header-center {
		padding:30px 0;
		.cat-list {
			display:none;
		}
		.input-group-search {
		  width: 15%;
		}
		.keyword-group {
		  width: 85%;
		}
	}

	.header-bottom {
		.left {
			width:calc(100% - 80px);
		}
		.right {
			width:80px;
		}
	}

	.section-slider .home1 .large-text {
	  font-size:14px !important;
	}
	.section-slider .home1 .medium-text {
		font-size:8px !important;
		width:40vw;
	}
	.section-slider .home1 .small-text {
		font-size:8px;
	}
	.section-slider .home1-button{
		top:70% !important;
	}
	
	.owl-theme .owl-controls div.owl-prev, 
	.owl-theme .owl-controls div.owl-next {
		width:40px;
		height:40px;
		line-height:40px;
	}
	.owl-theme .owl-controls div.owl-prev {
	  right: 40px;
	}

	.section-hotdeals {
		.hotdeal-box .product-info .product-desc {
			padding-right:5%;
		}
		.countdown {
			.countdown-row {
				.countdown-section {
					padding:9.5px 0;
					.countdown-amount {
						font-size:16px;
					}
				}
			}
		}
	}
	.section-products {
		.left {
			width:80%;
			top:93px;
		}
		.right {
			.addon-title {
				h3 {
                                        text-align:center;
					font-size:16px;
				}
			}
		}
		.jms-tab1 .nav-tabs > li {
			width:100%;
		}
		.jms-tab1 .nav-tabs > li a {
			padding:5px 0;
		}
		.jms-tab1 .show-cat {
			padding:8px 14px;
		}
	}
	
	.section-services .addon-box {
		width:100%;
	}

	.recomended-products .owl-theme .owl-controls .owl-nav div.owl-prev, .recomended-products .owl-theme .owl-controls .owl-nav div.owl-next {
		border-top:1px solid #ebebeb;
		border-bottom:1px solid #ebebeb;
	}
}
/* ------ */
/* Fix CSS in Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.header-center .input-group-search {
    	width: 10.1%;
	}
}
/* ------- */

.header-center {
padding:5px 0;
}

@media (max-width: 991px)
.section-products .right .addon-title {
    text-align: center !important;
}














