@import 'varians';
@import 'mixin';
/* Active Color */
.header-bottom {
	background:$active-default;
}
.header-center .left .contact-box .info span.phone {
	color:$active-default;
}
/* ------ */
/* Header Top */
.header-top {
	border-bottom:1px solid #ebebeb;
	.left {
		text-align:left;
		.addon-box {
			display:inline-block;
			position:relative;
			padding:12.5px 20px;
			&:after {
				content:"";
				width:1px;
				height:25px;
				background:#ebebeb;
				position:absolute;
				right:0;
				top:calc(50% - 12.5px);
			}
			&:first-child {
				padding-left:0;
			}
			&:last-child {
				padding-right:0;
				&:after {
					content:none;
				}
			}
			a.btn-xs {
				line-height:25px;
				font-size:13px;
				color:#646a7c;
				padding:0;
				i {
					margin-left:10px;
				}
			}
		}
		.address {
			i {
				margin-right:10px;
			}
		}
	}
	.right {
		text-align:right;
		.addon-box {
			display:inline-block;
			padding:13px 15px;
			position:relative;
			&:after {
				content:"";
				width:1px;
				height:25px;
				background:#ebebeb;
				position:absolute;
				right:0;
				top:calc(50% - 12.5px);
			}
			&:last-child {
				padding-right:0;
				&:after {
					content:none;
				}
			}
			&:first-child {
				padding-left:0;
			}
			a.btn-xs {
				color:#646a7c;
				font-size:13px;
				i {
					font-size:14px;
					margin-left:10px;
				}
			}
		}
	}
}
/* ------ */

/* Header Center */
.header-center {
	padding:40px 0;
	.row{
		display:flex;
		align-items:center;
	}
	.left {
		.contact-box {
			display:flex;
			align-items:center;
			.contact-icon {
				display:inline-block;
				width:33px;
				height:31px;
				background:url("../img/icon/contact_icon.png");
			}
			.info {
				padding-left:20px;
				line-height:1.2;
				span {
					font-size:12px;
					display:block;
					&.phone {
						font-size:18px;
						font-weight:600;
					}
				}
			}
		}
	}
	.mid {
		text-align:center;
	}
	.right {
		display:flex;
		justify-content:flex-end;
		.icon-list {
			ul {
				display:flex;
				margin-bottom:0;
				li {
					a {
						display:inline-block;
						width:40px;
						height:40px;
						text-align:center;
						font-size:14px;
						line-height:40px;
						background:#eceff6;
						i {
							position:relative;
							left:2px;
						}
					}
					margin-right:10px;
					&:last-child {
						margin-right:0;
					}
				}
			}
		}
		.addon-box {
			&:nth-child(1) {
				padding-right:10px;
			}
		}
	}
}
#cart_block a.cart-icon {
	background:#eceff6;
}
/* ------- */
/* Header Bottom */
.header-bottom {
	.container {
		position:relative;
	}
	.right {
		padding-left:0;
		display:flex;
		position:static;
		.jms-megamenu .nav > li > a {
			color:#fff;
		}
		.addon-box {
			&:nth-child(1) {
				width:77%;
			}
			&:nth-child(2) {
				width:23%;
				position:relative;
				&:before {
					content:"";
					width:1px;
					height:20px;
					background:rgba(255,255,255,0.2);
					position:absolute;
					left:0;
					top:calc(50% - 10px);
				}
			}
			ul.find-us {
			    width:100%;
			    text-align:right;
			    margin-bottom:0;
			    padding:13px 0;
			    li {
			       display:inline-block;
			       padding:0 14px;
			    	a {
			        	font-size:14px;
			          color:#fff;
			        }
			        &:last-child {
			        	padding-right:0;
			        }
			    }
			}
		}
	}
	#jms_ajax_search {
		margin-left:0;
		width:78%;
		height:50px;
		#search_result {
			width:130%;
		}
	}
}

/* ------- */
/* Slider */
.section-slider {
	.benefit {
		position:absolute;
		width:1170px;
		padding:0;
		bottom:30px;
		left:calc(50% - 585px);
		z-index: 1000;
		box-shadow: 0 10px 6px -6px rgba(17,17,17,0.1);
		.addon-box {
		   width:25%;
		   float:left;
		   &:last-child {
		    border-right:none;
		   }
		 }
	  .feature-box {
	    display:flex;
	    background:rgba(255,255,255,0.9);
	    padding:20px 0;
	    .feature-icon {
	      width:70px;
	      display:flex;
	      align-items:center;
	      justify-content:center;
	      font-size:30px;
	    }
	    .feature-content {
	      width:calc(100% - 70px);
	      h3 {
	        padding:0;
	        font-size:14px;
	        color:#232530;
	      }
	      .desc-text {
	        font-size:12px;
	      }
	    }
	  }
	}
}
/* Home 5 Responsive */
@media(max-width:1599px) {
	.section-slider .home3-large-text {
 	 	width: 29vw !important;
	}
	.section-slider .home3, .section-slider .home5 {
	  left: 14% !important;
	}
	.home4-button1 {
		left:27% !important;
	}
	.home5-button2 {
		left:23% !important;
	}
}

@media(max-width:1366px) {
	.section-slider {
		.home3, .home5 {
			left:8% !important;
		}
		.home4-button1 {
			left:28% !important;
		}
		.home5-button2 {
			left:20% !important;
		}
	}
}
@media(max-width:1199px) {
	.header-bottom {
		.right {
			.addon-box {
				&:nth-child(2) {
					display:none;
				}
				&:nth-child(1) {
					width:100%;
				}
			}
		}
		#jms_ajax_search {
			width:100%;
		}
	}
	.section-slider .benefit {
		width:100%;
		left:0;
	}
	.section-slider .home3-large-text {
 	 	width: 29vw;
	}
}
@media(max-width:991px) {
	.header-top {
		.left {
			.addon-box {
				&:nth-child(3) {
					display:none;
				}
			}
		}
		.right {
			.dropdown-menu {
				left:auto;
				right:0;
			}
		}
	}

	.header-center {
		.left {
			display:none;
		}
		.mid {
			text-align:left;
		}
	}

	.header-bottom {
		.right {
			.addon-box {
				&:nth-child(2) {
					display:none;
				}
			}
			position:relative;
			padding-left:15px;
		}
		.menu-button {
			width:50px;
			height:50px;
			border:none;
			background:#232530;
			.fa {
				color:#fff;
			}
		}
	}

	.section-slider {
		.benefit {
			position:relative;
			left:auto;
			bottom:auto;
			width:100%;
			.feature-box {
				display:block;
				text-align:center !important;
				.feature-icon {
					display:block;
					width:100%;
					margin-bottom:10px;
				}
				.feature-content {
					width:100%;
				}
			}
		}
	}

	.section-banners {
		.left {
			width:100%;
			padding-left:15px;
			padding-right:15px;		
			margin-bottom:15px;
		}
		.right {
			width:100%;
			padding-left:15px;
			padding-right:15px;
		}
	}
}

@media(max-width:767px) {
	.header-bottom {
		.menu-button {
			right:15px;
		}
		.left {
			width:50%;
		}
		.right {
			width:50%;
		}
	}

	.section-slider {
		.benefit {
			.addon-box {
				width:50%;
			}
		}
	}
}

@media(max-width:480px) {
	.header-top {
		.left {
			width:60%;
		}
		.right {
			width:40%;
		}
	}

	.header-center {
		.cart_block {
			.ajax_block_cart_total {
				display:none;
			}
		}
	}

	.header-bottom {
		.left {
			width:60%;
		}
		.right {
			width:40%;
			.menu-button {
				right:15px;
			}
		}
		#jms_ajax_search {
			width:100%;
		}
	}
	.fraction-slider {
	    height:300px !important;
	}

	.section-slider {
		.home3-medium-text {
			font-size:11px !important;
		}
		.home3-large-text {
			font-size:13px !important;
			line-height:19px !important;
		}
		.home3-small-text {
			font-size:9px !important;
			line-height:12px !important;
		}
		.home3, .home5 {
			left: 12% !important;
		}
		.home4.home4-small-text {
			font-size:11px !important;
			line-height:10px !important;
			left:25% !important
		}
		.home4.home4-large-text { 
			font-size:13px !important;
			line-height:14px !important;
			left:21% !important;
		}
		.home5.home4-small-text {
			font-size:9px !important;
			line-height:10px !important;
		}
		.home5.home4-large-text {
			font-size:13px !important;
			line-height:13px !important;
		}
		.home4-button1, .home4-button2, .home5-button1, .home5-button2 {
			font-size:9px !important;
			line-height:24px !important;
		}
		.home4-button1 {
			left:16% !important;
		}
		.home5-button2 {
			left:34% !important;
		}
	}

	.section-banners {
		.left {
			.banner-text .large-text {
				font-size:80px;
			}
		}
		.right {
			.addon-box {
				&:nth-child(1), &:nth-child(2) {
					width:100%;
					margin-right:0;
				}
				margin-bottom:15px;
				&:last-child {
					margin-bottom:0;
				}
			}
			.banner-text {
				.large-text {
					font-size:22px;
				}
			}
		}
	}
}

@media(max-width:320px) {
	.header-top {
		.left {
			width:55%;
			padding-right:0;
			.addon-box {
				padding:12.5px 5px;
				a.btn-xs{
					font-size:11px;
					padding:1px 0;
				}
				&:nth-child(2) {
					padding-right:0;
				}
				&:after {
						content:none;
					}
			}
		}
		.right {
			width:45%;
			.addon-box {
				padding:13px 0;
				a.btn-xs{
					font-size:11px;
					padding:1px 0;
				}
			}
		}
	}
	.header-bottom {
		.left {
			width:calc(100% - 80px);
		}
		.right {
			width:80px;
		}
	}

	.section-slider {
		.benefit {
			.addon-box {
				width:100%;
			}
		}
	}

	.section-slider .home5-button2 {
	  left: 41% !important;
	}
	.section-slider .home4-button2 {
		left:44% !important;
	}
	.section-slider .home3-large-text {
	  width: 34vw !important;
	}

	.section-categorytab {
		.jms-tab1 {
			border:none;
			border-radius:0;
			.nav-tabs {
				>li {
					width:100%;
					border-bottom:1px solid #fff;
					&:last-child {
						border-bottom:none;
					}
					a {
						display:block;
						padding:5px 0;
						border-right:none;
					}
				}
			}
		}
	}
}
/* ------- */
