.newsletter_block_left .title h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px; }
.newsletter_block_left .form-group {
  position: relative; 
  width:83%;
  display:flex;
  margin-bottom:0;
}
.newsletter-input {
  height: 40px;
  border:1px solid rgba(255,255,255,0.3) !important;
  border-right:none;
  padding: 0 10px 0 10px; 
  border-radius:2px;
  width:calc(100% - 120px);
  background:none;
  color: #fff;
}
.newsletter_block_left .alert {
  display: block; 
}
.newsletter_block_left button {
  border: none;
  background:#fff;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  padding:8px 25px;
  letter-spacing:0.05em;
  text-transform:uppercase;
  font-weight:500;
}
