
.bridge{
    margin: 20px 0;
    padding: 0 20px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #777;
    line-height: 1.5;
    position: relative;
}
.bridge p{
    font-size: 14px;
    font-weight: 400;
}

.bridge .text-center{
    text-align: center;
}
.bridge .space-top{
    margin-top: 15px
}
.bridge .space-bottom{
    margin-bottom: 15px
}

.bridge .container{
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: 40px 20px;
    margin: 20px 5%;
    overflow: hidden;
}

.bridge .store-key{
    display: none;
}

.bridge .store-key span{
    display: inline-block;
}

.bridge .store-key-title{
    font-weight: 600;
    text-transform: uppercase;
}

.bridge .store-key-content{
    min-width: 300px;
}

.message {
    display: none;
    opacity: 0.9;
    position: absolute;
    background: #2876c4;
    top: 20px;
    right: 5%;
    padding: 20px 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

.clearfix:after {
    content: "";
    visibility: hidden;
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
}

.btn-connect,
.btn-disconnect,
.btn-update-store-key{
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 5px 15px;
    text-decoration:none;
    outline: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-connect,
.btn-disconnect{
    background-color: #2876c4;
    min-width: 190px;
    padding: 15px 50px;
    margin: 15px 0;
}
.btn-disconnect{
    display: none;
    background-color: #4f5459;
}

.btn-update-store-key {
    font-size: 11px;
    border: 1px solid #989FA7;
    background-color: #fff;
    color: #4f5459;
}

.btn-connect:hover,
.btn-update-store-key:hover{
    outline: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-update-store-key:hover{
    background-color: #4f5459;
    color: #fff;
}

.btn-connect:hover{
    background-color: #3782d3;
}

.btn-disconnect:hover{
    background-color: #60656c;
}

.btn-connect:active,
.btn-disconnect:hover:active,
.btn-update-store-key:active{
    position:relative;
    top:1px;
}
.btn-connect:disabled,
.btn-connect:disabled:hover {
    background-color: #3782d3;
    opacity: 0.5;
    cursor: default;
}

.btn-disconnect:disabled,
.btn-disconnect:disabled:hover {
    background-color: #60656c;
    opacity: 0.5;
    cursor: default;
}

@-webkit-keyframes progress-bar-stripes {
    from {background-position: 0 0;}
    to {background-position: 40px 0;}
}
@keyframes progress-bar-stripes {
    from {background-position: 0 0;}
    to {background-position: 40px 0;}
}
.progress {
    display: none;
    max-width: 600px;
    margin: 30px auto 20px;
    overflow: hidden;
    height: 12px;
    background-color: #DCE0E3;
}
.progress-dark {
    background-color: #4D575F;
}
.progress-bar {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    background-color: #e0e0e0;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(-45deg, #f1f1f1 25%, transparent 25%, transparent 50%, #f1f1f1 50%, #f1f1f1 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, #f1f1f1 25%, transparent 25%, transparent 50%, #f1f1f1 50%, #f1f1f1 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, #f1f1f1 25%, transparent 25%, transparent 50%, #f1f1f1 50%, #f1f1f1 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

#content-block-manage {
    text-align: left;
}